{% extends 'layout.html' %}
{% load static %}

{% block stylesheets %}
<link
    rel="stylesheet"
    href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css"
    type="text/css"
    media="screen"
/>
{% endblock stylesheets %}

{% block content %}
<!-- Main Content -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title">Slides</h4>
                <span class="d-flex flex-row justify-content-between mt-md-1 align-items-center">
                    <small class="card-subtitle">Disponibles para armar</small>
                    <button type="button" class="btn btn-primary" id="btnArmarSlide">
                        ARMAR
                    </button>
                </span>
            </header>
            <section class="card-body table-responsive">
                <table class="table table-bordered table-striped zero-configuration"></table>
            </section>
        </div>
    </div>
</div>

<!-- End Main Content -->

<!-- Modal Dialogs -->

<!-- SLIDE BUILD MODAL -->

<div class="modal fade" id="dlgArmarSlide" tabindex="-1" aria-labelledby="btnArmarSlide" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Armar Slides</h5>
                <button type="button" class="btn btn-warning btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container-fluid">
                <form id="formArmarSlide">
                    <div class="row mb-3">
                        <label for="buildAt" class="col-md-4 col-form-label text-right">Fecha armado:</label>
                        <div class="col-md-2">
                            <input type="datetime-local" class="form-control" id="buildAt">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button
                                id="btnDeleteSelected"
                                type="button"
                                class="btn btn-danger"
                            >
                                Borrar Seleccionadas
                            </button>
                        </div>
                        <div class="col-md-2">
                            <select id="selectCase" style="width: 100%"></select>
                        </div>
                        <div class="col-md-2">
                            <select id="selectUnit" style="width: 100%"></select>
                        </div>
                        <div class="col-md-2">
                            <select id="selectCassette" style="width: 100%"></select>
                        </div>
                        <div class="col-md-1">
                            <select id="selectStain" style="width: 100%">
                                {% for stain in stains %}
                                <option value="{{ stain.id }}">{{ stain.abbreviation }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input placeholder="Cantidad" class="form-control" id="inputQty" type="text" value="1"/>
                        </div>
                        <div class="col-md-1">
                            <button
                                id="btnCreateSlide"
                                type="button"
                                class="btn btn-success"
                            >
                                Agregar
                            </button>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-12 table-responsive">
                            <table
                                class="table table-sm table-striped w-100"
                                id="tableBuildDialog"
                            >
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">
                    Cancelar
                </button>
                <button id="btnSaveSlide" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- End Modal Dialogs -->

{% endblock content %}
{% block scripts %}
<script
    type="text/javascript"
    src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"
    defer>
</script>

<script
    type="text/javascript"
    src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"
    defer>
</script>

<script
    type="text/javascript"
    src="//cdn.jsdelivr.net/npm/sweetalert2@10"
    defer>
</script>

<script type="text/javascript">
 const data = {{slides|safe}}
 const slides = data.map((row) => {
     return {
         "case": JSON.parse(row.case)[0],
         "identification": JSON.parse(row.identification)[0],
         "unit": JSON.parse(row.unit)[0],
         "cassette": JSON.parse(row.cassette)[0],
         "caseUrl": Urls["lab:case_detail"](JSON.parse(row.case)[0].pk)
     }
 })
</script>


<script type="text/javascript"
        src="{% static 'lab/js/slide-build.js' %}"
        defer>
</script>
{% endblock scripts %}
