{% extends 'layout.html' %}
{% load static %}

{% block stylesheets %}
<link
    rel="stylesheet"
    href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css"
    type="text/css"
    media="screen"
/>
{% endblock stylesheets %}

{% block content %}
<!-- Main Content -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title">Slides</h4>
                <small class="card-subtitle">Slides disponibles para lectura</small>
                <section class="row mt-2">
                    <div class="col-md-7 offset-md-1 input-group">
                        <input class="form-control" type="datetime-local" id="releaseAt"/>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" id="btnRelease">
                                Guardar disponibilizacion para los selecionados
                            </button>
                        </div>
                    </div>
                </section>
            </header>
            <section class="card-body table-responsive">
                <table class="table table-bordered table-striped" id="datatable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Slide</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for slide in slides %}
                        <tr>
                            <td>{{ slide.id }}</td>
                            <td>{{ slide.tag }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>

<!-- End Main Content -->

{% endblock content %}
{% block scripts %}
<script
    type="text/javascript"
    src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"
    defer>
</script>

<script
    type="text/javascript"
    src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"
    defer>
</script>

<script
    type="text/javascript"
    src="//cdn.jsdelivr.net/npm/sweetalert2@10"
    defer>
</script>

<script type="text/javascript"
        src="{% static 'lab/js/slide-release.js' %}"
        defer>
</script>

{% endblock scripts %}
