{% load static %}
<fieldset>
  <div id="step_{{ step_tab }}">

    <input type="hidden" id="step_id" name="step_id" value="{{step_id}}">
    <input type="hidden" id="step_tag" name="step_tag" value="{{step_tag}}">
    <input type="hidden" id="form_id" name="form_id" value="{{form_id}}" >
    <input type="hidden" id="form_parent_id" name="form_parent_id" value="{{form_parent_id}}" >
    <input type="hidden" id="analysis_id" name="analysis_id" value="{{analysis_id}}" >

    <h4 class="form-section">
      <i class="ft-user"></i> Generación Informe
    </h4>
    <div class="row">          
      <div class="col-md-10 offset-md-1">
        <div class="card" style="border-style:solid; border-width:1px;">
          <div class="card-header">
            <div class="col-md-12">
              <!-- <img src="..." class="rounded float-left" alt="..."> -->
              <img alt="" src="{% static 'assets/images/logo/logo.png' %}" class="img-fluid float-left" width="200px">
            </div>
          </div>
          <div class="card-content">
            <div class="card-body">
              <div class="col-md-12" style="padding-bottom:3% !important;">
                <center><h3 class="text-danger"><strong>INFORME RESULTADOS</strong></h3></center>
              </div>
              <div class="col-md-12">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td class="danger">N° Caso</td>
                      <td colspan="2">{{ report.0.analysis.entryform.no_caso}}</td>
                    </tr>
                    <tr>
                      <td class="danger">Empresa</td>
                      <td colspan="2">{{ report.0.analysis.entryform.customer.name}}</td>
                    </tr>
                    <tr>
                      <td class="danger">Centro</td>
                      <td colspan="2">{{ report.0.analysis.entryform.center|default:""}}</td>
                    </tr>
                    <tr>
                      <td class="danger">Especie - E° Desarrollo</td>
                      <td>
                        {{ report.0.analysis.entryform.specie.name }}
                      </td>
                      <td>
                        {{ report.0.analysis.entryform.larvalstage.name }}
                      </td>
                    </tr>
                    <tr>
                      <td class="danger">Estanque/Jaula</td>
                      <td>
                        {% for ident in report.0.analysis.entryform.identification_set.all %}
                          ({{ ident.cage }}/{{ ident.group }}) -
                        {% endfor %}
                      </td>
                      <td>
                          Nº Solicitud: {{report.0.analysis.entryform.no_request}}
                        </td>
                    </tr>
                    <tr>
                      <td class="danger">Fuente de agua</td>
                      <td colspan="2">{{ report.0.analysis.entryform.watersource.name }}</td>
                    </tr>
                    <tr>
                      <td class="danger">Análisis</td>
                      <td colspan="2">{{ report.0.analysis.exam.name }} {{ report.0.analysis.entryform.larvalstage.name }}</td>
                    </tr>
                    <tr>
                      <td class="danger">Fecha muestreo</td>
                      <td colspan="2">{{ report.0.analysis.entryform.sampled_at }}</td>
                    </tr>
                    <tr>
                      <td class="danger">Fecha de recepción</td>
                      <td colspan="2">{{ report.0.analysis.entryform.created_at }}</td>
                    </tr>
                    <tr>
                      <td class="danger">Fecha informe</td>
                      <td colspan="2"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-12" style="padding-top:5% !important; padding-bottom:3% !important;">
                <center><h3 class="text-danger"><strong>HALLAZGOS HISTOLÓGICOS</strong></h3></center>
              </div>
              <input type="hidden" name="box-findings" id="box-findings">
              <div class="col-md-12" id="summernote-hallazgos">
                <table class="table table-bordered">
                  <thead class="bg-danger text-white">
                    <tr>
                      <th>IDENTIFICACIÓN</th>
                      <th>TINCIÓN</th>
                      <th>HALLAZGO</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% regroup report by identification as new_group %}
                      {% for gr in new_group %}
                        <tr>
                          <td>
                              {{ gr.grouper.cage }} - {{ gr.grouper.group }}
                          </td>
                          <td>
                              {{ gr.list.0.analysis.exam.name }}
                          </td>
                          <td>
                            <ul>
                              {% regroup gr.list|dictsort:"organ.name" by organ.name as by_organ %}
                                  {% for organ in by_organ %}
                                    <li><strong><u>{{ organ.grouper }}:</u></strong>
                                      <ul>
                                        {% for item in organ.list %}
                                          <li>
                                            Se observa {{ item.pathology.name }} en {{ item.organ_location.name }} {{ item.diagnostic_intensity.name }} (Muestra {{item.slice.cassette.sample.index}}),
                                          </li>
                                        {% endfor %}
                                      </ul>
                                  </li>
                                  {% endfor %}                                                  
                            </ul>
                          </td>
                        </tr>
                      {% endfor %}                
                  </tbody>
                </table>
              </div>
              <div class="col-md-12" style="padding-top:5% !important; padding-bottom:3% !important;">
                <center><h3 class="text-danger"><strong>DIAGNÓSTICO</strong></h3></center>
              </div>
              <input type="hidden" name="box-diagnostics" id="box-diagnostics">
              <div class="col-md-12" id="summernote-diagnosticos">
                <div class="">
                  <ul>
                  {% regroup report|dictsort:"organ.name" by organ.name as new_group %}
                    {% for organ in new_group %}
                      <li><strong><u>{{ organ.grouper }}</u>:</strong>
                      {% regroup organ.list|dictsort:"diagnostic.name" by diagnostic.name as by_diag %}
                        <ul>
                        {% for diag in by_diag %}
                            <li>{{ diag.list.0.pathology.name }} en {{ diag.list.0.organ_location.name }} {{ diag.list.0.diagnostic_intensity.name }}. 
                            Muestras (
                            {% for fin in diag.list %}
                              
                                {{fin.slice.cassette.sample.index}},
                              
                            {% endfor %}
                            ) </li>
                        
                        {% endfor %}
                        </ul>
                      </li>
                    {% endfor %}       
                  </ul>
                </div>
              </div>
              <div class="col-md-12" style="padding-top:5% !important; padding-bottom:3% !important;">
                <center><h3 class="text-danger"><strong>COMENTARIOS</strong></h3></center>
              </div>
              <input type="hidden" name="box-comments" id="box-comments">
              <div class="col-md-12" id="summernote-comentarios">
                
              </div>
              <div class="col-md-12" style="padding-top:5% !important; padding-bottom:3% !important;">
                <center><h3 class="text-danger"><strong>IMÁGENES</strong></h3></center>
              </div>
              <div class="col-md-12">
                <div class="row">
                  {% for rep in report %}
                    {% for img in rep.images.all|dictsort:"id" %}
                      <div class="col-md-6">
                        <div class="card border-danger">
                          <img class="card-img-top" src="{{img.file.url}}" alt="">
                          <div class="card-body">
                            <p class="card-text"><h4>{{img.desc|default:""}}</h4></p>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>