<fieldset>
  <div id="step_{{ step_tab }}">
    <input type="hidden" id="step_id" name="step_id" value="{{step_id}}">
    <input type="hidden" id="step_tag" name="step_tag" value="{{step_tag}}">
    <input type="hidden" id="form_id" name="form_id" value="{{form_id}}" >
    <input type="hidden" id="analysis_id" name="analysis_id" value="{{analysis_id}}" >
    <h4 class="form-section">
      <i class="ft-user"></i> Digitalizacion Scanner
    </h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
        </div>
      </div>
    </div>
    <div id="scan_group">
      <table id="scan_table" class="table table-condensed table-bordered" width="100%" cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Muestra</th>
            <th>Corte</th>
            <th>Inicio Digitalizacion <br> <span class="btn btn-sm btn-success square start_scan_all"><i class="fa fa-check-square-o"></i> Todos</span></th>
            <th>Fin Digitalizacion <br> <span class="btn btn-sm btn-success square end_scan_all"><i class="fa fa-check-square-o"></i> Todos</span></th>
            <th>Guardado</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
    </div>
  </div>
</fieldset>


<script id="scan_row" type="text/x-lodash-template">
  <tr data-index="<%= scan_index %>">
    <td>
      <%= identification %>
    </td>
    <td>
      <%= slice_name %>
      <input type="hidden" name="scan[slice_id][<%= scan_index %>]" value="<%= slice_id %>" >
    </td>
    <td>
      <input type="checkbox" id="scan[start_scan][<%= scan_index %>]" class="switchery" />
      <input type="hidden" name="scan[start_scan][<%= scan_index %>]" value="<%= start_scan %>" />
    </td>
    <td>
      <input type="checkbox" id="scan[end_scan][<%= scan_index %>]" class="switchery" />
      <input type="hidden" name="scan[end_scan][<%= scan_index %>]" value="<%= end_scan %>" />
    </td>
    <td>
      <input name="scan[store][<%= scan_index %>]" value="<%= slice_store %>" class="form-control">
    </td>
  </tr>
</script>
