{% extends 'layout.html' %}
{% load static %}

{% block content %}
<!-- MAIN -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                <h1 class="card-title">revision servicios</h1>
            </header>
            <main class="card-body">
                <section class="d-flex flex-row align-items-stretch justify-content-between">
                    <section class="card m-0">
                        <header class="card-header">
                            <h2 class="card-title">
                                En Espera
                                <small id="waitingCount"></small>
                            </h2>
                        </header>
                        <ul id="waiting" class="state list-group p-1" style="background-color: #595959"></ul>
                    </section>
                    <section class="card m-0">
                        <header class="card-header">
                            <h2 class="card-title">
                                Formato
                                <small id="formatingCount"></small>
                            </h2>
                        </header>
                        <ul id="formating" class="state list-group p-1" style="background-color: #7f7f7f"></ul>
                    </section>
                    <section class="card">
                        <header class="card-header">
                            <h2 class="card-title">
                                Revision
                                <small id="reviewingCount"></small>
                            </h2>
                        </header>
                        <ul id="reviewing" class="state list-group p-1" style="background-color: #a5a5a5"></ul>
                    </section>
                    <section class="card">
                        <header class="card-header">
                            <h2 class="card-title">
                                Para Enviar
                                <small id="sendingCount"></small>
                            </h2>
                        </header>
                        <ul id="sending" class="state list-group p-1" style="background-color: #cccccc"></ul>
                    </section>
                    <section class="card">
                        <header class="card-header">
                            <h2 class="card-title">
                                Finalizado
                                <small id="finishedCount"></small>
                            </h2>
                        </header>
                        <ul id="finished" class="list-group p-1" style="background-color: #f2f2f2"></ul>
                    </section>
                </section>
            </main>
        </div>
    </div>
</div>

<!-- END MAIN -->

<!-- MODAL -->

<!-- DIALOG FILES -->
<div class="modal" tabindex="-1" id="fileDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container-fluid">
                <section class="row border-bottom pb-2 mb-2 align-items-center">
                    <div class="col-md-10 form-group">
                        <label for=""><h4>Destinatarios:</h4></label>
                        <select class="form-control" id="selectRecipients"></select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-ouline-info" id="btnRefreshRecipients">
                            <i class="ft-refresh-cw"></i>
                        </button>
                    </div>
                </section>
                <section class="row border-bottom pb-2 mb-2">
                    <div class="col-md-12">
                        <form action="/"
                              class="dropzone"
                              id="newFiles">
                        </form>
                    </div>
                </section>
                <section class="row border-bottom pb-2 mb-2">
                    <div class="col-md-12">
                        <h4>Pre-Reportes</h4>
                        <ul class="list-group" id="prereportList">
                        </ul>
                    </div>
                </section>
                <section class="row">
                    <div class="col-md-12">
                        <h4>Revisiones</h4>
                        <ul class="list-group" id="reviewList">
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<!-- END MODAL -->

{% endblock content %}
{% block scripts %}
<script
    type="text/javascript"
    src="//cdn.jsdelivr.net/npm/sweetalert2@10"
    defer>
</script>


<script type="text/javascript"
        src="{% static 'assets/vendors/js/ui/jquery-ui.min.js' %}"
        defer>
</script>

<script type="text/javascript"
        src="{% static 'assets/js/scripts/extensions/dropzone.min.js' %}"
        defer>
</script>

<script type="text/javascript"
        src="{% static 'review/js/index.js' %}"
        defer>
</script>

{% endblock scripts %}
