{% extends 'layout.html' %}
{% load static %}

{% block content %}
<!-- MAIN -->

<!-- FILTERS -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                <h1 class="card-title">revision servicios</h1>
            </header>
            <main class="card-body">
                <section class="d-flex flex-row align-items-stretch justify-content-between">
                    <section class="card m-0">
                        <header class="card-header">
                            <h2 class="card-title">En Espera</h2>
                        </header>
                        <ul id="waiting" class="state list-group p-1" style="background-color: #595959"></ul>
                    </section>
                    <section class="card m-0">
                        <header class="card-header">
                            <h2 class="card-title">Formato</h2>
                        </header>
                        <ul id="formating" class="state list-group p-1" style="background-color: #7f7f7f"></ul>
                    </section>
                    <section class="card">
                        <header class="card-header">
                            <h2 class="card-title">Revision Tecnica</h2>
                        </header>
                        <ul id="reviewing" class="state list-group p-1" style="background-color: #a5a5a5"></ul>
                    </section>
                    <section class="card">
                        <header class="card-header">
                            <h2 class="card-title">Para Enviar</h2>
                        </header>
                        <ul id="sending" class="state list-group p-1" style="background-color: #cccccc"></ul>
                    </section>
                    <section class="card">
                        <header class="card-header">
                            <h2 class="card-title">Finalizado</h2>
                        </header>
                        <ul id="finished" class="list-group p-1" style="background-color: #f2f2f2"></ul>
                    </section>
                </section>
            </main>
        </div>
    </div>
</div>
<!-- END FILTERS -->

<!-- END MAIN -->

{% endblock content %}
{% block scripts %}
<script
    type="text/javascript"
    src="//cdn.jsdelivr.net/npm/sweetalert2@10"
    defer>
</script>


<script type="text/javascript"
        src="{% static 'assets/vendors/js/ui/jquery-ui.min.js' %}"
        defer>
</script>

<script type="text/javascript"
        src="{% static 'review/js/index.js' %}"
        defer>
</script>

{% endblock scripts %}
