{% extends 'layout.html' %}
{% load static %}

{% block stylesheets %}
<link
    rel="stylesheet"
    href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css"
    type="text/css"
    media="screen"
/>

<link
    rel="stylesheet"
    href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css"
    type="text/css"
    media="screen"
/>
{% endblock stylesheets %}

{% block content %}
<!-- Main Content -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title">Cassettes</h4>
                <span class="d-flex flex-row justify-content-between mt-md-1 align-items-center">
                    <small class="card-subtitle">Disponibles para armar</small>
                    <button type="button" class="btn btn-outline-primary" id="btnArmarCassette">
                        ARMAR
                    </button>
                </span>
            </header>
            <section class="card-body table-responsive">
                <table class="table table-bordered table-striped zero-configuration">
                    <thead>
                        <tr>
                            <th scope="col">Ingreso</th>
                            <th scope="col">Caso</th>
                            <th scope="col">Est/Jau</th>
                            <th scope="col">Grupo</th>
                            <th scope="col"># Unidad</th>
                            <th scope="col">Id Unidad</th>
                            <th scope="col">Atraso</th>
                            <th scope="col">Info.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for case in cases %}
                        {% for identification in case.identifications %}
                        {% for unit in identification.units %}
                        <tr>
                            <td>{{ case.entryform_type|capfirst }}</td>
                            <td>{{ case.no_caso|capfirst }}</td>
                            <td>{{ identification.cage }}</td>
                            <td>{{ identification.group }}</td>
                            <td>{{ unit.correlative }}</td>
                            <td>{{ unit.id }}</td>
                            <td>{{ case.delay }}</td>
                            <td><a href="#">Detalle</a></td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>

<!-- End Main Content -->

<!-- Modal Dialogs -->

<div class="modal fade" id="dlgArmarCassette" tabindex="-1" aria-labelledby="btnArmarCassette" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Armar Cassettes</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formArmarCassette">
                    <div class="row mb-3">
                        <label for="buildAt" class="col-md-4 col-form-label">Fecha armado:</label>
                        <div class="col-md-8">
                            {% csrf_token%}
                            <input type="datetime-local" class="form-control" id="buildAt">

                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Caso</th>
                                        <th>Unidad</th>
                                        <th># Cassette</th>
                                        <th>Organos</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyArmarCassette">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Dialogs -->

{% endblock content %}
{% block scripts %}
<script
    type="text/javascript"
    src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"
    defer>
</script>

<script
    type="text/javascript"
    src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"
    defer>
</script>

<script
    type="text/javascript"
    src="https://raw.githubusercontent.com/ashl1/datatables-rowsgroup/master/dataTables.rowsGroup.js"
    defer>
</script>


<script type="text/javascript">
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

 function getUnitList(items) {
     return new Promise(resolve => {
         $.post(Urls["lab:unit_list"](), {unit: items}, (data) => {
             resolve(data)
         }, )
     })
 }

 $(document).ready(function() {

     // Array of Unit Ids
     var selectedItems = [];

     var table = $('.zero-configuration').DataTable({
         dom: "Bfrtip",

         buttons: [
             {
                 text: "Seleccionar todos",
                 action: function() {
                     table.rows({
                         page: "current"
                     }).select();
                 }
             },

             {
                 text: "Deseleccionar todos",
                 action: function() {
                     table.rows({
                         page: "current"
                     }).deselect();
                 }
             },
         ],

         select: {
             style: "multi",
         },

         rowsGroup: [
             1, 2, 3
         ],

         "oLanguage": {
             "sUrl": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
         },

     });

     // Adds a unit id to selectedItems
     $(".zero-configuration").on("select.dt", (e, dt, type, indexes) => {
         let item = table.rows(indexes).data()[0][5]
         selectedItems.push(item)
     });

     // Removes a unit id from selectedItems
     $(".zero-configuration").on("deselect.dt", (e, dt, type, indexes) => {
         let item = table.rows(indexes).data()[0][5]
         let index = selectedItems.indexOf(item)
         if (index >= 0) {
            selectedItems.splice(index, 1)
         }
     });


     var myModal = new bootstrap.Modal(document.getElementById('dlgArmarCassette'))
     $("#btnArmarCassette").click(async function() {
         myModal.show();
         const result = await getUnitList(selectedItems)
         console.log({result})
     })

     $(".btn-close").click(function() {
         myModal.hide();
     })
 });
</script>

{% endblock scripts %}
