{% extends 'layout.html' %}
{% load static %}

{% block content %}
<!-- MAIN -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                <h1 class="card-title">DASHBOARD</h1>
            </header>
            <main class="card-body">
                <section class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <main class="btn-group">
                            <button id="btnCassette" value="{{ cassettes|length }}" type="button" class="btn btn-primary">
                                Armado de Cassettes ({{ cassettes|length }})
                                <i class="iconify" data-icon="mdi:chevron-down"></i>
                            </button>
                            <button type="button" class="btn btn-light">
                                Procesado de Cassettes (S/I)
                                <i class="iconify" data-icon="mdi:chevron-down"></i>
                            </button>
                            <button type="button" class="btn btn-warning">
                                Bloque (S/I)
                                <i class="iconify" data-icon="mdi:chevron-down"></i>
                            </button>
                            <button type="button" class="btn btn-info">
                                Corte (S/I)
                                <i class="iconify" data-icon="mdi:chevron-down"></i>
                            </button>
                            <button type="button" class="btn btn-danger">
                                Tincion (S/I)
                                <i class="iconify" data-icon="mdi:chevron-down"></i>
                            </button>
                            <button id="btnSlide" value="{{ slides|length }}" type="button" class="btn btn-success">
                                Liberación ({{ slides|length }})
                                <i class="iconify" data-icon="mdi:chevron-down"></i>
                            </button>
                        </main>
                    </div>

                </section>
                <section class="row d-flex justify-content-center mt-2">
                    <div class="col-md-6">
                        <div class="accordion">
                            <div class="card border rounded shadow-lg">

                                <!-- CASSETTE ACCORDION -->
                                <div id="cassetteAccordion" class="collapse">
                                    <div class="card-body overflow-auto d-flex flex-column" style="max-height: 38rem;">
                                        <table class="table table-sm zero-configuration compact table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-right">Caso</th>
                                                    <th scope="col" class="text-right">Cassettes (Supuesto)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for cassette in cassettes %}
                                                <tr>
                                                    <td class="text-right">
                                                        {{cassette.case.no_caso}}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ cassette.count }}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>
                                    <div class="card-footer text-right">
                                        <a href="{% url "lab:cassette_build" %}">
                                            Ir a armar cassettes
                                            <span class="iconify" data-icon="mdi:chevron-right" data-inline="false"></span>
                                        </a>
                                    </div>
                                </div>
                                <!-- END ACCORDION -->
                                <!-- SLIDE ACCORDION -->
                                <div id="slideAccordion" class="collapse">
                                    <div class="card-body overflow-auto d-flex flex-column" style="max-height: 38rem;">
                                        <table class="table table-sm zero-configuration compact table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-right">Caso</th>
                                                    <th scope="col" class="text-right">Slides (Supuesto)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for slide in slides %}
                                                <tr>
                                                    <td class="text-right">
                                                        {{slide.case.no_caso}}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ slide.count }}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-footer text-right">
                                        <a href="{% url "lab:slide_build" %}">
                                            Ir a armar slides
                                            <span class="iconify" data-icon="mdi:chevron-right" data-inline="false"></span>
                                        </a>
                                    </div>
                                </div>
                                <!-- END ACCORDION -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div id="container" style="width: 100%; height:20rem;"></div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>

<!-- END MAIN -->

{% endblock content %}
{% block scripts %}
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js" defer></script>
<script type="text/javascript" defer>
 $(document).ready(() => {
     $(".zero-configuration").DataTable({
         oLanguage: {
             sUrl: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json",
         },

         rowsGroup: [0, 1],
     });

     const listGroupCases = $("#listGroupCases");

     const cases = listGroupCases.children();

     const cassette_count = parseInt($("#btnCassette").val());
     const slide_count = parseInt($("#btnSlide").val());

     let chart = echarts.init(document.getElementById("container"))

     const options = {
         title: {
             text: "Carga de trabajo"
         },

         tooltip: {
             trigger: "item",
             pointFormat: '{series.name}: <b>{point.y} ({point.percentage:.1f}%)</b>'
         },

         series: [{
             name: "Lab",
             type: "pie",
             radius: "50%",
             data: [
                 { name: 'Cassettes por Armar', value: cassette_count },
                 { name: 'Cassettes por Procesar', value: 1 },
                 { name: 'Bloques por Armar', value: 1 },
                 { name: 'Cortes por Realizar', value: 1 },
                 { name: 'Cortes por Teñir', value: 1 },
                 { name: 'Slides por Liberar', value: 1 },
             ],
             emphasis: {
                 itemStyle: {
                     shadowBlur: 10,
                     shadowOffsetX: 0,
                     shadoColor: "rgba(0,0,0,0.5)"
                 }
             }
         }],
     };

     chart.setOption(options)

     let timeout = null

     /* END VARIABLES */

     /* FUNCTIONS */

     /* END FUNCTIONS */


     /* EVENTS */

     $("#btnCassette").click(() => $("#cassetteAccordion").collapse("toggle"));

     $("#btnSlide").click(() => $("#slideAccordion").collapse("toggle"));

     $("#filterCase").on("input", (e) => {
         const filter = e.target.value;
         clearTimeout(timeout)
         timeout = setTimeout(() => {
             const items = cases.filter((item) => 
                 cases[item].innerText.includes(filter)
             );
             listGroupCases.empty()
             listGroupCases.append(items)
         }, 1000);
     });

     /* END EVENTS */

 });
</script>

{% endblock scripts %}
