{% extends 'layout.html' %}
{% load static %}

{% block content %}
<!-- MAIN -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                <h1 class="card-title">DASHBOARD</h1>
            </header>
            <main class="card-body">
                <section class="row">
                    <div class="col-md-2">
                        <div class="dropdown">
                            <a
                                class="btn btn-primary dropdown-toggle"
                                href="#"
                                role="button"
                                id="dropdownCassettesLink"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                Cassettes ({{ cassettes_workload }})
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownCassettesLink">
                                <a class="dropdown-item" href="{% url 'lab:cassette_build' %}">
                                    Armado de Cassettes ({{ cassettes_to_build }})
                                </a>
                                <a class="dropdown-item" href="{% url 'lab:cassette_process' %}">
                                    Procesador de Tejidos ({{ cassettes_to_process }})
                                </a>
                                <a class="dropdown-item" href="{% url 'lab:cassette_difference' %}">
                                    Diferencias de Cassettes ({{ cassettes_differences }})
                                </a>
                                <a class="dropdown-item" href="{% url 'lab:cassette_index' %}">
                                    Indice de Cassettes
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown">
                            <a
                                class="btn btn-primary dropdown-toggle"
                                href="#"
                                role="button"
                                id="dropdownCassettesLink"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                Slides ({{ slides_to_build }})
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownCassettesLink">
                                <a class="dropdown-item" href="{% url 'lab:slide_build' %}">
                                    Armado de Slides ({{ slides_to_build }})
                                </a>
                                <a class="dropdown-item" href="{% url 'lab:slide_index' %}">
                                    Indice de Slides
                                </a>
                            </div>
                        </div>
                    </div>

                </section>
                <section class="row mt-2">
                    <div class="col-md-6">
                        <div id="container" style="width: 100%; height:30rem;"></div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>

<!-- END MAIN -->

{% endblock content %}
{% block scripts %}
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js" defer></script>
<script type="text/javascript" defer>
 $(document).ready(() => {
     const cassette_count = parseInt($("#btnCassette").val());
     const slide_count = parseInt($("#btnSlide").val());

     let chart = echarts.init(document.getElementById("container"))

     const options = {
         title: {
             text: "Carga de trabajo"
         },

         tooltip: {
             trigger: "item",
             pointFormat: '{series.name}: <b>{point.y} ({point.percentage:.1f}%)</b>'
         },

         series: [{
             name: "Lab",
             type: "pie",
             radius: "50%",
             data: [
                 { name: 'Cassettes por Armar', value: "{{ cassettes_to_build }}" },
                 { name: 'Cassettes por Procesar', value: "{{ cassettes_to_process }}" },
                 { name: 'Slides por Liberar', value: "{{ slides_to_build }}" },
             ],
             emphasis: {
                 itemStyle: {
                     shadowBlur: 10,
                     shadowOffsetX: 0,
                     shadoColor: "rgba(0,0,0,0.5)"
                 }
             }
         }],
     };

     chart.setOption(options)

     let timeout = null

     /* END VARIABLES */

     $(".dropdown-toggle").click((e) => {
         $(e.target).dropdown("toggle");
     })

 });
</script>

{% endblock scripts %}
