<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
  <!-- main menu content-->
  <div class="main-menu-content">
    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
      <li class=" nav-item">
        <a href="/">
          <i class="ft-home"></i>
          <span data-i18n="" class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class=" nav-item">
        <a href="/ingresos">
          <i class="ft-clipboard"></i>
          <span data-i18n="" class="menu-title">Ingresos</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#">
          <i class="ft-zap"></i>
          <span data-i18n="" class="menu-title">Administración</span>
        </a>
        <ul class="menu-content">
          <li>
            <a href="/analisis" class="menu-item">Análisis</a>
          </li>
          <li>
            <a href="/clientes" class="menu-item">Clientes</a>
          </li>
          <li>
            <a href="/users" class="menu-item">Usuarios</a>
          </li>

        </ul>
      </li>
    </ul>
  </div>
  <!-- /main menu content-->
  <!-- main menu footer-->
  <!-- main menu footer-->
</div>
