{% load custom_tags %}
<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
  <!-- main menu content-->
  <div class="main-menu-content">
    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
      {% for item in user|navigations %}
      <li>
          <a href="{{ item.path }}">
              {% if item.icon %}
                  <i class="{{ item.icon }}"></i>
              {% endif %}
              <span>{{ item.section_name }}</span>
          </a>
          {% if item.child_items %}
              <ul class="acc-menu">
                  {% for subitem in item.child_items %}
                      <li>
                          <a href="{{ subitem.path }}">
                              {% if subitem.icon %}
                                  <i class="{{ subitem.icon }}"></i>
                              {% endif %}
                              <span>{{ subitem.section_name }}</span>
                          </a>
                      </li>
                  {% endfor %}
              </ul>
          {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- /main menu content-->
  <!-- main menu footer-->
  <!-- main menu footer-->
  {% comment %} <div class="main-menu-footer">
    <button class="btn btn-dark btn-block"><i class="fa fa-language fa-fx"></i> <b>¿Cambiar Idioma?</b></button>
  </div> {% endcomment %}
</div>
