{% extends 'base.html' %}
{% load static %}

{% block bodyclass %}login_form{% endblock bodyclass %}

{% block body %}
<section class="col-md-4 offset-md-4 col-xs-8 offset-xs-2 box-shadow-2 p-0">
	<div class="card border-grey border-lighten-3 px-2 py-2 row mb-0">
		<div class="card-header no-border">
			<div class="card-title text-xs-center">
				<img src="{% static 'assets/images/logo/logo.png' %}" width="200" alt="branding logo">
			</div>
			<h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Cambiar Contraseña</span></h6>
		</div>
		<div class="card-body collapse in">
			<div class="card-block">
        {% if validlink %}
				<form class="form-horizontal" role="form" method="post" novalidate>
          {% csrf_token %}
          {% for field in form %}
            <fieldset class="form-group position-relative has-icon-left">
              <input type="password" class="form-control input-lg" id="{{field.name}}" name="{{field.name}}" placeholder="{{field.label}}" tabindex="1" required data-validation-required-message="{{field.label}}">
              <div class="form-control-position">
						    <i class="fa fa-key"></i>
						  </div>
              <div class="help-block font-small-3"></div>
            </fieldset>
          {% endfor %}
					<fieldset class="form-group row">
						<div class="col-md-12 col-xs-12 text-xs-center text-md-right"><a href="{% url 'login' %}" class="card-link">Ya posee una cuenta?</a></div>
					</fieldset>
					<button type="submit" class="btn btn-info btn-block btn-lg"><i class="ft-unlock"></i> Restablecer contraseña</button>
        </form>
        {% else %}
        <div>
          <p>
            El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado.
            Solicite nuevamente restablecer su contraseña.
          </p>
        </div>
        {% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock body %}