{% extends 'base.html' %} {% load static %} {% block bodyclass %}login_form{% endblock bodyclass %} {% block body %}
<section class="col-md-4 offset-md-4 col-xs-8 offset-xs-2 box-shadow-2 p-0">
  <div class="card border-grey border-lighten-3 px-2 py-2 row mb-0">
    <div class="card-header no-border">
      <div class="card-title text-xs-center">
        <img src="{% static 'assets/images/logo/logo.png' %}" width="200" alt="branding logo">
      </div>
      <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2">
        <span>Cambio realizado</span>
      </h6>
    </div>
    <div class="card-body collapse in">
      <div class="card-block">
        <div>
          <p>Se ha establecido la contraseña. Puede seguir adelante e
            <a class="" href="{% url 'login' %}">ingresar</a> ahora.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
