{% extends 'base.html' %}
{% load static %}

{% block bodyclass %}login_form{% endblock bodyclass %}

{% block body %}
<section class="col-md-4 offset-md-4 col-xs-8 offset-xs-2 box-shadow-2 p-0">
	<div class="card border-grey border-lighten-3 px-2 py-2 row mb-0">
		<div class="card-header no-border">
			<div class="card-title text-xs-center">
				<img src="{% static 'assets/images/logo/logo.png' %}" width="200" alt="branding logo">
			</div>
			<h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Recuperar contraseña</span></h6>
		</div>
		<div class="card-body collapse in">
			<div class="card-block">
				<div>
          <p>
            Le hemos enviado instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó.
            Usted debe recibir en breve.
          </p>
          <p>
            Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y revise su carpeta de correo no deseado.
          </p>
        </div>
        <fieldset class="form-group row">
          <div class="col-md-12 col-xs-12 text-xs-center text-md-right"><a href="{% url 'login' %}" class="card-link">Ya posee una cuenta?</a></div>
        </fieldset>
			</div>
		</div>
	</div>
</section>
{% endblock body %}