<fieldset>
  <div id="step_{{ step_tab }}" style="margin-bottom: 10px;">
    <input type="hidden" id="step_id" name="step_id" value="{{step_id}}">
    <input type="hidden" id="step_tag" name="step_tag" value="{{step_tag}}">
    <input type="hidden" id="form_id" name="form_id" value="{{form_id}}">
    <input type="hidden" id="entryform_id" name="entryform_id" value="{{entryform_id}}">
    <div class="table-responsive">
      <table id="identifications" class="display table table-bordered table-condensed">
        <thead>
          <tr>
            <th></th>
            <th>#</th>
            <th>{{request.lang.cage}}</th>
            <th>{{request.lang.group}}</th>
            <th>{{request.lang.case_client}}</th>
            <th>{{request.lang.weight}}</th>
            <th>{{request.lang.extra_features}}</th>
            <th>{{request.lang.optimus_condition}}</th>
            <th>{{request.lang.observations}}</th>
            <th>{{request.lang.amount_identifications}}</th>
            <th>{{request.lang.options}}</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <!-- <tr>
            <td></td>
            <td><input name="eee" class="form-control-table"></td>
            <td><input name="eee" class="form-control-table"></td>
            <td><input name="eee" class="form-control-table"></td>
            <td><input name="eee" class="form-control-table"></td>
            <td><input name="eee" class="form-control-table"></td>
            <td><input name="eee" class="form-control-table"></td>
            <td><input name="eee" class="form-control-table"></td>
            <td><input name="eee" class="form-control-table"></td>
            <td><input name="eee" class="form-control-table amount" type="number" min="0"></td>
            <td>
              <button class="btn btn-danger btn-sm deleteIdent" type="button"><i class="fa fa-trash fa-fx"></i></button>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <button id="addIdent" class="btn btn-primary col-12" type="button">
      <i class="fa fa-plus-circle fa-fx"></i> Agregar Identificador
    </button>
  </div>
</fieldset>


<script id="unit_template" type="text/x-lodash-template">
  <tr id="unit-<%= ident_id %>-<%= index %>">
    <td><input name="eee" class="form-control-table"></td>
    <td>
      <select class="form-control-table" name="tipo">
        <option selected disabled>Seleccionar Tipo de Unidad</option>
        <option>tubo</option>
        <option>cassette</option>
        <option>etc</option>
      </select>
    </td>
    <td><select id="select-<%= ident_id %>-<%= index %>" class="form-control-table organs organs-<%= ident_id %>" name="organos" multiple>
      <% _.each(organs, function (organ) { %>
        <option value="<%= organ.name %>"><%= organ.name %></option>
      <% }); %>
    </select></td>
    <td><button class="btn btn-danger btn-sm unit-delete" type="button" data-ident="<%= ident_id %>"><i class="fa fa-trash fa-fx"></i></button></td>
  </tr>
</script>

<script id="organos_options" type="text/x-lodash-template">
  <% _.each(organs, function (organ) { %>
    <option value="<%= organ.name %>"><%= organ.name %></option>
  <% }); %>
</script>