<fieldset>
  <div id="step_{{ step_tab }}">
    <input type="hidden" id="step_id" name="step_id" value="{{step_id}}">
    <input type="hidden" id="step_tag" name="step_tag" value="{{step_tag}}">
    <input type="hidden" id="form_id" name="form_id" value="{{form_id}}" >
    <input type="hidden" id="entryform_id" name="entryform_id" value="{{entryform_id}}" >
    <h4 class="form-section">
      <i class="ft-user"></i> Analisis
    </h4>
    <div id="analysis_group" class="list-group list-group-flush media-list">
    </div>
  </div>
</fieldset>

<script id="analysis_element" type="text/x-lodash-template">
<% if (!form_closed)  { %>
  
  <div href="/workflow/<%= form_id %>/<%= current_step_tag %>" class="list-group-item list-group-item-action">
    <div class="media-body">
      <% if (current_step == 4) { %>
        <div class="row">
          <div class="col-sm-4 font-medium-4 text-left"><%= exam_name %></div>
          <div class="col-sm-4 font-medium-4 text-center"><a class="btn btn-outline-secondary square" href="/workflow/<%= form_id %>/<%= current_step_tag %>"><i class="fa fa-plus"></i> Ingresar Hallazgos </a></div>
          <div class="col-sm-4 font-medium-4 text-right">Tinción: <%= exam_name %></div>
        </div>
      <% } else { %>
        <div class="row">
          <div class="col-sm-4 font-medium-4 text-left"><%= exam_name %></div>
          <div class="col-sm-4 font-medium-4 text-center"><a class="btn btn-outline-secondary square" href="/workflow/<%= form_id %>/<%= current_step_tag %>"><i class="fa fa-arrow-right"></i> Ir al análisis </a></div>
          <div class="col-sm-4 font-medium-4 text-right">Tinción: <%= exam_name %></div>
        </div>
      <% } %>

      <% if (current_step == 4) { %>
        <p class="list-group-item-text"><%= no_slice %> cortes - <a href="/preview-report/<%= form_id %>"><span class="font-medium-0 ">Previsualizar Informe</span></a></p>
       <% } else { %>
        <p class="list-group-item-text"><%= no_slice %> cortes</p>
      <% } %>
      <div class="progress" style="height: 18px;">
        <div class="progress-bar" role="progressbar" style="width:<%= percentage_step %>%" aria-describedby="example-caption-2"> <%= current_step %> de <%= total_step  %> pasos</div>
      </div>
    </div>
  </div>
<% } else { %>
  <div href="/workflow/<%= form_id %>/<%= current_step_tag %>" class="list-group-item list-group-item-action">
    <div class="media-body">
      <div class="row">
        <div class="col-sm-4 font-medium-4 text-left"><%= exam_name %></div>
        <div class="col-sm-4 font-medium-4 text-center"><a class="btn btn-outline-secondary square" target="_blank" href="/download-report/<%= form_id %>"><i class="fa fa-download"></i> Descargar Informe</a></div>
        <div class="col-sm-4 font-medium-4 text-right">Tinción: <%= exam_name %></div>
      </div>
      <p class="list-group-item-text">Análisis Finalizado</p>
    </div>
  </div>
<% } %>
</script>
