<fieldset>
  <div id="step_{{ step_tab }}">
    <input type="hidden" id="step_id" name="step_id" value="{{step_id}}">
    <input type="hidden" id="step_tag" name="step_tag" value="{{step_tag}}">
    <input type="hidden" id="form_id" name="form_id" value="{{form_id}}" >
    <input type="hidden" id="entryform_id" name="entryform_id" value="{{entryform_id}}" >
    <h4 class="form-section">
      <i class="ft-user"></i> Analisis
    </h4>
    <div id="analysis_group" class="list-group list-group-flush media-list">
    </div>
  </div>
</fieldset>

<script id="analysis_element" type="text/x-lodash-template">
<% if (!form_closed)  { %>
  <a href="/workflow/<%= form_id %>/<%= current_step_tag %>" class="list-group-item list-group-item-action">
    <div class="media-body">
      <h4 class="list-group-item-heading"><%= exam_name %>
        <span class="font-medium-4 float-right pt-1">Tincion: <%= exam_stain %></span>
      </h4>
      <p class="list-group-item-text"><%= no_slice %> cortes</p>
      <div class="progress" style="height: 18px;">
        <div class="progress-bar" role="progressbar" style="width:<%= percentage_step %>%" aria-describedby="example-caption-2"> <%= current_step %> de <%= total_step  %> pasos</div>
      </div>
    </div>
  </a>
<% } else { %>
  <div href="/workflow/<%= form_id %>/<%= current_step_tag %>" class="list-group-item list-group-item-action">
    <div class="media-body">
      <h4 class="list-group-item-heading"><%= exam_name %>
        <a><span class="font-medium-4 float-right pt-1">Descargar PDF</span></a>
      </h4>
      <p class="list-group-item-text">Análisis Finalizado</p>
    </div>
  </div>
<% } %>
</script>
