<fieldset>
  <div id="step_{{ step_tab }}">
    <input type="hidden" id="step_id" name="step_id" value="{{step_id}}">
    <input type="hidden" id="step_tag" name="step_tag" value="{{step_tag}}">
    <input type="hidden" id="form_id" name="form_id" value="{{form_id}}" >
    <input type="hidden" id="entryform_id" name="entryform_id" value="{{entryform_id}}" >
    <h4 class="form-section">
      <i class="ft-user"></i> Informacion General
    </h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="customer">
            Cliente :
          </label>
          <select class="select2 form-control" name="customer" id="customer_select">
            <option></option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Fecha / Hora Recepción : </label>
          <div class='input-group date' id='datetime_created_at'>
            <input type="text" class="form-control" name="created_at" />
            <div class="input-group-append">
              <span class="input-group-text">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
          <input type="hidden" name="created_at_submit" id="created_at_submit" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" id="center">
          <label for="center">
            Centro :
            <!-- <span class="danger">*</span> -->
          </label>
          <input class="form-control" name="center" id="center_input">
        </div>
        <div class="form-group" id="order_number">
          <label for="order_number">
            Nro Orden :
          </label>
          <input type='text' class="form-control" id="order_number_input" name="no_order" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Fecha / Hora Muestreo : </label>
          <div class='input-group date' id='datetime_sampled_at'>
            <input type='text' class="form-control" name='sampled_at' />
            <div class="input-group-append">
              <span class="input-group-text">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
          <input type="hidden" name="sampled_at_submit" id="sampled_at_submit" />
        </div>
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="phoneNumber3">Fijador :</label>
          <select class="select2 form-control" id="fixtative_select" name="fixative">
            <option></option>
          </select>
        </div>
      </div>
    </div>
    <h4 class="form-section">
      <i class="ft-droplet"></i> Detalle Muestra
    </h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="date3">Especie :</label>
          <select class="select2 form-control" id="specie_select" name="specie">
            <option></option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="phoneNumber3">Estado Desarrollo :</label>
          <select class="select2 form-control" id="larvalstage_select" name="larvalstage">
            <option></option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="date3">Fuente Agua :</label>
          <select class="select2 form-control" id="watersource_select" name="watersource">
            <option></option>
            {% for waterSource in waterSource_list %}
            <option value="{{waterSource.id}}">{{waterSource}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <h4 class="form-section">
      <i class="ft-file-text"></i> Condiciones de Recepción
    </h4>
    <div class="row">
      <div class="col-md-12" id="question_reception">
      </div>
    </div>
    <h4 class="form-section">
      <i class="ft-clipboard"></i> Identificación
    </h4>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="date3">Observaciones</label>
          <textarea rows="5" class="form-control" name="observation" id="observation" placeholder="Observaciones / Anamnesis"></textarea>
        </div>
      </div>
    </div>
    <div id="identification_group">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <button class="btn_white_letter btn btn-success form-control" id="add_identification" type="button">Añadir Indetificación</button>
          </div>
        </div>
      </div>
    </div>
    <h4 class="form-section">
      <i class="ft-search"></i> Análisis
    </h4>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="exam">Seleccione los análisis:</label>
          <select class="select2 form-control" id="exam_select" multiple="multiple">
          </select>
        </div>
      </div>
    </div>
    <div id="exam_group">
    </div>
    <h4 class="form-section">
      <i class="ft-grid"></i> Subdividir Flujo de Trabajo
    </h4>
    <div class="row">
      <div class="col-md-6">
        <div class="alert alert-warning mb-2" role="alert">
          <strong>Aviso Importante!</strong>
          Si eliges subdividir este flujo de trabajo para realizar procesos en paralelo te recordamos
          que se considerará la identificación de peces y análisis ingresados como definitivos, evitando afectar
          en el futuro los subflujos asociados.
        </div>
      </div>
      <div class="col-md-6">
        <label for="flow_divider">¿Desea dividir en trabajo en partes o trabajar con grupos de peces por separado?. </label>
        <select class="form-control" id="select_if_divide_flow" name="select_if_divide_flow">
            <option selected value="0">No</option>
            <option value="1">Sí</option>
        </select>
      </div>
      <input type="hidden" value="0" name="flow_divide_option" id="flow_divide_option"/>
      <div class="col-md-12" id="flow_divider_options"></div>
    </div>
  </div>
</fieldset>

<script id="analysis_template" type="text/x-lodash-template">
  <div data-id="<%= analysis_id %>" class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="date3">Análisis</label>
        <input value="<%= analysis_name %>" class="form-control" disabled>
        <input type="hidden" value="<%= analysis_id %>" name="analysis[id][<%= analysis_index %>]" class="form-control">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="date3">No. Peces</label>
        <input class="form-control" name="analysis[no_fish][<%= analysis_index %>]" value="<%= analysis_fish %>" >
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="date3">Órganos</label>
        <select class="select2 form-control" id="analysis-organ" name="analysis[organ][<%= analysis_index %>]" multiple="multiple">
          <% _.each(analysis_organs, function (organ) { %>
            <option value=<%= organ.id %>> <%= organ.name %> </option>
          <% }); %>
        </select>
      </div>
    </div>
    <div class="col-md-1 text-center">
      <div class="form-group">
        <label for="date3">&nbsp;</label>
        <button class="btn_white_letter btn btn-danger form-control" id="delete_analysis" type="button">x</button>
      </div>
    </div>
  </div>
</script>

<script id="identification_template" type="text/x-lodash-template">
<div class="row identification" id="<%= temp_id %>">
  <input type="hidden" value="<%= temp_id %>" name="identification[id]">
  <div class="col-md-3">
    <div class="form-group">
      <label for="cage">Estanque/Jaula</label>
      <input type="text" value="" name="identification[cage]" class="form-control">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="group">Grupo</label>
      <input name="identification[group]" class="form-control">
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="no_fish">No. Peces</label>
      <input name="identification[no_fish]" class="form-control">
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="no_container">No. Contenedores</label>
      <input name="identification[no_container]" class="form-control">
    </div>
  </div>
  <div class="offset-md-1 col-md-1 text-center">
    <div class="form-group">
      <label for="delete">&nbsp;</label>
      <button class="btn_white_letter btn btn-danger form-control" id="delete_identification" type="button">x</button>
    </div>
  </div>
</div>
</script>

<script id="questionReception_template" type="text/x-lodash-template">
  <div class="form-group row">
    <label class="col-md-6 label-control"> <%= question_text %> </label>
    <div class="col-md-4">
      <div class="input-group">
        <div class="d-inline-block custom-control custom-radio">
          <input type="radio" name="question['answer'][<%= question_index %>]" class="custom-control-input" value="si" id="question_<%= question_id %>_si">
          <label class="custom-control-label" for="question_<%= question_id %>_si">Si</label>
        </div>
        <div class="d-inline-block custom-control custom-radio">
          <input type="radio" name="question['answer'][<%= question_index %>]" class="custom-control-input" value="no" id="question_<%= question_id %>_no">
          <label class="custom-control-label" for="question_<%= question_id %>_no">No</label>
        </div>
        <div class="d-inline-block custom-control custom-radio">
          <input type="radio" name="question['answer'][<%= question_index %>]" class="custom-control-input" value="na" id="question_<%= question_id %>_na">
          <label class="custom-control-label" for="question_<%= question_id %>_na">N/A</label>
        </div>
      </div>
    </div>
    <input type="hidden" name="question['id'][<%= question_index %>]" value="<%= question_id %>" />
  </div>
</script>

<script id="flowgroup_template" type="text/x-lodash-template">
  <div class="badge badge-pill badge-success p-2 m-1"><strong>PARTE <%= group_count %>: <%= group_size_text %></strong></div>
</script>

<script id="group_content_manual_template" type="text/x-lodash-template">
  <div class="col-md-12 pt-1 pb-1">
    <label>Peces grupo <%= group_nro %></label>
    <select class="select2 form-control fishSelection" name="subflow_select[group][<%= group_nro %>]" multiple="multiple">
      <% _.each(group_fishes, function (fish) { %>
        <option value="<%= fish.identification_id %>_<%= fish.fish_num %>"><%= fish.cage %>_<%= fish.group %>_P<%= fish.fish_num %> </option>
      <% }); %>
    </select>
  </div>
</script>

<script id="flowdivider_options_template" type="text/x-lodash-template">
  <ul class="nav nav-tabs nav-top-border no-hover-bg" id="FlowDividerOptions">
    <li class="nav-item">
      <a class="nav-link" id="base_flowdivider_by_identification" data-toggle="tab" aria-controls="flowdivider_by_identification" href="#flowdivider_by_identification" aria-expanded="true">
        Subdividir por estanque/jaula
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="base_flowdivider_by_manual" data-toggle="tab" aria-controls="flowdivider_by_manual" href="#flowdivider_by_manual" aria-expanded="false">
        Subdividir manualmente
      </a>
    </li>
  </ul>
  <div class="tab-content px-1 pt-1">
    <div role="tabpanel" class="tab-pane" id="flowdivider_by_identification" aria-labelledby="base_flowdivider_by_identification">
    </div>
    <div role="tabpanel" class="tab-pane" id="flowdivider_by_manual" aria-labelledby="base_flowdivider_by_manual">
      <div class="row">
        <div class="col-sm-3 text-right pt-1">
          <label for="flowdivider_manual_group_quantity" class="control-label"><h5>¿Cuántos grupos desea realizar?</h5></label>
        </div>
        <div class="col-sm-2">
          <input id="flowdivider_manual_group_quantity" name="flowdivider_manual_group_quantity" class="form-control" type="number" min="2" value="2" />
        </div>
      </div>
      <div class="col-md-12" id="flowdivider_manual_groups">
      </div>
    </div>
  </div>
</script>
