<fieldset>
  <div id="step_{{ step_tab }}">
    <input type="hidden" id="step_id" name="step_id" value="{{step_id}}">
    <input type="hidden" id="step_tag" name="step_tag" value="{{step_tag}}">
    <input type="hidden" id="form_id" name="form_id" value="{{form_id}}">
    <input type="hidden" id="entryform_id" name="entryform_id" value="{{entryform_id}}">
    {% if edit %}
    <div class="offset-8 text-right m-1">
      <button type="button" id="saveStep1" class="btn btn-warning square"><i class="fa fa-save"></i> Guardar
        Cambios</button>
    </div>
    {% endif %}
    <h4 class="form-section">
      <i class="ft-user"></i> Información General
    </h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="customer">
            Cliente :
          </label>
          <select class="select2 form-control" name="customer" id="customer_select"
            {% if not edit %}disabled{% endif %}>
            <!-- <option></option> -->
          </select>
        </div>
        <div class="form-group" id="company">
          <label for="company">
            Empresa :
            <!-- <span class="danger">*</span> -->
          </label>
          <input class="form-control" name="company" id="company_input" {% if not edit %}disabled{% endif %} />
        </div>
        <div class="form-group" id="center">
          <label for="center">
            Centro :
            <!-- <span class="danger">*</span> -->
          </label>
          <input class="form-control" name="center" id="center_input" {% if not edit %}disabled{% endif %} />
        </div>
        <div class="form-group" id="order_number">
          <label for="order_number">
            Nro Orden de Trabajo :
          </label>
          <input type='text' class="form-control" id="order_number_input" name="no_order"
            {% if not edit %}disabled{% endif %} />
        </div>
        <div class="form-group" id="request_number">
          <label for="request_number">
            Nro Solicitud Interlaboratorio :
          </label>
          <input type='text' class="form-control" id="request_number_input" name="no_request"
            {% if not edit %}disabled{% endif %} />
        </div>
        <div class="form-group">
          <label for="entryform_type_select">Tipo de ingreso :</label>
          <select class="select2 form-control" id="entryform_type_select" name="entryform_type"
            {% if not edit %}disabled{% endif %}>
          </select>
        </div>
        {% comment %} <div class="form-group researches_container hidden">
          <label for="researches_select">Tipo de Estudio :</label>
          <div class="row m-n p-n">
            <div class="col-sm-11">
              <select class="select2 form-control" id="researches_select" style="width:100% !important;" name="research_type"
                {% if not edit %} disabled {% endif %}>
                <option value="" selected>Seleccionar tipo de estudio</option>
              </select>
            </div>
            <div class="col-sm-1">
              <button type="button" class="btn btn-success showResearchPopover"><i class="fa fa-info-circle"></i></button>
            </div>
          </div>
        </div> {% endcomment %}

      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Fecha / Hora Recepción : </label>
          <div class='input-group date' id='datetime_created_at'>
            <input type="text" class="form-control" name="created_at" {% if not edit %}disabled{% endif %} />
            <div class="input-group-append">
              <span class="input-group-text">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
          <input type="hidden" name="created_at_submit" id="created_at_submit" {% if not edit %}disabled{% endif %} />
        </div>
        <div class="form-group">
          <label>Fecha / Hora Muestreo : </label>
          <div class='input-group date' id='datetime_sampled_at'>
            <input type='text' class="form-control" name='sampled_at' {% if not edit %}disabled{% endif %} />
            <div class="input-group-append">
              <span class="input-group-text">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
          <input type="hidden" name="sampled_at_submit" id="sampled_at_submit" {% if not edit %}disabled{% endif %} />
        </div>
        <div class="form-group" id="responsible">
          <label for="responsible">
            Responsable :
          </label>
          <div class='input-group'>
            <input type='text' class="form-control responsible_place" onclick="responsibleModal()" readonly
              {% if not edit %}disabled{% endif %} />
            <div class="input-group-append">
              <span class="input-group-text">
                <span class="fa fa-user"></span>
              </span>
            </div>
          </div>
          <input type='text' class="form-control" id="responsible_input" name="responsible" hidden />
        </div>
        <div class="form-group">
          <label for="phoneNumber3">Fijador :</label>
          <select class="select2 form-control" id="fixtative_select" name="fixative"
            {% if not edit %}disabled{% endif %}>
            <option value="">S/I</option>
          </select>
        </div>
        <div class="form-group">
          <label for="phoneNumber3">Anamnesis :</label>
          <textarea id="anamnesis_input" name="anamnesis" row="2" class="form-control" {% if not edit %}disabled{% endif %} ></textarea>
        </div>
        <div class="form-group">
          <label for="transfer_order_input">
            Orden de transporte :
          </label>
          <input type='text' class="form-control" id="transfer_order_input" name="transfer_order"
            {% if not edit %}disabled{% endif %} />
        </div>
      </div>
    </div>
    <h4 class="form-section">
      <i class="ft-droplet"></i> Detalle Muestra
    </h4>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="date3">Especie :</label>
          <select class="select2 form-control" id="specie_select" name="specie" {% if not edit %}disabled{% endif %}>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="phoneNumber3">Estadío Desarrollo :</label>
          <select class="select2 form-control" id="larvalstage_select" name="larvalstage" {% if not edit %}disabled{% endif %}>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="date3">Fuente Agua :</label>
          <select class="select2 form-control" id="watersource_select" name="watersource" {% if not edit %}disabled{% endif %}>
          </select>
        </div>
      </div>
    </div>
    <!-- <h4 class="form-section">
      <i class="ft-file-text"></i> Condiciones de Recepción
    </h4>
    <div class="row">
      <div class="col-sm-12" id="question_reception">
      </div>
    </div> -->
    <h4 class="form-section">
      <i class="ft-clipboard"></i> Identificación
    </h4>
    <!-- <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="date3">Observaciones</label>
          <textarea rows="5" class="form-control" name="observation" id="observation" placeholder="Observaciones / Anamnesis"></textarea>
        </div>
      </div>
    </div> -->
    <div id="identification_group">

      <div id="identification_group_list">
      </div>
      <div class="row">
        <div class="col-sm-3 offset-md-9">
          <div class="form-group">
            <button class="btn_white_letter btn btn-success form-control" id="add_identification" type="button"
              onclick="addIdentificador()" {% if not edit %}disabled{% endif %}>Añadir Identificación</button>
          </div>
        </div>
      </div>
    </div>

    <h4 class="form-section">
      <i class="ft-grid"></i> Subdividir Flujo de Trabajo
    </h4>
    <div class="row">
      <div class="col-sm-6">
        <div class="alert alert-warning mb-2" role="alert">
          <strong>Aviso Importante!</strong>
          Si eliges subdividir este flujo de trabajo para realizar procesos en paralelo te recordamos
          que se considerará la identificación de peces y análisis ingresados como definitivos, evitando afectar
          en el futuro los subflujos asociados.
        </div>
      </div>
      <div class="col-sm-6">
        <label for="flow_divider">¿Desea dividir en trabajo en partes o trabajar con grupos de peces por separado?.
        </label>
        <select class="form-control" id="select_if_divide_flow" name="select_if_divide_flow"
          {% if not edit %}disabled{% endif %}>
          <option selected value="0">No</option>
          <option value="1">Sí</option>
        </select>
      </div>
      <input type="hidden" value="0" name="flow_divide_option" id="flow_divide_option"
        {% if not edit %}disabled{% endif %} />
      <div class="col-sm-12" id="flow_divider_options"></div>
    </div>
  </div>
</fieldset>

<script id="identification_template" type="text/x-lodash-template">
<div class="row identification border p-2 m-2" id="<%= temp_id %>">
  <div class="col-sm-11 row">
    <input type="hidden" value="<%= temp_id %>" name="identification[id]">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="cage">Estanque/Jaula</label>
        <input type="text" value="" name="identification[cage]" class="form-control estanque-cage"  {% if not edit %}disabled{% endif %} >
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="group">Grupo/Nro Caso Cliente</label>
        <input name="identification[group]" class="form-control estanque-cage" {% if not edit %}disabled{% endif %} >
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="no_fish">No. Peces</label>
        <input name="identification[no_fish]" type="number" value="0" min="1" class="form-control no_peces" {% if not edit %}disabled{% endif %} >
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="no_container">No. Contenedores</label>
        <input name="identification[no_container]" type="number" value="1" min="1" class="form-control" {% if not edit %}disabled{% endif %} >
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="wheight">Peso (gramos):</label>
        <input name="identification[weight]" value="0.0" class="form-control" {% if not edit %}disabled{% endif %} >
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="wheight">Características Extras</label>
        <textarea name="identification[extra_features_detail]" row="2" class="form-control" {% if not edit %}disabled{% endif %} ></textarea>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label> ¿Condiciones óptimas? </label>
        <div class="input-group">
          <div class="d-inline-block custom-control custom-radio">
            <input type="radio" checked name="identification[is_optimal][<%= temp_id %>]" class="custom-control-input" value="si" id="identification[is_optimal][<%= temp_id %>]_si" {% if not edit %}disabled{% endif %} >
            <label class="custom-control-label" for="identification[is_optimal][<%= temp_id %>]_si">Si</label>
          </div> &nbsp;&nbsp;&nbsp;
          <div class="d-inline-block custom-control custom-radio">
            <input type="radio" name="identification[is_optimal][<%= temp_id %>]" class="custom-control-input" value="no" id="identification[is_optimal][<%= temp_id %>]_no" {% if not edit %}disabled{% endif %} >
            <label class="custom-control-label" for="identification[is_optimal][<%= temp_id %>]_no">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Observaciones</label>
        <textarea name="identification[observations]" class="form-control" row="2" {% if not edit %}disabled{% endif %} ></textarea>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Órganos</label>
        <select class="select2 form-control identification_organs" name="identification[organs][<%= temp_id %>]" multiple="multiple" {% if not edit %}disabled{% endif %} >
          <% _.each(organs, function (organ) { %>
            <option value="<%= organ.id %>"><%= organ.name %></option>
          <% }); %>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-1 text-right">
    {% if edit %}
    <div class="form-group">
      <label for="delete">&nbsp;</label>
      <button class="btn btn-danger" id="delete_identification" type="button"><i class="fa fa-close fa-fx fa-1x"></i></button>
    </div>
    {% endif %} 
  </div>
</div>
</script>

<script id="flowgroup_template" type="text/x-lodash-template">
  <div class="badge badge-pill badge-success p-2 m-1"><strong>PARTE <%= group_count %>: <%= group_size_text %></strong></div>
</script>

<script id="group_content_manual_template" type="text/x-lodash-template">
  <div class="col-sm-12 pt-1 pb-1">
    <label>Peces grupo <%= group_nro %></label>
    <select class="select2 form-control fishSelection" name="subflow_select[group][<%= group_nro %>]" multiple="multiple" {% if not edit %}disabled{% endif %} >
      <% _.each(group_fishes, function (fish) { %>
        <option value="<%= fish.identification_id %>_<%= fish.fish_num %>"><%= fish.cage %>_<%= fish.group %>_P<%= fish.fish_num %> </option>
      <% }); %>
    </select>
  </div>
</script>

<script id="flowdivider_options_template" type="text/x-lodash-template">
  <ul class="nav nav-tabs nav-top-border no-hover-bg" id="FlowDividerOptions">
    <li class="nav-item">
      <a class="nav-link" id="base_flowdivider_by_identification" data-toggle="tab" aria-controls="flowdivider_by_identification" href="#flowdivider_by_identification" aria-expanded="true">
        Subdividir por estanque/jaula
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="base_flowdivider_by_manual" data-toggle="tab" aria-controls="flowdivider_by_manual" href="#flowdivider_by_manual" aria-expanded="false">
        Subdividir manualmente
      </a>
    </li>
  </ul>
  <div class="tab-content px-1 pt-1">
    <div role="tabpanel" class="tab-pane" id="flowdivider_by_identification" aria-labelledby="base_flowdivider_by_identification">
    </div>
    <div role="tabpanel" class="tab-pane" id="flowdivider_by_manual" aria-labelledby="base_flowdivider_by_manual">
      <div class="row">
        <div class="col-sm-3 text-right pt-1">
          <label for="flowdivider_manual_group_quantity" class="control-label"><h5>¿Cuántos grupos desea realizar?</h5></label>
        </div>
        <div class="col-sm-2">
          <input id="flowdivider_manual_group_quantity" name="flowdivider_manual_group_quantity" class="form-control" type="number" min="2" value="2"  {% if not edit %}disabled{% endif %} />
        </div>
      </div>
      <div class="col-sm-12" id="flowdivider_manual_groups">
      </div>
    </div>
  </div>
</script>
