<fieldset>
  <div id="step_{{ step_tab }}">
    <input type="hidden" id="step_id" name="step_id" value="{{step_id}}">
    <input type="hidden" id="step_tag" name="step_tag" value="{{step_tag}}">
    <input type="hidden" id="form_id" name="form_id" value="{{form_id}}" >
    <input type="hidden" id="entryform_id" name="entryform_id" value="{{entryform_id}}" >
    <h4 class="form-section">
      <i class="ft-user"></i> Cargar Procesador Tejido
    </h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Fecha / Hora Procesado Tejido : </label>
          <div class='input-group date' id='datetime_processor_loaded_at'>
            <input type="text" class="form-control" name="processor_loaded_at" />
            <div class="input-group-append">
              <span class="input-group-text">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
          <input type="hidden" name="processor_loaded_at_submit" id="processor_loaded_at_submit" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
        </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="form-group">
          <label for="date3">Nro muestras por cassettes</label>
          <select class="select2 form-control" id="no_cassette" name="cassette">
            <option value='1' selected>x1</option>
            <option value='2'>x2</option>
            <option value='3'>x3</option>
            <option value='4'>x4</option>
          </select>
        </div>
      </div> -->
    </div>
    <div id="cassette_group">
      <table id="cassettes_table" class="table table-bordered table-hover table-condensed" width="100%">
        <thead>
          <tr>
            <th>Muestra</th>
            <th>Cassette</th>
            <th>Organos</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
    </div>
  </div>
</fieldset>

<script id="cassette_row" type="text/x-lodash-template">
  <tr>
    <input type="hidden" name="cassette[sample_id][<%= cassette_index %>]" value="<%= sample_id %>" >
    <input type="hidden" name="cassette[sample_no][<%= cassette_index %>]" value="<%= sample_no %>" >
    <input type="hidden" name="cassette[identification_id][<%= cassette_index %>]" value="<%= identification_id %>" >
    <input type="hidden" name="cassette[cassette_name][<%= cassette_index %>]" value="<%= cassette_name %>" >
    <td>
      <%= sample_id %>
    </td>
    <td>
      <%= cassette_name %>
    </td>
    <td style="width:40%">
      <select class="select2 form-control form-control-sm" style="width:100%"
        data-sample-id="<%= sample_id %>" data-cassette-name="<%= cassette_name %>"
        name="cassette[organ][<%= cassette_index %>]" multiple="multiple">
        <% _.each( cassette_organs, function( organ ){ %>
          <option value=<%= organ.value %>> <%= organ.name %> </option>
        <% }); %>
      </select>
    </td>
    <td>
      <button title="Añadir cassette a la muestra" tooltip="" type="button" data-cassette="<%= cassette_index %>" class="btn btn-icon btn-secondary add_cassette_to_sample"><i class="fa fa-plus"></i></button>
    </td>
  </tr>
</script>
