{% extends 'layout.html' %}
{% load static %}

{% block content %}
<!-- MAIN -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title">
                    Hoja lectura -
                    <a href="{{ case.get_absolute_url }}" class="detailTrigger">Caso: {{ case.no_caso }}</a>
                </h4>
            </header>
            <main class="card-body container-fluid">
                <section class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-striped zero-configuration">
                            <thead>
                                <tr>
                                    <th scope="col">Slide</th>
                                    <th scope="col">Identificación</th>
                                    <th scope="col">Unidad</th>
                                    <th scope="col">Organos</th>
                                    <th scope="col">Tincion</th>
                                    <th scope="col">Tag</th>
                                    <th scope="col">Disponible?</th>
                                    <th scope="col">Ver Slide</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for slide in slides %}
                                <tr>
                                    <th scope="row">{{ slide.correlative }}</th>
                                    <td>{{ slide.unit.identification }}</td>
                                    <td>{{ slide.unit.correlative }}</td>
                                    <td>
                                        {% for organ in slide.organs %}
                                            {% if forloop.last %}
                                                {{ organ.abbreviation }}
                                            {% else %}
                                                {{ organ.abbreviation }},
                                            {% endif %}
                                        {% endfor %}
                                        </td>
                                    <td>{{ slide.stain }}</td>
                                    <td>{{ slide.tag }}</td>
                                    <td>{{ slide.released_at|yesno:"Si,No" }}</td>
                                    <td>
                                        {% with url=slide.get_absolute_url%}
                                        {% if url %}
                                        <a href="{{ url }}">Ver en DsStore</a>
                                        {% else %}
                                        <small>No se encontró slide.</small>
                                        {% endif %}
                                        {% endwith %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>

<!-- END MAIN -->

{% endblock content %}
{% block scripts %}
<script
    type="text/javascript"
    src="//cdn.jsdelivr.net/npm/sweetalert2@10"
    defer>
</script>

<script type="text/javascript">
 $(document).ready(() => {
     $(".zero-configuration").DataTable();

     $(".detailTrigger").click(function (e) {
         e.preventDefault();
         const url = $(e.target).attr("href");
         $.get(url, function (data, textStatus) {
             Swal.fire({
                 html: data,
                 width: "80%",
             });
         });
     });
     
 })
</script>


{% endblock scripts %}
