{% extends 'layout.html' %}
{% load static %}

{% block content %}
<!-- MAIN -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title">
                    Progreso de Caso: {{ case.no_caso }}
                </h4>
            </header>
            <main class="card-body container-fluid">
                <section class="row">
                    <fieldset class="col-md-4 border d-flex flex-column">
                        <legend>Información General</legend>
                        <span>
                            <b>Cliente:</b>
                            {{ case.customer|default:"S/I" }}
                        </span>
                        <span>
                            <b>Centro:</b>
                            {{ case.center|default:"S/I" }}
                        </span>
                        <span>
                            <b>Especie:</b>
                            {{ case.specie|default:"S/I" }}
                        </span>
                        <span>
                            <b>Fuente de Agua:</b>
                            {{ case.watersource|default:"S/I" }}
                        </span>
                        <span>
                            <b>Fijador:</b>
                            {{ case.fixative|default:"S/I" }}
                        </span>
                        <span>
                            <b>Anamnesis:</b>
                            {{ case.anamnesis|default:"S/I" }}
                        </span>
                        <span>
                            <b>Tipo de Ingreso:</b>
                            {{ case.get_entry_format_display|default:"S/I" }}
                        </span>
                    </fieldset>
                    <div class="col-md-5 offset-md-2 d-flex align-items-center">
                        <h1 class="display-3">
                            <a href="{% url 'lab:case_read_sheet' case.id %}">Hoja de Lectura</a>
                        </h1>
                    </div>
                </section>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <h5>Servicios</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Servicio</th>
                                    <th scope="col">Fecha de Ingreso</th>
                                    <th scope="col">Patologo</th>
                                    <th scope="col">Fecha de Derivación</th>
                                    <th scope="col">Plazo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for service in analysis %}
                                <tr>
                                    <td>{{ service.id }}</td>
                                    <td>{{ service.exam }}</td>
                                    <td>{{ service.created_at|date:"d/m/Y" }}</td>
                                    <td>{{ service.patologo|default:"Sin Asignar" }}</td>
                                    <td>{{ service.assignment_done_at|date:"d/m/Y"|default:"Sin derivar" }}</td>
                                    <td>{{ service.assignment_deadline|date:"d/m/Y"|default:"Sin plazo" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <h5>Progreso del Procesamiento</h5>
                        <table class="table zero-configuration">
                            <thead>
                                <tr>
                                    <th scope="col">Unidades(Organos)</th>
                                    <th scope="col">Armado de Cassettes(Organos)</th>
                                    <th scope="col">Procesado de Cassettes(Cassettes)</th>
                                    <th scope="col">Slides</th>
                                    <th scope="col">Disponibilizados</th>
                                    <th scope="col">Tincion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for slide in slides %}
                                <tr>
                                    <td>{{ units }}({{ units_organs_count }})</td>
                                    <td>{{ cassettes }}({{ cassettes_organs_count }})</td>
                                    <td>{{ cassettes_processed }} / {{ cassettes }}</td>
                                    <td>{{ slide.build }}</td>
                                    <td>{{ slide.available }}</td>
                                    <td>{{ slide.stain__abbreviation }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<!-- END MAIN -->

{% endblock content %}
{% block scripts %}
<script
    type="text/javascript"
    src="//cdn.jsdelivr.net/npm/sweetalert2@10"
    defer>
</script>

<script type="text/javascript">
 $(document).ready(() => {
     $(".zero-configuration").DataTable({
         rowsGroup: [0, 1, 2]
     });

     $(".detailTrigger").click(function (e) {
         e.preventDefault();
         const url = $(e.target).attr("href");
         $.get(url, function (data, textStatus) {
             Swal.fire({
                 html: data,
                 width: "80%",
             });
         });
     });

 })
</script>


{% endblock scripts %}
