{% extends 'layout.html' %}
{% load static %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content_header %}
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">Ingresos</h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Ingresos</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="content-header-right col-md-6 col-12">
    <div class="float-md-right">
      <!-- <div class="dropdown dropleft">
        <button type="button" class="btn btn-info btn-lg btn-block dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nuevo Caso
        </button>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
          <a href="/ingresos/new" class="dropdown-item">
            Ingreso completo
          </a>
          <a href="/ingresos/new" class="dropdown-item">
            Ingreso solo análisis
          </a>
          <a href="/ingresos/new" class="dropdown-item">
            Ingreso corte incluído
          </a>
        </div>
      </div> -->
      <a href="/ingresos/new" class="btn btn-success btn-lg round">
        <i class="fa fa-plus"></i>
        Nuevo Caso
      </a>
    </div>
  </div>
</div>
{% endblock content_header %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado de Ingresos</h4>
      </div>
      <div class="card-content">
        <div class="card-body card-dashboard">
          <table class="table table-striped table-bordered zero-configuration">
            <thead>
              <tr>
                <!-- <th>Id</th> -->
                <th>Nro Caso</th>
                <th>Subflujo</th>
                <th>Cliente</th>
                <th>Fecha Inicio</th>
                <th>Etapa en curso</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for entryForm in entryForm_list %}
                  <tr id="form-{{ entryForm.id }}">
                    <!-- <td>{{ entryForm.content_object.id }}</td> -->
                    <td><strong>{{ entryForm.content_object.no_caso }}</strong></td>
                    <td>
                      {% if entryForm.content_object.get_subflow != "N/A" %}
                        Parte {{ entryForm.content_object.get_subflow }}
                      {% else %}
                        {{ entryForm.content_object.get_subflow }}
                      {% endif %}
                    </td>
                    <td>{{ entryForm.content_object.customer|default:"" }}</td>
                    <td>{{ entryForm.content_object.created_at|date:"d/m/Y" }}</td>
                    <td><a href="workflow/{{ entryForm.id }}/{{ entryForm.state.step.tag }}">{{ entryForm.state.step }}</a></td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Opciones">
                        <button class="btn btn-sm btn-primary showSummaryBtn" data-id="{{ entryForm.content_object.pk }}"><i class="fa fa-list fa-fx"></i> Resumen</button>
                        <button type="button" data-id="{{ entryForm.id }}" class="btn btn-danger btn-sm deleteFlow"><i class="fa fa-trash fa-fx"></i> Eliminar</button>
                      </div>
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade text-left" id="show_summary" role="dialog">
  <div class="modal-dialog" role="document" style="min-width:80% !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="title">Resumen Caso <span class="NoCasoSummary"></span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size:12px !important; max-height: calc(100vh - 150px); overflow-y:scroll;">
        
        <h6 class="form-section"> Información general</h6>
        <div class="row generalInfo">
          <div class="col-sm-4 summaryClient">
          </div>
          <div class="col-sm-4 summaryCompany">
          </div>
          <div class="col-sm-4 summaryCenter">
          </div>
          <div class="col-sm-4 summaryResponsible">
          </div>
          <div class="col-sm-4 summaryReception">
          </div>
          <div class="col-sm-4 sumarrySampling">
          </div>
          <div class="col-sm-4 summaryNoOrder">
          </div>
          <div class="col-sm-4 summaryNoRequest">
          </div>
          <div class="col-sm-4 summaryFixative">
          </div>
        </div>
        <hr>
        <h6 class="form-section mt-2"> Detalle</h6>
        <div class="row ">
          <div class="col-sm-4 summarySpecie">
          </div>
          <div class="col-sm-4 summaryDevStatus">
          </div>
          <div class="col-sm-4 summaryWaterSource">
          </div>
        </div>
        <hr>        
        <div class="row">
          <div class="col-sm-3 summaryIdentification">
          </div>
          <div class="col-sm-3 summaryExams">
          </div>
          <div class="col-sm-6 summarySamples">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block scripts %}
<script type="text/javascript">

  $(document).on('click', '.deleteFlow', function(e){
    swal({
      title: "Confirmación",
      text: "¿Está seguro que desea eliminar este caso definitivamente?",
      icon: "warning",
      showCancelButton: true,
      buttons: {
        cancel: {
            text: "No, cancelar!",
            value: null,
            visible: true,
            className: "btn-warning",
            closeModal: true,
        },
        confirm: {
            text: "Sí, eliminar!",
            value: true,
            visible: true,
            className: "",
            closeModal: true,
        }
      }
    }).then(isConfirm => {
      if (isConfirm) {
        var form_id = $(this).data('id');
        var url = Urls.workflow_w_id(form_id);
        lockScreen(1);
        $.ajax({
          type: "DELETE",
          url: url,
          async: false,
        })
        .done(function (data) {
          response = data;
          if (response.ok) {
            toastr.success('', 'Se ha eliminado el caso exitosamente.');
            var timer = setTimeout(function() {
              window.location='/ingresos'
            }, 2000);
          } else {
            toastr.error('', 'No ha sido posible eliminar el caso.');
          }
        })
        .fail(function (data) {
          toastr.error('', 'No ha sido posible eliminar el caso.');
        });
      }
    });
  });

  $(document).ready(function () {
    var tableChildRows = $('.zero-configuration').DataTable({
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
      },
      ordering: false,
    });
  });

  $(document).on('click', '.showSummaryBtn', function(e){
    var entryform_id = $(this).data('id');
    fillSummary(entryform_id);
    $("#show_summary").modal("show");
  });

  function fillSummary(entryform_id){
    var url = Urls.entryform_id(entryform_id);

    $.ajax({
      type: "GET",
      url: url,
      async: false,
    })
    .done(function (data) {
      $('.NoCasoSummary').html(data.entryform.no_caso);
      $('.summaryClient').html('<b>Cliente</b>: '+ data.entryform.customer.name);
      $('.summaryCompany').html('<b>Empresa</b>: '+ data.entryform.company);
      $('.summaryCenter').html('<b>Centro</b>: '+ data.entryform.center);
      $('.summaryResponsible').html('<b>Responsable</b>: '+ data.entryform.responsible);
      $('.summaryReception').html('<b>Fecha recepción</b>: '+ moment(data.entryform.created_at).format("DD/MM/YYYY HH:MM") );
      $('.sumarrySampling').html('<b>Fecha muestreo</b>: '+ moment(data.entryform.sampled_at).format("DD/MM/YYYY HH:MM") );
      $('.summaryNoOrder').html('<b>No. orden</b>: '+ data.entryform.no_order);
      $('.summaryNoRequest').html('<b>No. solicitud</b>: '+ data.entryform.no_request);
      $('.summaryFixative').html('<b>Fijador</b>: '+ data.entryform.fixative.name);
      
      $('.summarySpecie').html('<b>Especie</b>: '+ data.entryform.specie.name);  
      $('.summaryDevStatus').html('<b>Estado de desarrollo</b>: '+ data.entryform.larvalstage.name);  
      $('.summaryWaterSource').html('<b>Fuente de agua</b>: '+ data.entryform.watersource.name);

      var tpl_identification = '<div class="col-sm-12"><h6 class="form-section mt-2"> Identificación</h6></br>';

      $.each(data.entryform.identifications, function(i, item){
        var optimum = "No"
        if (item.is_optimum){
          optimum = "Sí"
        }
        tpl_identification += '<div class="alert alert-light"><b>Estanque/Jaula:</b> '+ item.cage;
        tpl_identification += '</br><b>Grupo:</b> '+ item.group;
        tpl_identification += '</br><b>Peces:</b> '+ item.no_fish;
        tpl_identification += '</br><b>Contenedores:</b> '+ item.no_container;
        tpl_identification += '</br><b>Peso:</b> '+ item.weight;
        tpl_identification += '</br><b>Comentarios Extras:</b> '+ item.extra_features_detail;
        tpl_identification += '</br><b>Óptimo?:</b> '+ optimum;
        tpl_identification += '</br><b>Observaciones:</b> '+ item.observation;
        tpl_identification += '</br><b>Órganos:</b> '+ Object.keys(item.organs_set).map(function(k){return item.organs_set[k].name}).join(", ") +'</div>';
      });

      tpl_identification += '</div>';
      $('.summaryIdentification').html(tpl_identification);

      var tpl_exams = '<div class="col-sm-12"><h6 class="form-section mt-2"> Servicios</h6></br>';
      $.each(data.entryform.analyses, function(i, item){
        tpl_exams += '<div class="alert alert-light"><b>'+ item.exam__name +':</b> '+ moment(item.created_at).format("DD/MM/YYYY HH:MM") +'</div>';
      });

      tpl_exams += '</div>';
      $('.summaryExams').html(tpl_exams);

      var tpl_samples = '<div class="col-sm-12"><h6 class="form-section mt-2"> Muestras</h6></br><table class="table table-bordered table-xs">';
      tpl_samples += '<thead><tr><th width="8% !important;">Muestra</th><th>Identificación</th><th>Análisis</th><th>Órganos</th></tr></thead><tbody>';

      $.each(data.samples, function(i, item){
        var len = 1;
        var tpl_exams = ""
        $.each(item.sample_exams_set, function(j, v){
          len+=1;
          tpl_exams += '<tr><td>'+v.exam_name+'</td>';
          tpl_exams += '<td>'+ Object.keys(v.organ_id).map(function(k){return v.organ_id[k].name}).join(", ") +'</td></tr>';
        });
        tpl_samples += '<tr>';
        tpl_samples += '<td rowspan="'+len+'">'+ item.index +'</td>';
        tpl_samples += '<td rowspan="'+len+'">'+ item.identification.cage +'-'+item.identification.group+'</td>';
        tpl_samples += '</tr>';
        tpl_samples += tpl_exams;
        
      });

      tpl_samples += '</tbody></table></div>';
      $('.summarySamples').html(tpl_samples);
    });

  }


</script> {% endblock scripts %}
