{% extends 'layout.html' %}
{% load static %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content_header %}
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">{{lang.entries}}</h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">{{lang.home}}</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">{{lang.entries}}</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="content-header-right col-md-6 col-12">
    <div class="float-md-right">
      <!-- <div class="dropdown dropleft">
        <button type="button" class="btn btn-info btn-lg btn-block dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nuevo Caso
        </button>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
          <a href="/ingresos/new" class="dropdown-item">
            Ingreso completo
          </a>
          <a href="/ingresos/new" class="dropdown-item">
            Ingreso solo análisis
          </a>
          <a href="/ingresos/new" class="dropdown-item">
            Ingreso corte incluído
          </a>
        </div>
      </div> -->
      {% if edit %}
      <a href="/ingresos/new" class="btn btn-success btn-lg round">
        <i class="fa fa-plus"></i>
        {{lang.new_case}}
      </a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content_header %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{lang.entry_list}}</h4>
      </div>
      <div class="card-content">
        <div class="card-body card-dashboard">
          <table class="table table-striped table-bordered zero-configuration">
            <thead>
              <tr>
                <!-- <th>Id</th> -->
                <th>{{lang.no_case}}</th>
                <th>{{lang.client}}</th>
                <th>{{lang.center}}</th>
                <th>{{lang.request}}</th>
                <th>{{lang.reception_date}}</th>
                <th>{{lang.current_stage}}</th>
                <th>{{lang.options}}</th>
              </tr>
            </thead>
            <tbody>
              {% for entryForm in entryForm_list %}
                  <tr id="form-{{ entryForm.id }}">
                    <!-- <td>{{ entryForm.content_object.id }}</td> -->
                    <td><strong>{{ entryForm.content_object.no_caso }}</strong></td>
                    <td>{{ entryForm.content_object.customer|default:"" }}</td>
                    <td>{{ entryForm.content_object.center|default:"" }}</td>
                    <td>{{ entryForm.content_object.no_request|default:"" }}</td>
                    <td>{{ entryForm.content_object.created_at|date:"d/m/Y" }}</td>
                    <td>
                      {% if entryForm.form_closed %}
                        <a href="workflow/{{ entryForm.id }}"> {{lang.case_closed}} </a>
                      {% elif entryForm.cancelled %}
                       {{lang.case_cancelled}}
                      {% else %}
                        <a href="workflow/{{ entryForm.id }}"> {{ entryForm.state.step}}</a>
                      {% endif %}
                    </td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Opciones">
                        <button class="btn btn-sm btn-primary showSummaryBtn" data-id="{{ entryForm.content_object.pk }}" data-closed="{% if entryForm.form_closed or entryForm.cancelled %}1{% else %}0{% endif %}" data-editable="{% if edit %}1{% else %}0{% endif %}"><i class="fa fa-list fa-fx"></i> {{lang.summary}}</button>
                        
                        {% if entryForm.form_closed and request.user.is_superuser and not entryForm.cancelled %}
                          <button type="button" data-id="{{ entryForm.id }}" class="btn btn-blue btn-sm reopenFlow"><i class="fa fa-check-square-o fa-fx"></i> {{lang.reopen}}</button>                   
                        {% endif %}

                        {% if eliminar and not entryForm.cancelled %}
                          <button type="button" data-id="{{ entryForm.id }}" class="btn btn-danger btn-sm deleteFlow"><i class="fa fa-trash fa-fx"></i> {{lang.cancel}}</button>
                        {% endif %}
                      </div>
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block scripts %}
<script type="text/javascript">

  $(document).on('click', '.deleteFlow', function(e){
    swal({
      title: "{{lang.confirmation}}",
      text: "{{lang.cancel_case_confirm_text}}",
      icon: "warning",
      showCancelButton: true,
      buttons: {
        cancel: {
            text: "{{lang.to_exit}}",
            value: null,
            visible: true,
            className: "btn-warning",
            closeModal: true,
        },
        confirm: {
            text: "{{lang.to_confirm}}",
            value: true,
            visible: true,
            className: "",
            closeModal: true,
        }
      }
    }).then(isConfirm => {
      if (isConfirm) {
        var form_id = $(this).data('id');
        var url = Urls.workflow_w_id(form_id);
        lockScreen(1);
        $.ajax({
          type: "DELETE",
          url: url,
          async: false,
        })
        .done(function (data) {
          response = data;
          if (response.ok) {
            toastr.success('{{lang.done}}', '{{lang.done_msg}}');
            var timer = setTimeout(function() {
              window.location='/ingresos'
            }, 2000);
          } else {
            toastr.error('{{lang.error}}', '{{lang.error}}');
          }
        })
        .fail(function (data) {
          toastr.error('{{lang.error}}', '{{lang.error}}');
        });
      }
    });
  });

  $(document).on('click', '.reopenFlow', function(e){
    swal({
      title: "{{lang.confirmation}}",
      text: "{{lang.reopen_case_text}}",
      icon: "warning",
      showCancelButton: true,
      buttons: {
        cancel: {
            text: "{{lang.to_exit}}",
            value: null,
            visible: true,
            className: "btn-warning",
            closeModal: true,
        },
        confirm: {
            text: "{{lang.to_confirm}}",
            value: true,
            visible: true,
            className: "",
            closeModal: true,
        }
      }
    }).then(isConfirm => {
      if (isConfirm) {
        var form_id = $(this).data('id');
        var url = Urls.reopen_form(form_id);
        $.ajax({
          type: "POST",
          url: url,
        })
        .done(function (data) {
          toastr.success('{{lang.done}}', '{{lang.done_msg}}');
            var timer = setTimeout(function() {
              window.location='/ingresos'
            }, 2000);
        })
        .fail(function () {
          toastr.error('{{lang.error}}', '{{lang.error_msg}}');
        });
      }
    });
  });

  $(document).ready(function () {

    var tableChildRows = $('.zero-configuration').DataTable({
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/{{lang.version}}.json"
      },
      ordering: false,
    });
  });
  
</script> {% endblock scripts %}
