{% extends 'layout.html' %}
{% load static %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content_header %}
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">Ingresos</h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Ingresos</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="content-header-right col-md-6 col-12">
    <div class="float-md-right">
      <!-- <div class="dropdown dropleft">
        <button type="button" class="btn btn-info btn-lg btn-block dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nuevo Caso
        </button>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
          <a href="/ingresos/new" class="dropdown-item">
            Ingreso completo
          </a>
          <a href="/ingresos/new" class="dropdown-item">
            Ingreso solo análisis
          </a>
          <a href="/ingresos/new" class="dropdown-item">
            Ingreso corte incluído
          </a>
        </div>
      </div> -->
      <a href="/ingresos/new" class="btn btn-success btn-lg round">
        <i class="fa fa-plus"></i>
        Nuevo Caso
      </a>
    </div>
  </div>
</div>
{% endblock content_header %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado de Ingresos</h4>
      </div>
      <div class="card-content">
        <div class="card-body card-dashboard">
          <table class="table table-striped table-bordered zero-configuration">
            <thead>
              <tr>
                <!-- <th>Id</th> -->
                <th>Nro Caso</th>
                <th>Subflujo</th>
                <th>Cliente</th>
                <th>Fecha Inicio</th>
                <th>Etapa en curso</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for entryForm in entryForm_list %}
                  <tr id="form-{{ entryForm.id }}">
                    <!-- <td>{{ entryForm.content_object.id }}</td> -->
                    <td><strong>{{ entryForm.content_object.no_caso }}</strong></td>
                    <td>
                      {% if entryForm.content_object.get_subflow != "N/A" %}
                        Parte {{ entryForm.content_object.get_subflow }}
                      {% else %}
                        {{ entryForm.content_object.get_subflow }}
                      {% endif %}
                    </td>
                    <td>{{ entryForm.content_object.customer|default:"" }}</td>
                    <td>{{ entryForm.content_object.created_at|date:"d/m/Y" }}</td>
                    <td><a href="workflow/{{ entryForm.id }}/{{ entryForm.state.step.tag }}">{{ entryForm.state.step }}</a></td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Opciones">
                        <button type="button" data-id="{{ entryForm.id }}" class="btn btn-danger btn-sm deleteFlow"><i class="fa fa-trash"></i> Eliminar</button>
                      </div>
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block scripts %}
<script type="text/javascript">

  $(document).on('click', '.deleteFlow', function(e){
    swal({
      title: "Confirmación",
      text: "¿Está seguro que desea eliminar este caso definitivamente?",
      icon: "warning",
      showCancelButton: true,
      buttons: {
        cancel: {
            text: "No, cancelar!",
            value: null,
            visible: true,
            className: "btn-warning",
            closeModal: true,
        },
        confirm: {
            text: "Sí, eliminar!",
            value: true,
            visible: true,
            className: "",
            closeModal: true,
        }
      }
    }).then(isConfirm => {
      if (isConfirm) {
        var form_id = $(this).data('id');
        var url = Urls.workflow_w_id(form_id);
        lockScreen(1);
        $.ajax({
          type: "DELETE",
          url: url,
          async: false,
        })
        .done(function (data) {
          response = data;
          if (response.ok) {
            toastr.success('', 'Se ha eliminado el caso exitosamente.');
            var timer = setTimeout(function() {
              window.location='/ingresos'
            }, 2000);
          } else {
            toastr.error('', 'No ha sido posible eliminar el caso.');
          }
        })
        .fail(function (data) {
          toastr.error('', 'No ha sido posible eliminar el caso.');
        });
      }
    });
  });

  $(document).ready(function () {
    var tableChildRows = $('.zero-configuration').DataTable({
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
      },
      ordering: false,
    });
  });


</script> {% endblock scripts %}
