{% extends 'layout.html' %} {% load static %} {% block stylesheets %} {% endblock stylesheets %} {% block content_header%}
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">Nuevo Ingreso</h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Ingresos</a>
          </li>
          <li class="breadcrumb-item active">Nuevo Ingreso
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock content_header %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Nuevo Ingreso</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form action="#" class="steps-validation wizard-circle">
            <!-- Step 1 -->
            <h6>Paso 1</h6>
            <fieldset>
              <h4 class="form-section">
                <i class="ft-user"></i> Informacion General
              </h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="client">
                      Cliente :
                      <span class="danger">*</span>
                    </label>
                    <input type="text" class="form-control required" id="firstName3" name="firstName">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Fecha / Hora Recepción : </label>
                    <div class='input-group date' id='datetime_created_at'>
                      <input type='text' class="form-control" />
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <span class="fa fa-calendar"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastName3">
                      Empresa :
                      <span class="danger">*</span>
                    </label>
                    <input type="text" class="form-control required" id="lastName3" name="lastName">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Fecha / Hora Muestreo : </label>
                    <div class='input-group date' id='datetime_sampled_at'>
                      <input type='text' class="form-control" />
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <span class="fa fa-calendar"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="location">
                      Centro :
                      <span class="danger">*</span>
                    </label>
                    <input type="email" class="form-control required" id="emailAddress5" name="emailAddress">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phoneNumber3">Fijador :</label>
                    <select class="select2 form-control" id="single-placeholder">
                      {% for fixtative in fixtative_list %}
                      <option value="{{fixtative.id}}">{{fixtative}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <h4 class="form-section">
                <i class="ft-user"></i> LALALALALA
              </h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="date3">Especie :</label>
                    <select class="select2 form-control" id="single-placeholder">
                      {% for specie in specie_list %}
                      <option value="{{specie.id}}">{{specie}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phoneNumber3">Estadio Desarrollo :</label>
                    <select class="select2 form-control" id="single-placeholder">
                      {% for larvalStage in larvalStage_list %}
                      <option value="{{larvalStage.id}}">{{larvalStage}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="date3">Fuente Agua :</label>
                    <select class="select2 form-control" id="single-placeholder">
                      {% for waterSource in waterSource_list %}
                      <option value="{{waterSource.id}}">{{waterSource}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <h4 class="form-section">
                <i class="ft-user"></i> Condiciones de Recepción
              </h4>
              <div class="row">
                <div class="col-md-12">
                  {% for questionReceptionCondition in questionReceptionCondition_list %}
                  <div class="form-group row">
                    <label class="col-md-6 label-control">{{questionReceptionCondition.text}} </label>
                    <div class="col-md-4">
                      <div class="input-group">
                        <div class="d-inline-block custom-control custom-radio mr-1">
                          <input type="radio" name="question_{{questionReceptionCondition.id}}" class="custom-control-input" checked="" id="question_{{questionReceptionCondition.id}}_si">
                          <label class="custom-control-label" for="question_{{questionReceptionCondition.id}}_si">Si</label>
                        </div>
                        <div class="d-inline-block custom-control custom-radio">
                          <input type="radio" name="question_{{questionReceptionCondition.id}}" class="custom-control-input" id="question_{{questionReceptionCondition.id}}_no">
                          <label class="custom-control-label" for="question_{{questionReceptionCondition.id}}_no">No</label>
                        </div>
                        <div class="d-inline-block custom-control custom-radio">
                          <input type="radio" name="question_{{questionReceptionCondition.id}}" class="custom-control-input" id="question_{{questionReceptionCondition.id}}_n/a">
                          <label class="custom-control-label" for="question_{{questionReceptionCondition.id}}_n/a">N/A</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <h4 class="form-section">
                <i class="ft-user"></i> Identificación
              </h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="date3">??????</label>
                    <input type="date" class="form-control" id="date3">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="date3">Observaciones</label>
                    <textarea rows="5" class="form-control" name="observaciones" placeholder="Observaciones / Anamnesis"></textarea>
                  </div>
                </div>
              </div>
              <h4 class="form-section">
                <i class="ft-user"></i> Análisis
              </h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="date3">Seleccione los análisis:</label>
                    <select class="select2 form-control" id="analisis_select" multiple="multiple">
                      {% for exam in exam_list %}
                      <option value="{{exam.id}}">{{exam}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div id="analisis_group">
              </div>
            </fieldset>
            <!-- Step 2 -->
            <h6>Step 2</h6>
            <fieldset>
              <div class="row">
              </div>
            </fieldset>
            <!-- Step 3 -->
            <h6>Step 3</h6>
            <fieldset>
              <div class="row">
              </div>
            </fieldset>
            <!-- Step 4 -->
            <h6>Step 4</h6>
            <fieldset>
              <div class="row">
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script id="analisis_template" type="text/x-lodash-template">
<div data-id="<%= analisis_id %>" class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="date3">Análisis</label>
      <input type="email" value="<%= analisis_name %>" class="form-control required" disabled id="emailAddress5">
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="date3">No. Peces</label>
      <input type="email" class="form-control required" id="emailAddress5" name="emailAddress">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="date3">Órganos</label>
      <select class="select2 form-control" id="analisis-select">
        {% for organ in organ_list %}
        <option value="{{organ.id}}">{{organ}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-md-1 text-center">
    <div class="form-group">
      <label for="date3">&nbsp;</label>
      <button class="btn_white_letter btn btn-danger form-control" id="delete_analisis" type="button">X</button>
    </div>
  </div>
</div>

</script> {% endblock content %} {% block scripts %}



<script type="text/javascript ">

var form = $(".steps-validation").show();

$(function () {
  $('#datetime_created_at').datetimepicker();
  $('#datetime_sampled_at').datetimepicker();
  $(".select2").select2();

  $('#analisis_select').on("select2:select", function(e) {
    var analisis_name = e.params.data.text
    var analisis_id = e.params.data.id
    var data = { 'analisis_id': analisis_id, 'analisis_name': analisis_name }

    addAnalisisTemplate(data);
  });

  $("#analisis_group").on("click", function(e) {
    if(e.target.id === 'delete_analisis') {
      var analisis_id = $(e.target).closest("[data-id]").data("id").toString();
      var analisis_select = $('#analisis_select')
      var values_analisis_select = analisis_select.val();

      if (values_analisis_select) {
        var i = values_analisis_select.indexOf(analisis_id);
        if (i >= 0) {
          values_analisis_select.splice(i, 1);
          analisis_select.val(values_analisis_select).change();
        }
      }
      $(e.target).closest("[data-id]").remove()

    }
    e.stopPropagation();
  });

  $('#analisis_select').on("select2:unselecting", function(e) {
    if (e.params.args.originalEvent) {
        e.params.args.originalEvent.stopPropagation();
    }

    var unselected_value = e.params.args.data.id;
    $('#analisis_group').find('[data-id="' + unselected_value + '"]').remove();
  });
});

function addAnalisisTemplate(data) {
  var analisisTemplate = document.getElementById("analisis_template").innerHTML;

  var templateFn = _.template(analisisTemplate);
  var analisisDiv = document.getElementById("analisis_group");
  var templateHTML = templateFn(data);

  analisisDiv.innerHTML += templateHTML;
}








$(".steps-validation").steps({
    headerTag: "h6",
    bodyTag: "fieldset",
    transitionEffect: "fade",
    titleTemplate: '<span class="step">#index#</span> #title#',
    labels: {
        finish: 'Submit'
    },
    onStepChanging: function (event, currentIndex, newIndex)
    {
        // Allways allow previous action even if the current form is not valid!
        if (currentIndex > newIndex)
        {
            return true;
        }
        // Forbid next action on "Warning" step if the user is to young
        if (newIndex === 3 && Number($("#age-2").val()) < 18)
        {
            return false;
        }
        // Needed in some cases if the user went back (clean up)
        if (currentIndex < newIndex)
        {
            // To remove error styles
            form.find(".body:eq(" + newIndex + ") label.error").remove();
            form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
        }
        form.validate().settings.ignore = ":disabled,:hidden";
        return form.valid();
    },
    onFinishing: function (event, currentIndex)
    {
        form.validate().settings.ignore = ":disabled";
        return form.valid();
    },
    onFinished: function (event, currentIndex)
    {
        alert("Submitted!");
    }
});

// Initialize validation
$(".steps-validation").validate({
    ignore: 'input[type=hidden]', // ignore hidden fields
    errorClass: 'danger',
    successClass: 'success',
    highlight: function(element, errorClass) {
        $(element).removeClass(errorClass);
    },
    unhighlight: function(element, errorClass) {
        $(element).removeClass(errorClass);
    },
    errorPlacement: function(error, element) {
        error.insertAfter(element);
    },
    rules: {
        email: {
            email: true
        }
    }
});

</script> {% endblock scripts %}
