{% extends 'base_pdf.html' %}
{% load static %}
{% block stylesheets %}

<style type="text/css">
  .text-white {
    color: white !important;
  }

  .container {
    font-family: "Helvetica" !important;
    font-size: 10px !important;
    
  }

  .t1 {
    font-family: "Helvetica" !important;
    font-size: 14px !important;
    font-weight: bold !important;
    
  }

  .t2 {
    font-family: "Helvetica" !important;
    font-size: 12px !important;
    font-weight: bold !important;
    
  }

  .t3 {
    font-family: "Helvetica" !important;
    font-size: 11px !important;
    font-weight: bold !important;
    
  }

  .t3_n {
    font-family: "Helvetica" !important;
    font-size: 11px !important;
    font-weight: normal !important;
    
  }

  div {
    font-family: "Helvetica" !important;
    font-size: 10px !important;
    
    
  }

  table.table-bordered{
    border:1px solid gray;
  }
  table.table-bordered > thead > tr > th{
      border:1px solid gray;
  }
  table.table-bordered > tbody > tr > td{
      border:1px solid gray;
  }

</style>

{% endblock stylesheets %}

{% block body %}
<div class="container">
  <div class="row" style="page-break-inside: avoid !important;">
    <table class="table table-bordered">
      <tr>
        <td class="col-xs-3" style="text-align: center;""><img alt="" src="{% static 'assets/images/logo/logo.png' %}" class="img-fluid float-left" style="width: 180px;"></td>
        <td class="col-xs-5">
          <center>
            <span class="t1">
              FORMULARIO RECEPCIÓN DE MUESTRAS
            </span>
          </center>
        </td>
        <td class="col-xs-2">
          <div clas="row">
            <div class="col-xs-12">
              <span class="t3">Fecha:</span>
            </div>
            <div class="col-xs-12">
              <span class="t3">Hora:</span>
            </div>
            <div class="col-xs-12">
              <span class="t3">Version:</span>
            </div>
          </div>
        </td>
        <td class="col-xs-2">
          <div class="row">
            <div class="col-xs-12">
              <span class="t3_n">{{doc_data.created_at|date:'d/m/Y'}}</span>
            </div>
            <div class="col-xs-12">
              <span class="t3_n">{{doc_data.created_at|date:'H:i'}}</span>
            </div>
            <div class="col-xs-12">
              <span class="t3_n">v{{doc_data.version}}</span>
            </div>
          </div>
        </td>
      </tr>  
    </table>
  </div>

  <div class="row" style="page-break-inside: avoid !important;">
    <table class="table table-bordered mt-2">
      <tbody>
        <tr>
          <td colspan="6" class="text-center" style="background-color: #fbe9e7;">
            <span class="t2" style="text-transform: uppercase;">Información del caso</span>
          </td>
        </tr>
        <tr>
          <td class="col-xs-2">
            <span class="t3">No. Caso:</span>
          </td>
          <td colspan="2" class="col-xs-4">
            <span class="t3_n">{{entryform.no_caso}}</span>
          </td>
          <td class="col-xs-2">
            <span class="t3">Fecha Recepción:</span>
          </td>
          <td colspan="2" class="col-xs-4 ">
            <span class="t3_n">{{ entryform.created_at|date:'d/m/Y, H:i'}}</span>
          </td>
        </tr>
        <tr>
          <td class="col-xs-2">
            <span class="t3">Cliente:</span>
          </td>
          <td colspan="2" class="col-xs-4">
            <span class="t3_n">{{entryform.customer.name | default:""}}</span>
          </td>
          <td class="col-xs-2">
            <span class="t3">Nro Solicitud:</span>
          </td>
          <td colspan="2" class="col-xs-4">
            <span class="t3_n">{{ entryform.no_request | default:"" }}</span>
          </td>
        </tr>
        <tr>
          <td class="col-xs-2">
            <span class="t3">Centro:</span>
          </td>
          <td colspan="2" class="col-xs-4">
            <span class="t3_n">{{entryform.center | default:""}}</span>
          </td>
          <td class="col-xs-2">
            <span class="t3">Solicitante:</span>
          </td>
          <td colspan="2" class="col-xs-4">
            <span class="t3_n">{{entryform.responsible | default:""}}</span>
          </td>
        </tr>
        <tr>
          <td colspan="6" class="text-center" style="background-color: #fbe9e7;">
            <span class="t2" style="text-transform: uppercase;">Información de la muestra</span>
          </td>
        </tr>
        <tr>
          <td class="col-xs-2">
            <span class="t3">Fecha Muestreo:</span>
          </td>
          <td colspan="2" class="col-xs-4">
            <span class="t3_n">{{ entryform.sampled_at|date:'d/m/Y, H:i'}}</span>
          </td>
          <td class="col-xs-2">
            <span class="t3">Fijador:</span>
          </td>
          <td colspan="2" class="col-xs-4">
            <span class="t3_n">{{entryform.fixative.name|default:""|title}}</span>
          </td>
        </tr>

        <tr>
          <td class="col-xs-2">
            <span class="t3">Especie:</span>
          </td>
          <td class="col-xs-2">
            <span class="t3_n">{{entryform.specie.name |default:""|title}}</span>
          </td>
          <td class="col-xs-2">
            <span class="t3">Estadío:</span>
          </td>
          <td class="col-xs-2">
            <span class="t3_n">{{entryform.larvalstage.name |default:""|title}}</span>
          </td>
          <td class="col-xs-2">
            <span class="t3">Fuente de Agua:</span>
          </td>
          <td class="col-xs-2">
            <span class="t3_n">{{entryform.watersource.name |default:""|title}}</span>
          </td>
        </tr>

        <tr>
          <td colspan="2" style="background-color: #fbe9e7;">
            <span class="t3" >
              OBSERVACIONES / <br>
              ANAMNESIS
            </span>
          </td>
          <td colspan="4">
            <span class="t3_n">{{entryform.anamnesis|default:""}}</span>
          </td>
        </tr>
      </tbody>
    </table>  
  </div>

  {% for item in entryform.identifications %}
  <div class="row" style="page-break-inside: avoid !important;">
    <table class="table table-bordered">
      <tbody>
        {% if forloop.first %}
        <tr>
          <td colspan="6" class="text-center" style="background-color: #fbe9e7;">
            <span class="t2" style="text-transform: uppercase;">Identificación</span>
          </td>
        </tr>
        {% endif %}
        <tr>
          <td class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3"> Estanque/Jaula: </span></td>
          <td class="col-xs-2 t3_n">{{item.cage}}</td>
          <td class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3"> Grupo/Nro Caso Cliente: </span></td>
          <td class="col-xs-2 t3_n">{{item.group}}</td>
          <td class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3"> Peso Promedio: </span></td>
          <td class="col-xs-2 t3_n">{{item.weight}}</td>
        </tr>
        <tr>
          <td class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3"> Contenedores: </span></td>
          <td class="col-xs-2 t3_n">{{item.no_container}}</td>
          <td  class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3"> Peces </span></td>
          <td class="col-xs-2 t3_n">{{item.no_fish}}</td>
          <td class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3"> ¿Óptimo? </span></td>
          <td class="col-xs-2 t3_n">{% if item.is_optimum %} Sí {%else%} No {% endif %}</td>
        </tr>
        <tr>
          <td class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3">Observaciones</span></td>
          <td colspan="5" class="t3_n">{{item.observation}}</td>
        </tr>
        <tr>
          <td class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3">Análisis Solicitados</span></td>
          <td colspan="5">
            {% for key, value in item.servicios.items %} 
              <p>
                <span class="t3">{{key}}: </span>
                <span class="t3_n">
                  {% for k, v in value.items %}
                    {% if forloop.last %}
                      {{k|title}} ({{v|join:" - "}})
                    {% else %} 
                      {{k|title}} ({{v|join:" - "}}),
                    {% endif %}  
                  {% endfor %}
                </span>
              </p>
            {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endfor %}

  <div class="row" style="page-break-inside: avoid !important;">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="col-xs-4" colspan="2" style="background-color: #fbe9e7;">
            <span class="t3" >
              CASO INGRESADO POR:
            </span>
          </td>
          <td class="col-xs-8" colspan="4">
            <span class="t3_n">{{case_created_by|default:""}}</span>
          </td>
        </tr>
        <tr>
          <td class="col-xs-4" colspan="2" style="background-color: #fbe9e7;">
            <span class="t3" >
              FORMULARIO ENVIADO POR:
            </span>
          </td>
          <td class="col-xs-8" colspan="4">
            <span class="t3_n">{{report_generated_by|default:""}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" style="margin-top:1% !important; page-break-inside: avoid !important;">
    <span class="t2" style="text-transform: uppercase;"><strong>Notas Importantes</strong></span></br>
    <span class="t3_n"> <b>&middot;</b> La cantidad de muestras es referencial según lo declarado por el cliente. Se notificará oportunamente en caso de existir alguna diferencia detectada durante el proceso, a través del presente formulario.</span></br>
    <span class="t3_n"> <b>&middot;</b> Para consultas sobre ingreso de muestras y envío de información, dirigirse a recepcion@vehice.com</span></br>
    <span class="t3_n"> <b>&middot;</b> Para consultas técnicas dirigirse a carlos.sandoval@vehice.com</span></br>
    <span class="t3_n"> <b>&middot;</b> Para consultas sobre facturación y otros temas relacionados, dirigirse a gabriela.vera@vehice.com</span></br>
    <span class="t3_n"> <b>&middot;</b> Instructivo para la Toma de Muestras en www.vehice.com/spa/despacho-de-muestras</span>
  </div>
</div>
{% endblock body %}

{% block scripts %}
{% endblock scripts %}