{% extends 'base_pdf.html' %}
{% load static %}
{% block stylesheets %}

<style type="text/css">
  .text-white {
    color: white !important;
  }

  .container {
    font-family: "Helvetica" !important;
    font-size: 10px !important;
    
  }

  .t1 {
    font-family: "Helvetica" !important;
    font-size: 14px !important;
    font-weight: bold !important;
    
  }

  .t2 {
    font-family: "Helvetica" !important;
    font-size: 12px !important;
    font-weight: bold !important;
    
  }

  .t3 {
    font-family: "Helvetica" !important;
    font-size: 11px !important;
    font-weight: bold !important;
    
  }

  .t3_n {
    font-family: "Helvetica" !important;
    font-size: 11px !important;
    font-weight: normal !important;
    
  }

  div {
    font-family: "Helvetica" !important;
    font-size: 10px !important;
    
    
  }

  table.table-bordered{
    border:1px solid gray;
  }
  table.table-bordered > thead > tr > th{
      border:1px solid gray;
  }
  table.table-bordered > tbody > tr > td{
      border:1px solid gray;
  }

</style>

{% endblock stylesheets %}

{% block body %}
<div class="container">
  <div class="row" style="page-break-inside: avoid !important;">
    <table class="table table-bordered">
      <tr>
        <td class="col-xs-3" style="text-align: center;""><img alt="" src="{% static 'assets/images/logo/logo.png' %}" class="img-fluid float-left" style="width: 180px;"></td>
        <td class="col-xs-5">
          <center>
            <span class="t1">
              SAMPLE RECEPTION FORM
            </span>
          </center>
        </td>
        <td class="col-xs-2">
          <div clas="row">
            <div class="col-xs-12">
              <span class="t3">Date:</span>
            </div>
            <div class="col-xs-12">
              <span class="t3">Time:</span>
            </div>
            <div class="col-xs-12">
              <span class="t3">Version:</span>
            </div>
          </div>
        </td>
        <td class="col-xs-2">
          <div class="row">
            <div class="col-xs-12">
              <span class="t3_n">{{doc_data.created_at|date:'m/d/Y'}}</span>
            </div>
            <div class="col-xs-12">
              <span class="t3_n">{{doc_data.created_at|date:'H:i'}}</span>
            </div>
            <div class="col-xs-12">
              <span class="t3_n">v{{doc_data.version}}</span>
            </div>
          </div>
        </td>
      </tr>  
    </table>
  </div>

  <div class="row" style="page-break-inside: avoid !important;">
    <table class="table table-bordered mt-2">
      <tbody>
        <tr>
          <td colspan="6" class="text-center" style="background-color: #fbe9e7;">
            <span class="t2" style="text-transform: uppercase;">INFORMATION OF CASE</span>
          </td>
        </tr>
        <tr>
          <td class="col-xs-2">
            <span class="t3">No. Case:</span>
          </td>
          <td colspan="2" class="col-xs-4">
            <span class="t3_n">{{entryform.no_caso}}</span>
          </td>
          <td colspan="2" class="col-xs-2">
            <span class="t3">Reception Date:</span>
          </td>
          <td class="col-xs-4 ">
            <span class="t3_n">{{ entryform.created_at|date:'m/d/Y, H:i'}}</span>
          </td>
        </tr>
        <tr>
          <td class="col-xs-2">
            <span class="t3">Customer:</span>
          </td>
          <td colspan="2" class="col-xs-4">
            <span class="t3_n">{{entryform.customer.name | default:""}}</span>
          </td>
          <td colspan="2" class="col-xs-2">
            <span class="t3">No. Request:</span>
          </td>
          <td class="col-xs-4">
            <span class="t3_n">{{ entryform.no_request | default:"" }}</span>
          </td>
        </tr>
        <tr>
          <td class="col-xs-2">
            <span class="t3">Site Name:</span>
          </td>
          <td colspan="2" class="col-xs-4">
            <span class="t3_n">{{entryform.center | default:""}}</span>
          </td>
          <td colspan="2" class="col-xs-2">
            <span class="t3">Aplicant Name:</span>
          </td>
          <td class="col-xs-4">
            <span class="t3_n">{{entryform.responsible | default:""}}</span>
          </td>
        </tr>
        <tr>
          <td colspan="6" class="text-center" style="background-color: #fbe9e7;">
            <span class="t2" style="text-transform: uppercase;">INFORMATION OF SAMPLE</span>
          </td>
        </tr>
        <tr>
          <td class="col-xs-2">
            <span class="t3">Sampling Date:</span>
          </td>
          <td class="col-xs-2">
            <span class="t3_n">{{ entryform.sampled_at|date:'m/d/Y, H:i'}}</span>
          </td>
          <td class="col-xs-2">
            <span class="t3">Fixative:</span>
          </td>
          <td class="col-xs-2">
            <span class="t3_n">{{entryform.fixative.name|default:""|title}}</span>
          </td>
          <td class="col-xs-2">
            <span class="t3">Entry format:</span>
          </td>
          <td class="col-xs-2">
            <span class="t3_n">{{entryform.entry_format|default:""|title}}</span>
          </td>
        </tr>

        <tr>
          <td class="col-xs-2">
            <span class="t3">Specie:</span>
          </td>
          <td class="col-xs-2">
            <span class="t3_n">{{entryform.specie.name |default:""|title}}</span>
          </td>
          <td class="col-xs-2">
            <span class="t3">Development Stage:</span>
          </td>
          <td class="col-xs-2">
            <span class="t3_n">{{entryform.larvalstage.name |default:""|title}}</span>
          </td>
          <td class="col-xs-2">
            <span class="t3">Water Source:</span>
          </td>
          <td class="col-xs-2">
            <span class="t3_n">{{entryform.watersource.name |default:""|title}}</span>
          </td>
        </tr>

        <tr>
          <td colspan="2" style="background-color: #fbe9e7;">
            <span class="t3" >
              OBSERVATIONS / <br>
              ANAMNESIS
            </span>
          </td>
          <td colspan="4">
            <span class="t3_n">{{entryform.anamnesis|default:""}}</span>
          </td>
        </tr>
      </tbody>
    </table>  
  </div>

  {% for item in entryform.identifications %}
  <div class="row" style="page-break-inside: avoid !important;">
    <table class="table table-bordered">
      <tbody>
        {% if forloop.first %}
        <tr>
          <td colspan="6" class="text-center" style="background-color: #fbe9e7;">
            <span class="t2" style="text-transform: uppercase;">IDENTIFICATION</span>
          </td>
        </tr>
        {% endif %}
        <tr>
          <td class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3"> ID Tank/Cage: </span></td>
          <td class="col-xs-2 t3_n">{{item.cage}}</td>
          <td class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3"> Group/Batch: </span></td>
          <td class="col-xs-2 t3_n">{{item.group}}</td>
          <td class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3"> Extra Features: </span></td>
          <td class="col-xs-2 t3_n">{{item.extra_features_detail}}</td>
        </tr>
        <tr>
          <td class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3"> Weight (g): </span></td>
          <td class="col-xs-2 t3_n">{{item.weight}}</td>
          <td  class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3"> No. Units: </span></td>
          <td class="col-xs-2 t3_n">{{item.unit_count}}</td>
          <td class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3"> Optimum? </span></td>
          <td class="col-xs-2 t3_n">{% if item.is_optimum %} Yes {%else%} No {% endif %}</td>
        </tr>
        <tr>
          <td class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3">Observations</span></td>
          <td colspan="5" class="t3_n">{{item.observation}}</td>
        </tr>
        <tr>
          <td class="col-xs-2" style="background-color: #fbe9e7;"><span class="t3">ANALYSIS REQUESTED</span></td>
          <td colspan="5">
            {% for key, value in item.servicios.items %} 
              <p>
                <span class="t3">{{key}}: </span>
                <span class="t3_n">
                  {% for k, v in value.items %}
                    {% if forloop.last %}
                      {{k|title}} ({{v|join:" - "}})
                    {% else %} 
                      {{k|title}} ({{v|join:" - "}}),
                    {% endif %}  
                  {% endfor %}
                </span>
              </p>
            {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endfor %}

  <div class="row" style="page-break-inside: avoid !important;">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="col-xs-4" colspan="2" style="background-color: #fbe9e7;">
            <span class="t3" >
              CASE ENTERED BY:
            </span>
          </td>
          <td class="col-xs-8" colspan="4">
            <span class="t3_n">{{case_created_by|default:""}}</span>
          </td>
        </tr>
        <tr>
          <td class="col-xs-4" colspan="2" style="background-color: #fbe9e7;">
            <span class="t3" >
              FORM SENT BY:
            </span>
          </td>
          <td class="col-xs-8" colspan="4">
            <span class="t3_n">{{report_generated_by|default:""}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" style="margin-top:1% !important; page-break-inside: avoid !important;">
    <span class="t2" style="text-transform: uppercase;"><strong>Important Notes:</strong></span></br>
    <span class="t3_n"> <b>&middot;</b> The  number  of  samples is  referential as  indicated  by  applicant.  We  will  notify  in  case  of  any  difference  detected during the process, through the present form.</span></br>
    <span class="t3_n"> <b>&middot;</b> Any question about sample reception and sending information, contact <a href="mailto:recepcion@vehice.com">recepcion@vehice.com</a></span></br>
    <span class="t3_n"> <b>&middot;</b> Any technical question, contact <a href="mailto:carlos.sandoval@vehice.com">carlos.sandoval@vehice.com</a></span></br>
    <span class="t3_n"> <b>&middot;</b> Any question about billing and other related issues, contact <a href="mailto:gabriela.vera@vehice.com">gabriela.vera@vehice.com</a></span></br>
    <span class="t3_n"> <b>&middot;</b> Instructions for histopathology sampling: <a href="www.vehice.com/spa/despacho-de-muestras">www.vehice.com/spa/despacho-de-muestras</a></span>
  </div>
</div>
{% endblock body %}

{% block scripts %}
{% endblock scripts %}
