{% extends 'base_pdf.html' %}
{% load static %}
{% block stylesheets %}

<style type="text/css">
  .text-white {
    color: white !important;
  }

  .container {
    font-family: "Verdana" !important;
  }
</style>

{% endblock stylesheets %}

{% block body %}
<div class="container">
  <div class="row" style="page-break-inside: avoid !important; border: 1px solid black;">
    <div class="col-xs-4" style="padding: 10px 0px; border: 1px solid black; height: 71px; text-align: center;">
      <img alt="" src="{% static 'assets/images/logo/logo.png' %}" class="img-fluid float-left" style="width: 200px;">
    </div>
    <div class="col-xs-5" style="padding: 0px 2px; border: 1px solid black; height: 71px;">
      <h4 style="padding-top: 10px;">
        Formulario Recepción de Muestras
      </h4>
    </div>
    <div class="col-xs-3" style="padding: 0; border: 1px solid black; height: 71px;">
      <div class="col-xs-12">
        Fecha
      </div>
      <div class="col-xs-12">
        Hora
      </div>
      <div class="col-xs-12">
        Version
      </div>
    </div>
  </div>

  <div class="row" style="page-break-inside: avoid !important;">
    <div class="col-xs-12"
      style="margin-top:2% !important; border: 1px solid black; text-align: center; background-color: rgb(248, 188, 165);">
      <h3 style="text-transform: uppercase; margin: 3px;"><strong>Información del Caso</strong></h3>
    </div>

    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>Número de Caso:</h5>
    </div>
    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>{{entryform.no_caso}}</h5>
    </div>
    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>Fecha/Hora Recepción:</h5>
    </div>
    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>{{ entryform.created_at }}</h5>
    </div>

    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>Empresa:</h5>
    </div>
    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>{{entryform.company | default:""}}</h5>
    </div>
    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>Nro Solicitud:</h5>
    </div>
    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>{{ entryform.no_request | default:"" }}</h5>
    </div>

    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>Centro:</h5>
    </div>
    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>{{entryform.center | default:""}}</h5>
    </div>
    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>Solicitante:</h5>
    </div>
    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>PREGUNTAR QUIEN ES?? {{ entryform.no_request | default:"" }}</h5>
    </div>

    <div class="col-xs-12"
      style="margin-top:0 !important; border: 1px solid black; text-align: center; background-color: rgb(248, 188, 165);">
      <h3 style="text-transform: uppercase; margin: 3px;"><strong>INFORMACIÓN DE LA MUESTRA </strong></h3>
    </div>

    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>Fecha/Hora Muestreo:</h5>
    </div>
    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>{{ entryform.sampled_at }}</h5>
    </div>
    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>Fijador:</h5>
    </div>
    <div class="col-xs-3" style="border: 1px solid black; height: 40px;">
      <h5>TENGO QUE RELLENAR</h5>
    </div>

    <div class="col-xs-2" style="border: 1px solid black; height: 40px;">
      <h5>Especie:</h5>
    </div>
    <div class="col-xs-2" style="border: 1px solid black; height: 40px;">
      <h5>TENGO QUE RELLENAR</h5>
    </div>
    <div class="col-xs-2" style="border: 1px solid black; height: 40px;">
      <h5>Estadío:</h5>
    </div>
    <div class="col-xs-2" style="border: 1px solid black; height: 40px;">
      <h5>TENGO QUE RELLENAR</h5>
    </div>
    <div class="col-xs-2" style="border: 1px solid black; height: 40px;">
      <h5>Fuente de Agua:</h5>
    </div>
    <div class="col-xs-2" style="border: 1px solid black; height: 40px;">
      <h5>TENGO QUE RELLENAR</h5>
    </div>

    <div class="col-xs-4" style="border: 1px solid black; height: 80px; background-color: rgb(248, 188, 165);">
      <h5>
        OBERVACIONES / <br>
        ANAMNESIS
      </h5>
    </div>
    <div class="col-xs-8" style="border: 1px solid black; height: 80px;">
      <h5>Que datos es este??</h5>
    </div>
  </div>

  <div class="row"
    style="margin-top:4% !important; border: 1px solid black; text-align: center; background-color: rgb(248, 188, 165);">
    <h3 style="text-transform: uppercase; margin: 3px;"><strong>Identificación</strong></h3>
  </div>
  <!-- {% for item in entryform.identifications %}
  <div class="row" style="page-break-inside: avoid !important;">
    <div class="col-xs-12">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="danger col-xs-3"> Estanque / Grupo </td>
            <td>{{item.cage}}</td>
            <td>{{item.group}}</td>
          </tr>
          <tr>
            <td class="danger col-xs-3"> Peces / Contenedores </td>
            <td>{{item.no_fish}}</td>
            <td>{{item.no_container}}</td>
          </tr>
          <tr>
            <td class="danger">Peso / Óptimo </td>
            <td>{{ item.weight }}</td>
            <td>{% if item.is_optimum %} Sí {%else%} No {% endif %}</td>
          </tr>
          <tr>
            <td class="danger">Órganos</td>
            <td colspan="2">{% for o in item.organs_set %}{% if forloop.counter > 1 %},
              {% endif %}{{o.name}}{% endfor %}</td>
          </tr>
          <tr>
            <td class="danger">Comentarios Extras</td>
            <td colspan="2">{{item.extra_features_detail}}</td>
          </tr>
          <tr>
            <td class="danger">Observaciones</td>
            <td colspan="2">{{item.observation}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}

  <div class="row" style="page-break-inside: avoid !important;">
    <div class="col-xs-12" style="padding-top:1% !important; padding-bottom:2% !important;">
      <center>
        <h3 style="text-transform: uppercase; margin: 3px;"><strong>Servicios</strong></h3>
      </center>
    </div>
    <div class="col-xs-12">
      <table class="table table-bordered">
        <tbody>
          {% for item in entryform.analyses %}
          <tr>
            <td>{{item.exam__name }}</td>
            <td>{{item.created_at}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" style="page-break-inside: avoid !important;">
    <div class="col-xs-12" style="padding-top:1% !important; padding-bottom:2% !important;">
      <center>
        <h3 style="text-transform: uppercase; margin: 3px;"><strong>Muestras</strong></h3>
      </center>
    </div>
    <div class="col-xs-12">
      <table class="table table-bordered">
        <tbody>
          {% for sample in samples %}
          <tr style="page-break-inside: avoid !important;">
            <td rowspan="{{sample.sample_exams_set|length|add:1}}">{{sample.index}}</td>
            <td rowspan="{{sample.sample_exams_set|length|add:1}}">{{sample.identification.cage}} -
              {{sample.identification.group}}</td>
          </tr>
          {% for k, item in sample.sample_exams_set.items %}
          <tr style="page-break-inside: avoid !important;">
            <td>{{item.exam_name }}</td>
            <td>{% for o in item.organ_id %}{% if forloop.counter > 1 %}, {% endif %}{{o.name}}{% endfor %}</td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div> -->

  <div class="row" style="page-break-inside: avoid !important;">
    <div class="col-xs-4" style="border: 1px solid black; height: 40px; background-color: rgb(248, 188, 165);">
      <h5>
        CASO INGRESADO POR:
      </h5>
    </div>
    <div class="col-xs-8" style="border: 1px solid black; height: 40px;">
      <h5>Que datos es este??</h5>
    </div>
    <div class="col-xs-4" style="border: 1px solid black; height: 40px; background-color: rgb(248, 188, 165);">
      <h5>
        FORMULARIO ENVIADO POR:
      </h5>
    </div>
    <div class="col-xs-8" style="border: 1px solid black; height: 40px;">
      <h5>Que datos es este??</h5>
    </div>
  </div>
</div>
{% endblock body %}

{% block scripts %}
{% endblock scripts %}