{% extends 'layout.html' %}
{% load static %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content_header %}
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <!-- <h3 class="content-header-title mb-0">Nuevo Ingreso</h3> -->
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">INICIO</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">CASOS</a>
          </li>
          <li class="breadcrumb-item active">
            {{form.content_object.entryform.no_caso}}
          </li>
          <li class="breadcrumb-item">
            ANÁLISIS
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock content_header %}
{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="float-left"><h3> <strong>Analisis {{ exam_name }} </strong></h3></div>
        <div class="float-right"><a href="/workflow/{{form_parent_id}}/step_4"><h3><i class="fa fa-arrow-left fa-fw"></i> <strong>Volver a todos los análisis </strong></h3></a></div>
        <div class="row">
          <div class="col-sm-12">
            <center>
              <h3> <strong>CASO N° {{form.content_object.entryform.no_caso}}</strong></h3>
              <button class="btn btn-secondary square showSummaryBtn hidden"><i class="fa fa-list fa-fx"></i> Resúmen del caso</button>
            </center>
          </div>
        </div>


      </div>
      <div class="card-content">
        <div class="card-body">
          <form action="#" id="workflow_form" class="wizard-circle">
            {% for step in form.flow.step_set.all %}
              <h6>{{ step.name }}</h6>
              {% include step.route|add:".html" with step_tag=step.tag step_id=step.pk form_id=form_id analysis_id=analysis_id form_parent_id=form_parent_id step_tab=forloop.counter0 %}
            {% endfor %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade text-left" id="new_pathology" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="title">Nuevo Hallazgo</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <form action="#" name="new_pathology_form" > -->
        <input type="hidden" id="analysis_id" name="analysis_id" value="{{analysis_id}}" >
        <input type="hidden" id="slice_id" name="slice_id" >
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="customer">
                  Organo :
                </label>
                <select class="form-control" style="width: 100%" name="organ" id="organ_select">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="customer">
                  Localización :
                </label>
                <select class="select2 form-control" style="width: 100%" name="organ_location" id="organ_location_select">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="customer">
                  Hallazgo :
                </label>
                <select class="select2 form-control" style="width: 100%" name="pathology" id="pathology_select">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="customer">
                  Diagnóstico :
                </label>
                <select class="select2 form-control" style="width: 100%" name="diagnostic" id="diagnostic_select">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="customer">
                  Distribución Diagnóstico :
                </label>
                <select class="select2 form-control" style="width: 100%" name="diagnostic_distribution" id="diagnostic_distribution_select">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="customer">
                  Intensidad Diagnóstico :
                </label>
                <select class="select2 form-control" style="width: 100%" name="diagnostic_intensity" id="diagnostic_intensity_select">
                  <option></option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="Cerrar">
          <input type="button" class="btn btn-primary" data-form="{{form_id}}" value="Guardar" id="new_pathology_save">
        </div>
      <!-- </form> -->
    </div>
  </div>
</div>

<div class="modal fade text-left" id="show_pathologies" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="title">Listado de Hallazgos</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table id="pathology_table" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Órgano</th>
                <th>Localización</th>
                <th>Hallazgo</th>
                <th>Diagnóstico</th>
                <th>Distribución</th>
                <th>Intensidad</th>
                <th>Imágenes</th>
                <th>Opciónes</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="Cerrar">
      </div>
    </div>
  </div>
</div>
<div id="uploader">
</div>

<div class="modal fade text-left" id="show_summary" role="dialog">
  <div class="modal-dialog" role="document" style="min-width:80% !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="title">Resúmen Caso <span class="NoCasoSummary"></span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size:12px !important; max-height: calc(100vh - 150px); overflow-y:scroll;">
        
        <h6 class="form-section"> Información general</h6>
        <div class="row generalInfo">
          <div class="col-sm-4 summaryClient">
          </div>
          <div class="col-sm-4 summaryCompany">
          </div>
          <div class="col-sm-4 summaryCenter">
          </div>
          <div class="col-sm-4 summaryResponsible">
          </div>
          <div class="col-sm-4 summaryReception">
          </div>
          <div class="col-sm-4 sumarrySampling">
          </div>
          <div class="col-sm-4 summaryNoOrder">
          </div>
          <div class="col-sm-4 summaryNoRequest">
          </div>
          <div class="col-sm-4 summaryFixative">
          </div>
        </div>
        <hr>
        <h6 class="form-section mt-2"> Detalle</h6>
        <div class="row ">
          <div class="col-sm-4 summarySpecie">
          </div>
          <div class="col-sm-4 summaryDevStatus">
          </div>
          <div class="col-sm-4 summaryWaterSource">
          </div>
        </div>
        <hr>
        <h6 class="form-section mt-2"> Identificación</h6>
        <div class="row summaryIdentification">
        </div>
        <hr>
        <h6 class="form-section mt-2"> Muestras</h6>
        <div class="row summarySamples">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block scripts %}
<script src="{% url 'js_reverse' %}" type="text/javascript"></script>
{% for step in form.flow.step_set.all %}
  {% with step.route|add:".js" as script_step %}
    <script src="{% static script_step %}" type="text/javascript"></script>
  {% endwith %}
{% endfor %}

<script type="text/javascript">

var form = $("#workflow_form");

$("#workflow_form").steps({
    headerTag: "h6",
    bodyTag: "fieldset",
    transitionEffect: "fade",
    titleTemplate: '<span class="step">#index#</span> #title#',
    labels: {
        previous: 'Deshacer y Volver',
        next: 'Continuar',
        finish: 'Finalizar'
    },
    startIndex: 0,
    onStepChanging: function (event, currentIndex, newIndex)
    {
      if(!set_state) {
        var previous_step = false;
        var form_data;

        if (currentIndex > newIndex)
        {
          previous_step = true;
          form_data = $("#step_" + newIndex + " :input").serialize();
        } else {
          previous_step = false;
          form_data = $("#step_" + currentIndex + " :input").serialize();
        }

        var url = Urls.workflow();
        var id_next_step = $("#step_" + newIndex).children("#step_id").val();

        var response;
        $.ajax({
          type: "POST",
          url: url,
          data: form_data + "&id_next_step=" + id_next_step +"&previous_step=" + previous_step,
          async: false,
        })
        .done(function (data) {
          response = data;
        })
        .fail(function () {
          console.log("Fail")
        })

        if (response.next_step_permission) {
          var step;
          var function_name;
          if(previous_step) {
            step = currentIndex
            function_name = "init_step_" + step;

          } else {
            step = newIndex + 1
            function_name = "init_step_" + step;
          }
          if (step == 5) {
            window.location.href = document.URL.replace('step_'+(currentIndex+1), 'step_5');
          } else {
            window[function_name]();
          }
        } else {
          toastr.error('No puedes continuar ya que no tienes permisos para los siguientes pasos.', 'No tienes permisos');
          setTimeout(function() {
            window.location.href = '/ingresos'
          }, 2000);
        }

        if(!previous_step) {
          if(response.process_response) {
            toastr.success('', 'Paso guardado exitosamente!');
          }
        }

        return response.next_step_permission;
      } else {
        set_state = false;
        return true
      }
    },
    onFinishing: function (event, currentIndex)
    {
      fillInputsFromSummernotes();
      var url = Urls.workflow();
      var form_closed = true;
      var form_parent_id = $("#step_" + currentIndex).children("#form_parent_id").val();
      var form_data = $("#step_" + currentIndex + " :input").serialize();

      var response;
      $.ajax({
        type: "POST",
        url: url,
        data: form_data + "&form_closed=" + form_closed,
        async: false,
      })
      .done(function (data) {
        if (data.redirect_flow) {
          window.location.href = '/workflow/' + form_parent_id + "/step_4"
        } else {

        }
      })
      .fail(function () {
        console.log("Fail")
      })

      if (response.next_step_permission) {
        var step;
        var function_name;
        if(previous_step) {
          step = currentIndex
          function_name = "init_step_" + step;

        } else {
          step = newIndex + 1
          function_name = "init_step_" + step;
        }
        window[function_name]();
      } else {
        toastr.error('No puedes continuar ya que no tienes permisos para los siguientes pasos.', 'No tienes permisos');
        setTimeout(function() {
          window.location.href = '/ingresos'
        }, 1000);
      }

      if(!previous_step) {
        if(response.process_response) {
          toastr.success('', 'Paso guardado exitosamente!');
        }
      }

      return response.next_step_permission;
    },
    onFinished: function (event, currentIndex)
    {

    }
});

$(window).on('load', function (e) {
  // If para cargar un paso en especifico
  {% if set_step_tag and set_step_tag != "step_1" %}
    // console.log("SET STEP TAG DESPUES DEL CAMBIO")
    set_state = true;
    var step_wizard = parseInt("{{ set_step_tag }}".split("_")[1]) - 1; // Se resta 1 para igualar a los indices del plugin
    var step_tag_function = "init_{{ set_step_tag }}";

    form.steps("setStep", step_wizard);

    window[step_tag_function]();
  {% else %}
    set_state = false;

    // Si se abre un nuevo caso es necesario ejecutar el metodo del paso 1
    init_step_1();
  {% endif %}
});

$(document).on('click', '.showSummaryBtn', function(e){
  $("#show_summary").modal("show");
});

function fillSummary(data){
  // console.log(data);
  $('.NoCasoSummary').html(data.entryform.no_caso);
  $('.summaryClient').html('<b>Cliente</b>: '+ data.entryform.customer);
  $('.summaryCompany').html('<b>Empresa</b>: '+ data.entryform.company);
  $('.summaryCenter').html('<b>Centro</b>: '+ data.entryform.center);
  $('.summaryResponsible').html('<b>Responsable</b>: '+ data.entryform.responsible);
  $('.summaryReception').html('<b>Fecha recepción</b>: '+ moment(data.entryform.created_at).format("DD/MM/YYYY HH:MM") );
  $('.sumarrySampling').html('<b>Fecha muestreo</b>: '+ moment(data.entryform.sampled_at).format("DD/MM/YYYY HH:MM") );
  $('.summaryNoOrder').html('<b>No. orden</b>: '+ data.entryform.no_order);
  $('.summaryNoRequest').html('<b>No. solicitud</b>: '+ data.entryform.no_request);
  $('.summaryFixative').html('<b>Fijador</b>: '+ data.entryform.fixative);
  
  $('.summarySpecie').html('<b>Especie</b>: '+ data.entryform.specie);  
  $('.summaryDevStatus').html('<b>Estado de desarrollo</b>: '+ data.entryform.larvalstage);  
  $('.summaryWaterSource').html('<b>Fuente de agua</b>: '+ data.entryform.watersource);

  var tpl_identification = '<div class="col-sm-12"><table class="table table-bordered table-xs">';
  tpl_identification += '<thead><tr><th>Estanque/Jaula</th><th>Grupo</th><th>No. Peces</th><th>No. Contenedores</th></tr></thead><tbody>';

  $.each(data.entryform.identifications, function(i, item){
    tpl_identification += '<tr>';
    tpl_identification += '<td>'+ item.cage +'</td>';
    tpl_identification += '<td>'+ item.group +'</td>';
    tpl_identification += '<td>'+ item.no_fish +'</td>';
    tpl_identification += '<td>'+ item.no_container +'</td>';
    tpl_identification += '</tr>';
  });

  tpl_identification += '</tbody></table></div>';
  $('.summaryIdentification').html(tpl_identification);

  var tpl_samples = '<div class="col-sm-12"><table class="table table-bordered table-xs">';
  tpl_samples += '<thead><tr><th>No. Muestra</th><th>Identificación</th><th>Análisis</th><th>Órganos</th></tr></thead><tbody>';

  $.each(data.samples, function(i, item){
    var exams = item.exams_set;
    var organs = item.organs_set;
    tpl_samples += '<tr>';
    tpl_samples += '<td>'+ item.index +'</td>';
    tpl_samples += '<td>'+ item.identification.cage +'-'+item.identification.group+'</td>';
    tpl_samples += '<td>'+ Object.keys(exams).map(function(k){return exams[k].name}).join(", ") +'</td>';
    tpl_samples += '<td>'+ Object.keys(organs).map(function(k){return organs[k].name}).join(", ") +'</td>';
    tpl_samples += '</tr>';
  });

  tpl_samples += '</tbody></table></div>';
  $('.summarySamples').html(tpl_samples);

}

</script> {% endblock scripts %}
