{% extends 'layout.html' %}
{% load static %}
{% block stylesheets %}

<style>
  .steps {
    pointer-events: none;
  }
  .form-section {
    color: #404E67;
    line-height: 3rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #404E67;
  }
  .multiple-action > .swal-footer{
    display: grid;
    text-align: center;
  }
</style>

{% endblock stylesheets %}
{% block content_header %}
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">Ingreso</h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">INICIO</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">CASOS</a>
          </li>
          <li class="breadcrumb-item active">
            {{form.content_object.no_caso}}
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock content_header %}
{% block content %}<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <center>
          <h3> <strong>CASO N° {{form.content_object.no_caso}}</strong></h3>
          <button class="btn btn-secondary square showSummaryBtn hidden"><i class="fa fa-list fa-fx"></i> Resumen del caso</button>
          <button class="btn btn-secondary square showShareBtn hidden" onclick="shareChoice()"><i class="fa fa-paper-plane fa-fx"></i> Enviar caso</button>
          <button class="btn btn-secondary square showLogBtn hidden" onclick="logModal()"><i class="fa fa-list fa-fx"></i> Registro de Envíos</button>
          <button class="btn btn-secondary square showAttachedFilesBtn hidden" onclick='showAttachedFilesModal({{form.content_object.id}}, {{closed}})'><i class="fa fa-cloud-upload fa-fx"></i> Documentos Adjuntos</button>
        </center>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form action="#" id="workflow_form" class="wizard-circle">
            {% for step in form.flow.step_set.all %}
              <h6>{{ step.name }}</h6>
              {% include step.route|add:".html" with step_tag=step.tag step_id=step.pk form_id=form_id entryform_id=entryform_id step_tab=forloop.counter0 %}
            {% endfor %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade text-left" id="show_summary" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document" style="min-width:80% !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="title">Resumen Caso <span class="NoCasoSummary"></span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size:12px !important; max-height: calc(100vh - 150px); overflow-y:scroll;">
        <div style="padding: 10px;background-color: #f2efed;">
          {% if edit and not closed %}
            <div class="col-md-12">
              <a href="javascript:void(0);" onclick="submitGeneralData({{form.content_object.id}})" class="btn btn-primary pull-right"> <i class="fa fa-save fa-2x"></i> </a>
            </div>
          {% endif %}
          <form action="#" id="generalData">
            <h6 class="form-section mt-2">  Información general</h6>
            <div class="row generalInfo">
              <div class="col-sm-4 form-group summaryClient">
              </div>
              <div class="col-sm-4 form-group summaryCompany">
              </div>
              <div class="col-sm-4 form-group summaryCenter">
              </div>
              <div class="col-sm-4 form-group summaryResponsible">
              </div>
              <div class="col-sm-4 form-group summaryReception">
              </div>
              <div class="col-sm-4 form-group sumarrySampling">
              </div>
              <div class="col-sm-4 form-group summaryNoOrder">
              </div>
              <div class="col-sm-4 form-group summaryNoRequest">
              </div>
              <div class="col-sm-4 form-group summaryFixative">
              </div>
              <div class="col-sm-8 form-group summaryAnamnesis">
              </div>
              <div class="col-sm-4 form-group summaryEntryformType">
              </div>
            </div>
            <hr>
            <h6 class="form-section mt-2"> Detalle</h6>
            <div class="row ">
              <div class="col-sm-4 summarySpecie">
              </div>
              <div class="col-sm-4 summaryDevStatus">
              </div>
              <div class="col-sm-4 summaryWaterSource">
              </div>
            </div>
          </form>   
        </div>
        <hr>
        <div class="row">
          <div class="row col-sm-12 summaryIdentification" style="margin:0">
          </div>
          <div class="col-sm-4 summaryExams">
          </div>
          <div class="col-sm-8 summarySamples">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade text-left" id="responsible_modal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="" style="min-width:80% !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="title"> Lista de Responsables <span></span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size:12px !important;">
        <div style="padding: 10px;background-color: #f2efed;">
          <form action="#" id="responsible_form" onsubmit="saveResponsible(); return false;">
            <h6 class="form-section mt-2">Responsable</h6>
            <div class="row generalInfo">
              <div class="col-sm-3 form-group">
                <input class="form-control" name="id" hidden />
                <input class="form-control" name="name" placeholder="Nombre*" required/>
              </div>
              <div class="col-sm-3 form-group">
                <input class="form-control" name="email" placeholder="Correo Electrónico*" required/>
              </div>
              <div class="col-sm-2 form-group">
                <input class="form-control" name="phone" placeholder="Teléfono" />
              </div>
              <div class="col-sm-3 form-group">
                <input class="form-control" name="job" placeholder="Cargo*" required/>
              </div>
              <div class="col-sm-1 form-group">
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-save"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <hr>
        <div class="col-md-12" id="responsible_table_div">
          
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade text-left" id="log_modal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="" style="min-width:40% !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="title"> Registro de Envíos y Descargas Formulario de Recepción de Muestras <span></span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size:12px !important;">
        <table class="table table-bordered table-condensed" id="log_table">
          <thead>
            <tr>
              <th>Realizado Por</th>
              <th>Tipo</th>
              <th>Versión</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody id="log_table_tbody">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade text-left" id="email_modal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="" style="min-width:80% !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="title"> Formulario de Email <span></span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#" id="email_form" onsubmit="sendEmail(); return false;">
        <div class="modal-body" style="font-size:12px !important;">
          <div class="form-group">
            <label>Destinatarios:</label>
            <input id="email_to" name="to" class="form-control basic-taginput" data-role="tagsinput" required>
          </div>
          <div class="form-group">
            <label>Plantillas:</label>
            <select class="form-control" id="plantilla" name="plantilla">
              <option value="0">Sin plantilla</option>
            </select>
          </div>
          <div class="form-group">
            <label>Mensaje: </label>
            <textarea id="body" name="body" class="form-control" rows="9"></textarea>
          </div>
        </div>

        <input type="hidden" id="formId" name="formId">
        <input type="hidden" id="lang" name="lang">
        <div class="modal-footer" style="font-size:12px !important;">
              <button type="submit" class="btn btn-primary">
              <i class="fa fa-paper-plane fa-fx"></i>
            </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade text-left" id="service_reports_modal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Informes</h3>
      </div>
      <div class="modal-body">
        <div class='row'>
          <div id='service_reports_internal' class='col-sm-12'>

          </div>
          <div id='service_reports_external' class='col-sm-12'>

          </div>

          <div id='service_reports_external_uploader' class='col-sm-12'>

          </div>

          <div class='col-sm-12 mt-3'>
            <button class='btn btn-primary submit-file'>Cargar Informe</button>
            <button class='btn btn-default' data-dismiss="modal">Salir</button>
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>

<div class="modal fade text-left" id="attached_files_modal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Documentos Adjuntos</h3>
      </div>
      <div class="modal-body">
        <div class='row'>
          <div id='attached_files' class='col-sm-12'>

          </div>

          <div id='attached_files_uploader' class='col-sm-12'>

          </div>

          <div class='col-sm-12 mt-3'>
            <button class='btn btn-primary attach-file'>Cargar</button>
            <button class='btn btn-default' data-dismiss="modal">Salir</button>
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>

<div class="modal fade text-left" id="service_comments_modal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Comentarios</h3>
      </div>
      <div class="modal-body">
        <div class='row'>
          <div id='service_comments' class='col-sm-12'>

          </div>

          <div class='col-sm-12 mt-3'>
            <button class='btn btn-primary' onclick='saveServiceComment()'>Agregar Comentario</button>
            <button class='btn btn-default' data-dismiss="modal">Salir</button>
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>

<div class="modal fade text-left" id="rename_cassettes_modal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="title"> Renombrando Cassettes Configurados <span></span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class='row'>
          <div class='col-sm-12'>
            <table class="table table-bordered table-condensed" id="cassette_names_table">
              <thead>
                <tr>
                  <th>Nombre Cassettes Actuales</th>
                  <th>Ingresa el nuevo nombre</th>
                </tr>
              </thead>
              <tbody id="cassette_names_table_tbody">

              </tbody>
            </table>
          </div>

          <div class='col-sm-12 mt-3 pull-right'>
            <button class='btn btn-primary' onclick='saveCassettesNames()'>Guardar y Reemplazar Nombres</button>
            <button class='btn btn-default' data-dismiss="modal">Salir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}

<script id="responsible_table_template" type="text/x-lodash-template">
  <table class="table table-bordered table-condensed" id="responsible_table" style="font-size:13px;">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Cargo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(responsibles, function (responsible) { %>
        <tr id="responsible-<%= responsible.id %>">
        <td><%= responsible.name %></td>
        <td><%= responsible.email %></td>
        <td><%= responsible.phone %></td>
        <td><%= responsible.job %></td>
        <td>
          <button class="btn btn-success" data-dismiss="modal" onclick="selectResponsible('<%= responsible.id %>','<%= responsible.name %>')"><i class="fa fa-check"></i></button>
          <button class="btn btn-info" onclick="editResponsible('<%= responsible.id %>','<%= responsible.name %>','<%= responsible.email %>','<%= responsible.phone %>','<%= responsible.job %>')"><i class="fa fa-edit"></i></button>
          <button class="btn btn-danger" onclick="disabledResponsible('<%= responsible.id %>')"><i class="fa fa-times"></i></button>
        </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  </script>

<script src="{% url 'js_reverse' %}" type="text/javascript"></script>
{% for step in form.flow.step_set.all %}
  {% with step.route|add:".js" as script_step %}
    <script src="{% static script_step %}" type="text/javascript"></script>
  {% endwith %}
{% endfor %}
<script language="JavaScript">
window.onbeforeunload = confirmExit;

formChanged = false;
function confirmExit(event) {
  if (formChanged) {
    event.returnValue = 'You have unfinished changes!';
  }
}

var form = $("#workflow_form");
var summary_edited = false;
var steps = $("#workflow_form").steps({
    headerTag: "h6",
    bodyTag: "fieldset",
    enableKeyNavigation: false,
    transitionEffect: "fade",
    titleTemplate: '<span class="step">#index#</span> #title#',
    enablePagination: {{closed}} == 0 && {{edit}} == 1,
    labels: {
        previous: 'Volver',
        next: 'Continuar',
        finish: 'Finalizar'
    },
    startIndex: 0,
    onStepChanging: function (events, currentIndex, newIndex)
    {

      lockScreen(1);
      window.onbeforeunload = function(){};

      if(!set_state) {
        var previous_step = false;
        var form_data;
        if(currentIndex < newIndex){
          if (currentIndex == 0){
            var resp = validate_step_1();
            if (!resp) {
              lockScreen(0);
              window.onbeforeunload = confirmExit;
              return false
            }
          } 
          else if (currentIndex == 1) {
            var resp = validate_step_2();
            console.log(resp);
            if (!resp) {
              lockScreen(0);
              return false
            }
            shareChoice();
             // lockScreen(0);
            // return false
          }
        }
        
        if (currentIndex > newIndex)
        {
          previous_step = true;
          var disform = $("#step_" + newIndex + " :input").find(':disabled').prop('disabled', false);
          form_data = $("#step_" + newIndex + " :input").serialize();
          disform.prop('disabled', true);
        } 
        else {
          previous_step = false;
          var disform = $("#step_" + currentIndex + " :input").find(':disabled').prop('disabled', false);
          form_data = $("#step_" + currentIndex + " :input").serialize();
          disform.attr('disabled', true);
        }

        var url = Urls.workflow();
        var id_next_step = $("#step_" + newIndex).children("#step_id").val();
        //if(currentIndex == 1 || currentIndex == 2){
        var response;
        $.ajax({
          type: "POST",
          url: url,
          data: form_data + "&id_next_step=" + id_next_step +"&previous_step=" + previous_step,
          async: false,
        })
        .done(function (data) {
          response = data;
        })
        .fail(function (data) {
          console.log("Fail");
        })
        if (response == undefined) {
          lockScreen(0);
          return false
        }
        if (response.next_step_permission) {
          var step;
          var function_name;
          if(previous_step) {
            step = currentIndex
            function_name = "init_step_" + step;
          } 
          else {
            step = newIndex + 1
            function_name = "init_step_" + step;
          }
          setTimeout(function() {
            window[function_name]({{edit}} == 1);
            $.get(
              Urls.sendNotification()+'?'+form_data + "&id_next_step=" + id_next_step +"&previous_step=" + previous_step,
              function (data) {
              }
            )
          }, 500);
        } 
        else {
          toastr.error('No puedes continuar ya que no tienes permisos para los siguientes pasos.', 'No tienes permisos');
          setTimeout(function() {
            window.location.href = '/ingresos'
          }, 1000);
        }
        if(!previous_step) {
          if(response.process_response) {
            toastr.success('', 'Paso guardado exitosamente!');
          }
        }
        return response.next_step_permission;
        //}
        
        //return true;
      } 
      else {
        set_state = false;
        return true
      }
    },
    onStepChanged:function (event, currentIndex, prevIndex){
      lockScreen(0);

      if (currentIndex == 1){
        $('.actions > ul > li:first-child').attr('style', 'display:none');
      } else {
        $('.actions > ul > li:first-child').attr('style', '');
      }

      return true; 
    }, 
    onFinishing: function (event, currentIndex)
    {
      {% if edit %}
        if ({{close_allowed}}){
          swal({
            title: "Confirmación",
            text: "¿Está seguro que desea finalizar el caso?",
            icon: "warning",
            showCancelButton: true,
            buttons: {
              cancel: {
                  text: "No, cancelar!",
                  value: null,
                  visible: true,
                  className: "btn-warning",
                  closeModal: true,
              },
              confirm: {
                  text: "Sí!",
                  value: true,
                  visible: true,
                  className: "",
                  closeModal: true,
              }
            }
          }).then(isConfirm => {
            if (isConfirm) {
              var url = Urls.complete_form({{form_id}});
              $.ajax({
                type: "GET",
                url: url,
                async: false,
              })
              .done(function (data) {
                response = data;
                if (response.ok) {
                  toastr.success('', 'Se ha completado el caso exitosamente.');
                  var timer = setTimeout(function() {
                    window.location='/ingresos'
                  }, 2000);
                } else {
                  toastr.error('', 'No ha sido posible completar el caso.');
                }
              })
              .fail(function (data) {
                toastr.error('', 'No ha sido posible completar el caso.');
              });
            }
          });
        
        } else {
          swal({
            title: "Información",
            text: "Lo sentimos, aún se encuentran servicios abiertos que deben ser cerrados o anulados antes de cerrar el caso.",
            icon: "info",
            showCancelButton: true,
          });
        }
      {% else %}
        swal({
            title: "Información",
            text: "Lo sentimos, usted no posee los permisos necesarios para finalizar el caso.",
            icon: "info",
            showCancelButton: true,
          });
      {% endif %}
      
    },
    onFinished: function (event, currentIndex)
    {
      lockScreen(1);
      event.preventDefault();
      var url = Urls.entryform();
      var disform = $("form").find(':disabled').prop('disabled', false);
      var form_data = ($("form").serialize());
      disform.prop('disabled', true);

      $.ajax({
        type: "POST",
        url: url,
        data: form_data,
      })
      .done(function () {
      alert(2);

      })
      .fail(function () {
        console.log("Fail")
      })
      lockScreen(0);
    }
});

$(window).on('load', function (e) {
    // If para cargar un paso en especifico
  set_state = true;
  {% if set_step_tag != "step_1" %}
  window.onbeforeunload = function(){};
  {% endif %}
  
  // PARCHE MOMENTANEO PARA OCULTAR PASO 3 Y 4
  var step_wizard = parseInt("{{ set_step_tag }}".split("_")[1]) - 1; // Se resta 1 para igualar a los indices del plugin
  var step_tag_function = "init_{{ set_step_tag }}";
  
  form.steps("setStep", step_wizard);
  set_state = false;

  window[step_tag_function]({{edit}} == 1);
});

$("#show_summary").on("hidden.bs.modal", function () {
    if (summary_edited){
      location.reload();
    }
});

$(document).on('click', '.showSummaryBtn', function(e){
  getSummaryData();
});

$(document).on('click', '.newAnalysisBtn', function(e){
    $("#new_analysis").modal("show");
});

$(document).on('click', '.newAnalysisBtn5', function(e){
    $("#new_analysis5").modal("show");
});

$(document).on('change', '.just_increasing', function(){
  var original_value = $(this).data('val');
  if ( $(this).val() < original_value) {
    $(this).val(original_value);
  }
});

$(document).on('click', '.stepsToStep2', function(e){
    form.steps("previous");
    $("#show_summary").modal("hide");
});

function getSummaryData(edited=false, ident=0){
  var entryform_id = $('#entryform_id').val();
  var url = Urls.entryform_id(entryform_id);
  $.ajax({
    type: "GET",
    url: url,
  })
  .done(function (data) {
    fillSummary(data);
    if(closed == 1){
      $('#btn_save').hide();
      $('.btn-save-identification').hide();
    }
    else{
      $('#btn_save').show();
      $('.btn-save-identification').show();
    }
    if (edited){
      if (form.steps("getCurrentIndex") == 2) {
         $('#ToStep2-'+ident).append("<button type='button' class='btn btn-secondary stepsToStep2'><i class='fa fa-reply'></i> Editar Servicios (Paso 2)</button>");
      }
    }
    
    $("#show_summary").modal("show");
  })
  .fail(function () {
    console.log("Fail")
  });
}

function fillSummary(data){
  var selectClient = '<select class="select2 form-control selectOpt" id="client" name="client" {% if not edit or closed  %}disabled{% endif %} >';
  $.each(data.customers_list, function(j, o){
      selectClient += '<option value="'+o.id+'">'+o.name+'</option>';
  });
  selectClient +='</select>';

  var selectFix = '<select class="select2 form-control selectOpt" id="fixative" name="fixative" {% if not edit or closed  %}disabled{% endif %} >';
  $.each(data.fixtatives_list, function(j, o){
      selectFix += '<option value="'+o.id+'">'+o.name+'</option>';
  });
  selectFix +='</select>';

  var selectEntryformType = '<select class="select2 form-control selectOpt" id="entryform_type" name="entryform_type" {% if not edit or closed  %}disabled{% endif %} >';
  $.each(data.entryform_types_list, function(j, o){
      selectEntryformType += '<option value="'+o.id+'">'+o.name+'</option>';
  });
  selectEntryformType +='</select>';

  var selectSpecie = '<select class="select2 form-control selectOpt" id="specie" name="specie" {% if not edit or closed  %}disabled{% endif %} >';
  $.each(data.species_list, function(j, o){
      selectSpecie += '<option value="'+o.id+'">'+o.name+'</option>';
  });
  selectSpecie +='</select>';

  var selectlarvalstage = '<select class="select2 form-control selectOpt" id="larvalstage" name="larvalstage" {% if not edit or closed  %}disabled{% endif %} >';
  $.each(data.larvalStages_list, function(j, o){
      selectlarvalstage += '<option value="'+o.id+'">'+o.name+'</option>';
  });
  selectlarvalstage +='</select>';

  var selectwatersource = '<select class="select2 form-control selectOpt" id="watersource" name="watersource" {% if not edit or closed  %}disabled{% endif %} >';
  $.each(data.waterSources_list, function(j, o){
      selectwatersource += '<option value="'+o.id+'">'+o.name+'</option>';
  });
  selectwatersource +='</select>';

  $('.NoCasoSummary').html(data.entryform.no_caso);
  $('.summaryClient').html('<label>Cliente:</label>' + selectClient);
  $('.summaryCompany').html('<label>Empresa:</label> <input class="form-control" value="'+ data.entryform.company+'" name="company" {% if not edit or closed  %}disabled{% endif %} />');
  $('.summaryCenter').html('<label>Centro:</label> <input class="form-control" value="'+ data.entryform.center+'" name="center" {% if not edit or closed  %}disabled{% endif %} />');
  $('.summaryResponsible').html('<label>Responsable:</label> <input class="form-control responsible_place" readonly value="'+ data.entryform.responsible+'" name="responsable" onclick="responsibleModal()" {% if not edit or closed  %}disabled{% endif %} />');
  $('.summaryReception').html('<label>Fecha recepción:</label> <div class="input-group date" id=""><input type="text" class="form-control" name="recive" value="'+ moment(data.entryform.created_at).format("DD/MM/YYYY HH:mm")+'" {% if not edit or closed  %}disabled{% endif %} /><div class="input-group-append"><span class="input-group-text"><span class="fa fa-calendar"></span></span></div></div> ' );
  $('.sumarrySampling').html('<label>Fecha muestreo:</label> <div class="input-group date" id=""><input type="text" class="form-control" name="muestreo" value="'+ moment(data.entryform.sampled_at).format("DD/MM/YYYY HH:mm")+'" {% if not edit or closed  %}disabled{% endif %} /><div class="input-group-append"><span class="input-group-text"><span class="fa fa-calendar"></span></span></div></div> ' );
  $('.summaryNoOrder').html('<label>Nro Orden de Trabajo:</label> <input class="form-control" value="'+ data.entryform.no_order+'" name="no_order" {% if not edit or closed  %}disabled{% endif %} />');
  $('.summaryNoRequest').html('<label>Nro Solicitud Interlaboratorio:</label> <input class="form-control" value="'+ data.entryform.no_request+'" name="no_solic" {% if not edit or closed  %}disabled{% endif %} />');
  $('.summaryAnamnesis').html('<label>Anamnesis:</label> <textarea class="form-control" row="2" name="anamnesis" {% if not edit %}disabled{% endif %} >'+ data.entryform.anamnesis+'</textarea>');
  $('.summaryFixative').html('<label>Fijador:</label>'+ selectFix);
  $('.summaryEntryformType').html('<label>Tipo de Ingreso:</label>'+ selectEntryformType);
  
  $('.summarySpecie').html('<label>Especie:</label>'+selectSpecie  );
  $('.summaryDevStatus').html('<label>Estadío Desarrollo:</label>'+selectlarvalstage ); 
  $('.summaryWaterSource').html('<label>Fuente de agua:</label>'+selectwatersource);

  // var tpl_identification = '';
  var tpl_identification = '<div class="col-sm-12"> <hr><h6 class="form-section mt-2"> Identificación&nbsp;&nbsp;&nbsp;';
  {% if edit and not closed %}
    tpl_identification += '<a href="javascript:void(0);" onclick="newIdentification('+data.entryform.id+')" class="btn btn-secondary btn-sm"> <i class="fa fa-plus"></i> Agregar Identificación</a>'
  {% endif %}
  tpl_identification += '</h6></div>';

  $.each(data.entryform.identifications, function(i, item){
    var optimum = ""
    if (!item.is_optimum){
      optimum = "selected"
    }
    var selectOptimum = '<select class="select2 form-control selectOpt" name="optimo" {% if not edit or closed  %}disabled{% endif %} ><option value="1">Si</option><option value="0" '+optimum+'>No</option></select>'
    
    var selectOrgans = '<select class="select2 form-control selectOrgs" name="organs" multiple {% if not edit or closed  %}disabled{% endif %} >';

    $.each(data.organs, function(j, o){
      if(item.organs_bv_set.findIndex(x => x.id === o.id) != -1){
        selectOrgans += '<option value="'+o.id+'" selected>'+o.name+'</option>';
      }
      else
        selectOrgans += '<option value="'+o.id+'">'+o.name+'</option>';
    });
    selectOrgans +='</select>';
    
    tpl_identification += '<div class="col-md-4"><form id="identification-'+item.id+'" action="#" method="POST">';
    tpl_identification += '<div class="alert alert-light"><div class="row">';
    tpl_identification += '<div class="form-group col-md-6"><label>Estanque/Jaula:</label> <input class="form-control" value="'+ item.cage+'"  name="jaula" {% if not edit or closed  %}disabled{% endif %} /></div>';
    tpl_identification += '<div class="form-group col-md-6"><label>Grupo/Nro Caso Cliente:</label> <input class="form-control" value="'+ item.group+'"  name="grupo" {% if not edit or closed  %}disabled{% endif %} /></div>';
    tpl_identification += '<div class="form-group col-md-6"><label>Peces:</label> <input class="form-control just_increasing" name="no_fish" data-val="'+ item.no_fish+'" value="'+ item.no_fish+'" {% if not edit or closed  %}disabled{% endif %} /></div>';
    tpl_identification += '<div class="form-group col-md-6"><label>Contenedores:</label> <input class="form-control" type="number" value="'+ item.no_container+'"  name="contenedores" {% if not edit or closed  %}disabled{% endif %} /></div>';
    tpl_identification += '<div class="form-group col-md-6"><label>Peso (gramos):</label> <input class="form-control" type="number" value="'+ item.weight+'"  name="peso" {% if not edit or closed  %}disabled{% endif %} /></div>';
    tpl_identification += '<div class="form-group col-md-6"><label>Óptimo?:</label>'+ selectOptimum+'</div>';
    tpl_identification += '<div class="form-group col-md-6"><label>Características Extras:</label> <textarea class="form-control" rows="2" name="extras" {% if not edit or closed  %}disabled{% endif %} >'+ item.extra_features_detail+' </textarea></div>';
    tpl_identification += '<div class="form-group col-md-6"><label>Observaciones:</label> <textarea class="form-control" rows="2" name="observation" {% if not edit or closed  %}disabled{% endif %} >'+ item.observation+' </textarea></div>';
    tpl_identification += '<div class="form-group col-md-9"><label>Órganos:</label>'+selectOrgans+'</div>';
    {% if edit and not closed %}
      tpl_identification += '<div style="padding-top:25px;"><a href="javascript:void(0);" onclick="submitIdentification('+item.id+')" class="btn btn-primary"> <i class="fa fa-save"></i></a>';
      if (item.removable){
        tpl_identification += '<a href="javascript:void(0);" onclick="removeIdentification('+item.id+')" class="btn btn-danger"> <i class="fa fa-trash"></i></a>';
      }
      tpl_identification += '</div>';
    {% endif %}
    tpl_identification += '</div></div>';
    tpl_identification += '</form></div>';
  });

  // tpl_identification += '</div>';
  $('.summaryIdentification').html(tpl_identification);

  var tpl_exams = '<div class="col-sm-12"><h6 class="form-section mt-2"> Servicios</h6></br>';
  $.each(data.entryform.analyses, function(i, item){
    tpl_exams += '<div class="alert alert-light"><b>'+ item.exam__name +'</b> <span class="pull-right">'
    if(item.patologo__first_name != null)
      tpl_exams += '<b>Patólogo:</b> '+item.patologo__first_name+' ';
    if(item.patologo__last_name != null)
      tpl_exams += item.patologo__last_name;
    tpl_exams += '</span> <br> <b>Fecha: </b>'+ moment(item.created_at).format("DD/MM/YYYY HH:mm");
    
    if (item.service_comments.length > 0) {
      tpl_exams += '<br> <b>Comentarios:</b><br><br>';
      $.each(item.service_comments, function(j, item2){
        tpl_exams += '<p style="margin-left: 5%;"><b>'+item2.done_by+' ('+item2.created_at+'):</b> <br> '+item2.text+'</p>'
      });
    }
    

    tpl_exams += '</div>';
  });

  tpl_exams += '</div>';
  $('.summaryExams').html(tpl_exams);

  var tpl_samples = '<div class="col-sm-12"><h6 class="form-section mt-2"> Muestras</h6></br><table class="table table-bordered table-xs">';
  tpl_samples += '<thead><tr><th width="8% !important;">Muestra</th><th>Identificación</th><th>Análisis</th><th>Órganos</th></tr></thead><tbody>';
  var patologos = {};
  $.each(data.patologos, function(i, v){
    patologos[v.id]=v.first_name+' '+v.last_name;
  })
  
  $.each(data.samples, function(i, item){
    var len = 1;
    var tpl_exams = ""
    $.each(item.sample_exams_set, function(j, v){
      len+=1;
      tpl_exams += '<tr><td>'+v.exam_name+'</td>';
      tpl_exams += '<td>'+ Object.keys(v.organ_id).map(function(k){return v.organ_id[k].name}).join(", ") +'</td></tr>';
    });
    tpl_samples += '<tr id="sample-id-'+item.id+'">';
    {% if edit and not closed %}
      tpl_samples += '<td rowspan="'+len+'"><button type="button" class="btn btn-sm btn-danger round" onclick="deleteSample('+item.id+');">X</button> '+ item.index +'</td>';
    {% else %}
      tpl_samples += '<td rowspan="'+len+'">'+ item.index +'</td>';
    {% endif %}
    tpl_samples += '<td rowspan="'+len+'">'+ item.identification.cage +'-'+item.identification.group+'</td>';
    tpl_samples += '</tr>';
    tpl_samples += tpl_exams;
    
  });

  tpl_samples += '</tbody></table></div>';
  $('.summarySamples').html(tpl_samples);

  if(data.entryform.customer != null)
  $('#client').val(data.entryform.customer.id);
  if(data.entryform.entryform_type != null)
      $('#entryform_type').val(data.entryform.entryform_type.id);
  if(data.entryform.fixative != null)
  $('#fixative').val(data.entryform.fixative.id);
  if(data.entryform.specie != null)
  $('#specie').val(data.entryform.specie.id);
  if(data.entryform.watersource != null)
  $('#watersource').val(data.entryform.watersource.id);
  if(data.entryform.larvalstage != null)
  $('#larvalstage').val(data.entryform.larvalstage.id);

  $('.selectOpt').select2({'width':'100%'});
  $('.selectOrgs').select2({'width':'100%'});
  
  $('.date').datetimepicker({
      locale: 'es',
      keepOpen: false,
      format:'DD/MM/YYYY HH:mm'
    });

  // $('#datetime_sampled_at').datetimepicker({
  //     locale: 'es',
  //     keepOpen: false,
  //     format:'DD/MM/YYYY HH:mm'
  //   });
}

function newIdentification(entryform_id){
  var url = Urls.new_identification(entryform_id);
  $.ajax({
    type: "GET",
    url: url,
  })
  .done(function (data) {
    if (data.ok){
      getSummaryData();
    }
  })
  .fail(function () {
    console.log("Fail")
  });
}

function removeIdentification(id){
  var url = Urls.remove_identification(id);
  $.ajax({
    type: "GET",
    url: url,
  })
  .done(function (data) {
    if (data.ok){
      getSummaryData();
    }
  })
  .fail(function () {
    console.log("Fail")
  });
}

function submitIdentification(id){
    swal({
        title: "Confirmación",
        text: "¿Confirma que desea guardar los cambios?",
        icon: "warning",
        showCancelButton: true,
        buttons: {
        cancel: {
            text: "Cancelar",
            value: null,
            visible: true,
            className: "btn-warning",
            closeModal: true,
        },
        confirm: {
            text: "Continuar",
            value: true,
            visible: true,
            className: "",
            closeModal: true,
        }
        }
    }).then(isConfirm => {
        if (isConfirm) {
            var data = $('#identification-'+id).serialize();
            $.ajax({
                type: "POST",
                url: '/identification/'+id,
                data: data,
                async: false,
            })
            .done(function (data) {
                response = data;
                summary_edited = true;
                toastr.success('Guardado exitosamente!');
                getSummaryData(true, id);
            })
            .fail(function (data) {
                console.log("Fail");
            })
        }
    });
}

function submitGeneralData(id){
  swal({
      title: "Confirmación",
      text: "¿Está seguro que desea guardar los cambios?",
      icon: "warning",
      showCancelButton: true,
      buttons: {
        cancel: {
            text: "No, cancelar!",
            value: null,
            visible: true,
            className: "btn-warning",
            closeModal: true,
        },
        confirm: {
            text: "Sí!",
            value: true,
            visible: true,
            className: "",
            closeModal: true,
        }
      }
    }).then(isConfirm => {
    if (isConfirm) {
      var data = $('#generalData').serialize();
      $.ajax({
        type: "POST",
        url: '/generalData/'+id,
        data: data,
        async: false,
      })
      .done(function (data) {
        $('#show_summary').modal('hide');
      })
      .fail(function (data) {
        console.log("Fail");
      })
    }
  });
}

function shareChoice(){
  swal({
    title: "Información",
    text: "¿Que acción desea realizar?",
    icon: "info",
    className: "multiple-action",
    closeOnClickOutside: false,
    closeOnEsc: false,
    showCancelButton: false,
    buttons: {
      download: {
        text: "Descargar!",
        value: "download",
        visible: true,
        className: "",
        closeModal: true,
      },
      email: {
        text: "Enviar por Correo!",
        value: "email",
        visible: true,
        className: "",
        closeModal: true,
      },
      downloadEmail: {
        text: "Descargar y enviar!",
        value: "downloadEmail",
        visible: true,
        className: "",
        closeModal: true,
      },
      continue: {
        text: "Continuar!",
        visible: true,
        className: "",
        closeModal: true,
      }
    }
  })
  .then(value => {
    emailOnly = true;
    downloadOption = false;
    emailOption = false;
    switch (value) {
      case "downloadEmail":
        emailOnly = false;
      case "email":
        emailOption = true;
        if(emailOnly)
          break
      case "download":
      downloadOption = true;
        break
      default:
        return;
    }
    swal({
      title: "Información",
      text: "¿En que idioma desea enviar el documento resúmen?",
      icon: "info",
      className: "multiple-action",
      closeOnClickOutside: false,
      closeOnEsc: false,
      showCancelButton: true,
      buttons: {
        
        En: {
          text: "Inglés!",
          value: "en",
          visible: true,
          className: "",
          closeModal: true,
        },
        Es: {
          text: "Español!",
          value: "es",
          visible: true,
          className: "",
          closeModal: true,
        },
        cancel: {
            text: "Cancelar!",
            value: "",
            visible: true,
            className: "btn-warning",
            closeModal: true,
        },
      }
    })
    .then(lang => {
      if(lang == "") return;
      shareAction(emailOption, downloadOption, lang)
   
    });
    // var data = $('#generalData').serialize();
    // $.ajax({
    //   type: "POST",
    //   url: '/generalData/'+id,
    //   data: data,
    //   async: false,
    // })
    // .done(function (data) {
    //   $('#show_summary').modal('hide');
    // })
    // .fail(function (data) {
    //   console.log("Fail");
    // })
  });
}

function shareAction(email, download, lang){
  //Accion de generar un pdf
  // Una vez terminada realizar el resto de las acciones con la referencia al documento
  if(download){
    // Modificar el request del download
      window.open('/download-resumen-report/{{form.id}}?lang='+lang, '_blank');
    }
  if(email){
    $.ajax({
      type: "GET",
      url: '/emailTemplate?form={{form.object_id}}',
    })
    .done(function (data) {
      if (data.ok)
      {
        $('#email_modal').modal('show');
        $('#email_to').tagsinput();
        $('#email_to').tagsinput('add', data.email);
        $('#lang').val(lang);
        $('#formId').val({{form.id}});
        let template = '<option value="0">Sin Plantilla</option>';
        $.each(data.templates, function(i, v){
          template += '<option value="'+v.id+'">'+v.name+'</option>'
        });
        $('#plantilla').html(template);
      }
    });
  }
}

function sendEmail(){
  var form_data = $("#email_form").serialize();
  lockScreen(1);
  $.ajax({
    type: "POST",
    url: '/emailTemplate',
    data: form_data,
  })
    .done(function (data) {
      $('#email_modal').modal('hide');
      lockScreen(0);


      if (data.ok)
      {
        // reloadResponsibleTable()
        // $("#responsible_form")[0].reset();
        toastr.success("", "Mail enviado exitosamente.");
        

      }
      else
      {
        
        toastr.error("", "No ha sido posible enviar el Mail satisfactoriamente.");
        
      }
      
    })
    .fail(function (data) {
      console.log("Fail");
    })
}

function showAttachedFilesModal(id, closed){

  $('#attached_files').html('');
  var temp = '<h4>Archivos</h4>';
  temp += '<div id="file_list" class="col-sm-12 pl-2 pb-2">';
  var url = Urls.case_files(id);
  $.ajax({
    type: "GET",
    url: url,
  })
  .done(function (data) {
    console.log(data)
    if (data.files.length > 0) {
      if (!closed) {
        $.each(data.files, function(index, value){
          temp += '<div id="cf-'+value.id+'"><button class="btn btn-sm btn-danger" onclick="deleteCaseFile('+id+', '+value.id+')"><i class="fa fa-close"></i></button> <a target="_blank" href="'+value.path+'"><i class="fa fa-download"></i> '+value.name+'</a></div>';
        });
      } else {
        $.each(data.files, function(index, value){
          temp += '<div id="cf-'+value.id+'"><a target="_blank" href="'+value.path+'"><i class="fa fa-download"></i> '+value.name+'</a></div>';
        });
      }
    } else {
      temp += '<div><h5 class="not_available_text">No hay archivos disponibles</h5>';
    }
    temp += '</div>';
    $('#attached_files').html(temp);
  })
  .fail(function () {
    console.log("Fail")
  });

  if (!closed) {
    var url = Urls.case_files(id);
    var temp_uploader = "<h4>Cargador de archivos</h4>";
    temp_uploader += '<div class="col-sm-12"><form id="case_files_uploader" action="'+url+'" class="dropzone needsclick">';
    temp_uploader += '<div class="dz-message" data-dz-message>';
    temp_uploader += '<center><span><h3>Arrastra o selecciona archivo que deseas cargar</h3></span></center>';
    temp_uploader += '</div>';    
    temp_uploader += '</form></div>';
    // temp += '<input type="reset" class="btn btn-secondary" data-dismiss="modal" value="Salir">';
    // temp += '<input type="button" class="btn btn-primary submit-file" value="Cargar Imágen""></div></div></div>';
    $('#attached_files_uploader').html('');
    $('#attached_files_uploader').html(temp_uploader);

    $("#case_files_uploader").dropzone({
      autoProcessQueue: false,
      acceptedFiles: ".doc, .docx, .pdf, .xls, .xlsx",
      init: function() {
        var submitButton = document.querySelector(".attach-file")
        myDropzone = this;
        submitButton.addEventListener("click", function() {
          myDropzone.processQueue();
        });
        this.on('sending', function(file, xhr, formData){
          lockScreen(1);
        });

        this.on("success", function(file, responseText) {
          if (responseText.ok) {
            toastr.success('', 'Archivo cargado exitosamente.');
            this.removeFile(file);
            $('.not_available_text').remove();
            $('#file_list').prepend('<div id="cf-'+responseText.file.id+'"><button class="btn btn-sm btn-danger" onclick="deleteCaseFile('+id+', '+responseText.file.id+')"><i class="fa fa-close"></i></button> <a target="_blank" href="'+responseText.file.path+'"><i class="fa fa-download"></i> '+responseText.file.name+'</a></div>');
          } else {
            toastr.error('', 'No ha sido posible cargar el archivo. Intente nuevamente.');
          }
          lockScreen(0);
        });

        this.on("error", function(file, response) {
          this.removeFile(file);
          bootbox.hideAll();
          toastr.error('', 'No ha sido posible cargar el archivo. Intente nuevamente.');
          lockScreen(0);
        });

        this.on("addedfile", function() {
          if (this.files[1]!=null){
            this.removeFile(this.files[0]);
          }
        });
      },
    });
  }

  $('#attached_files_modal').modal('show');
}

function deleteCaseFile(entryform_id, id){
  var url = Urls.case_files_id(entryform_id, id);
  $.ajax({
    type: "DELETE",
    url: url,
  })
  .done(function (data) {
    toastr.success('', 'Archivo eliminado exitosamente.');
    $('#cf-'+id).remove();
  })
  .fail(function () {
    toastr.error('', 'No ha sido posible eliminar el archivo. Intente nuevamente.');
  });
}

$(document).on('change', '#plantilla', function(){
  if($(this).val() == "0")
    return;
  $.ajax({
    type: "GET",
    url: '/emailTemplate/'+$(this).val(),
  })
  .done(function (data) {
    if (data.ok)
    {
      $('#body').val(data.template.body);
    }
  });
})

function responsibleModal() {
  $('#responsible_modal').modal('show');
  reloadResponsibleTable();
}

function logModal() {
  $('#log_modal').modal('show');
  reloadLogTable();
}

function reloadLogTable(entry) {
  $.ajax({
    type: "GET",
    url: '/logactions/{{form.content_object.id}}',
  })
    .done(function (data) {
      if (data.ok)
      {
        $('#log_table_tbody').html("");
        var template = "";
        $.each(data.data, function(i, v){
          template += "<tr>";
          template += "<td>"+ v['done_by'] + "</td>";
          template += "<td>"+ v['type'] + "</td>";
          template += "<td>"+ v['version'] + "</td>";
          template += "<td>"+ v['action_date'] + "</td>";
          template += "</tr>";
        })

        $("#log_table_tbody").html(template);
        $('#log_table').DataTable({
          "destroy": true,
          "oLanguage": {
            "sUrl": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
          }
        });
      }
    });
}

function reloadResponsibleTable() {
  $.ajax({
    type: "GET",
    url: '/responsible',
  })
  .done(function (data) {
    if (data.ok)
    {
      var groupTemplate = document.getElementById("responsible_table_template").innerHTML;
      var templateFn = _.template(groupTemplate);
      var templateHTML = templateFn(data);

      $("#responsible_table_div").html(templateHTML);
      $('#responsible_table').DataTable({
        "destroy": true,
        "oLanguage": {
          "sUrl": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
        },
        initComplete: function () {
          setTimeout(function(){ $('#responsible_table_filter input[type=search]').focus(); }, 500);
        },
      });
    }
  });
}

function saveResponsible(e) {
  let form_data = $("#responsible_form").serialize();
  $.ajax({
    type: "POST",
    url: '/responsible',
    data: form_data,
  })
    .done(function (data) {
      if (data.ok)
      {
        reloadResponsibleTable()
        $("#responsible_form")[0].reset();
        toastr.success('Se guardó satisfactoriamente', '');
      }
      else
      {
        toastr.error('No se pudo guardar satisfactoriamente', 'Aviso');
      }
    })
    .fail(function (data) {
      console.log("Fail");
    })
}

function editResponsible(id, name, email, phone, job) {
  $('#responsible_form input[name=id]').val(id);
  $('#responsible_form input[name=name]').val(name);
  $('#responsible_form input[name=email]').val(email);
  $('#responsible_form input[name=phone]').val(phone);
  $('#responsible_form input[name=job]').val(job);
}

function disabledResponsible(id) {
  $.ajax({
    type: "DELETE",
    url: '/responsible/' + id,
  })
    .done(function (data) {
      if (data.ok)
      {
        reloadResponsibleTable()
        toastr.success('Se eliminó satisfactoriamente', '');
      }
      else
      {
        toastr.error('No se pudo eliminar satisfactoriamente', 'Aviso');
      }
    })
    .fail(function (data) {
      console.log("Fail");
    })
}

function selectResponsible(id, name) {
  $.each($('.responsible_place'), function(i, v){
    $(v).val(name);
  })
  $.each($('#responsible_input'), function(i, v){
    $(v).val(name);
  })
}

function deleteSample(id){

    swal({
        title: "Confirmación",
        text: "Le recordamos que eliminar una muestra puede generar perdida de trabajo realizado si ya se encuentra procesada o tiene servicios asociados. ¿Confirma que desea eliminar?",
        icon: "warning",
        showCancelButton: true,
        buttons: {
        cancel: {
            text: "Cancelar",
            value: null,
            visible: true,
            className: "btn-warning",
            closeModal: true,
        },
        confirm: {
            text: "Continuar",
            value: true,
            visible: true,
            className: "",
            closeModal: true,
        }
        }
    }).then(isConfirm => {
        if (isConfirm) {
            $.ajax({
                type: "GET",
                url: '/delete-sample/'+id,
                async: false,
            })
            .done(function (data) {
                summary_edited = true;
                toastr.success('La muestra se ha eliminado exitosamente!');
                getSummaryData();
            })
            .fail(function (data) {
                console.log("Fail");
            })
        }
    });
}
</script> {% endblock scripts %}
