{% extends 'layout.html' %}
{% load static %}
{% block stylesheets %}

<style>
  .steps {
    pointer-events: none;
  }
  .form-section {
    color: #404E67;
    line-height: 3rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #404E67;
  }
</style>

{% endblock stylesheets %}
{% block content_header %}
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">Ingreso</h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">INICIO</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">CASOS</a>
          </li>
          <li class="breadcrumb-item active">
            {{form.content_object.no_caso}}
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock content_header %}
{% block content %}<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <center>
          <h3> <strong>CASO N° {{form.content_object.no_caso}}</strong></h3>
          <button class="btn btn-secondary square showSummaryBtn hidden"><i class="fa fa-list fa-fx"></i> Resumen del caso</button>
          <button class="btn btn-secondary square newAnalysisBtn hidden"><i class="fa fa-list fa-plus-circle"></i> Nuevo Análisis</button>
          <button class="btn btn-secondary square newAnalysisBtn5 hidden"><i class="fa fa-list fa-plus-circle"></i> Nuevo Análisis</button>
        </center>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form action="#" id="workflow_form" class="wizard-circle">
            {% for step in form.flow.step_set.all %}
              <h6>{{ step.name }}</h6>
              {% include step.route|add:".html" with step_tag=step.tag step_id=step.pk form_id=form_id entryform_id=entryform_id step_tab=forloop.counter0 %}
            {% endfor %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade text-left" id="show_summary" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document" style="min-width:80% !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="title">Resumen Caso <span class="NoCasoSummary"></span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size:12px !important; max-height: calc(100vh - 150px); overflow-y:scroll;">
        <div style="padding: 10px;background-color: #f2efed;">
          {% if edit %}
            <div class="col-md-12">
              <a href="javascript:void(0);" onclick="submitGeneralData({{form.content_object.id}})" class="btn btn-primary pull-right"> <i class="fa fa-save fa-2x"></i> </a>
            </div>
          {% endif %}
          <form action="#" id="generalData">
            <h6 class="form-section mt-2">  Información general</h6>
            <div class="row generalInfo">
              <div class="col-sm-4 form-group summaryClient">
              </div>
              <div class="col-sm-4 form-group summaryCompany">
              </div>
              <div class="col-sm-4 form-group summaryCenter">
              </div>
              <div class="col-sm-4 form-group summaryResponsible">
              </div>
              <div class="col-sm-4 form-group summaryReception">
              </div>
              <div class="col-sm-4 form-group sumarrySampling">
              </div>
              <div class="col-sm-4 form-group summaryNoOrder">
              </div>
              <div class="col-sm-4 form-group summaryNoRequest">
              </div>
              <div class="col-sm-4 form-group summaryFixative">
              </div>
            </div>
            <hr>
            <h6 class="form-section mt-2"> Detalle</h6>
            <div class="row ">
              <div class="col-sm-4 summarySpecie">
              </div>
              <div class="col-sm-4 summaryDevStatus">
              </div>
              <div class="col-sm-4 summaryWaterSource">
              </div>
            </div>
          </form>   
        </div>
        <hr>
        <div class="row">
          <div class="row col-sm-12 summaryIdentification" style="margin:0">
          </div>
          <div class="col-sm-4 summaryExams">
          </div>
          <div class="col-sm-8 summarySamples">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block scripts %}
<script src="{% url 'js_reverse' %}" type="text/javascript"></script>
{% for step in form.flow.step_set.all %}
  {% with step.route|add:".js" as script_step %}
    <script src="{% static script_step %}" type="text/javascript"></script>
  {% endwith %}
{% endfor %}
<script language="JavaScript">
  window.onbeforeunload = confirmExit;
  function confirmExit() {
    return "Ha intentado salir de esta pagina. Si ha realizado algun cambio en los campos sin hacer clic en el boton Guardar, los cambios se perderan. Seguro que desea salir de esta pagina? ";
  }
</script>
<script type="text/javascript">

var form = $("#workflow_form");
var saltar=false;
var steps = $("#workflow_form").steps({
    headerTag: "h6",
    bodyTag: "fieldset",
    transitionEffect: "fade",
    titleTemplate: '<span class="step">#index#</span> #title#',
    enablePagination: {{edit}} == 1,
    labels: {
        previous: 'Deshacer y Volver',
        next: 'Continuar',
        finish: 'Finalizar'
    },
    startIndex: 0,
    onStepChanging: function (events, currentIndex, newIndex)
    {
      lockScreen(1);
      window.onbeforeunload = function(){};
      if(!set_state) {
        var previous_step = false;
        var form_data;
        if(currentIndex < newIndex){
          if (currentIndex == 0){
            var resp = validate_step_1();
            if (!resp) {
              lockScreen(0);
              return false
            }
          } 
          else if (currentIndex == 1) {
            var resp = validate_step_2();
            if (!resp) {
              lockScreen(0);
              return false
            }
            saltar = resp == 5;
          } 
          else if (currentIndex == 2) {
            if(!saltar){
              var resp = validate_step_3();
              if (!resp) {
                lockScreen(0);
                return false
              }
            }
          }
          else if (currentIndex == 3) {
            saltar = false;
          }
        }
        
        if (currentIndex > newIndex)
        {
          previous_step = true;
          var disform = $("#step_" + newIndex + " :input").find(':disabled').prop('disabled', false);
          form_data = $("#step_" + newIndex + " :input").serialize();
          disform.prop('disabled', true);
        } 
        else {
          previous_step = false;
          var disform = $("#step_" + currentIndex + " :input").find(':disabled').prop('disabled', false);
          form_data = $("#step_" + currentIndex + " :input").serialize();
          disform.attr('disabled', true);
        }
        
        var url = Urls.workflow();
        var id_next_step = $("#step_" + newIndex).children("#step_id").val();
        if(!saltar){
          var response;
          $.ajax({
            type: "POST",
            url: url,
            data: form_data + "&id_next_step=" + id_next_step +"&previous_step=" + previous_step,
            async: false,
          })
          .done(function (data) {
            response = data;
          })
          .fail(function (data) {
            console.log("Fail");
          })
          if (response == undefined) {
            lockScreen(0);
            return false
          }
          if (response.next_step_permission) {
            var step;
            var function_name;
            if(previous_step) {
              step = currentIndex
              function_name = "init_step_" + step;

            } 
            else {
              step = newIndex + 1
              function_name = "init_step_" + step;
            }
            setTimeout(function() {
              window[function_name]({{edit}} == 1);
              $.get(
                Urls.sendNotification()+'?'+form_data + "&id_next_step=" + id_next_step +"&previous_step=" + previous_step,
                function (data) {
                toastr.success('', '2');
                }
              )
            }, 500);
          } 
          else {
            toastr.error('No puedes continuar ya que no tienes permisos para los siguientes pasos.', 'No tienes permisos');
            setTimeout(function() {
              window.location.href = '/ingresos'
            }, 1000);
          }
          if(!previous_step) {
            if(response.process_response) {
              toastr.success('', 'Paso guardado exitosamente!');
            }
          }
          return response.next_step_permission;
        }
        return true;
      } 
      else {
        set_state = false;
        return true
      }
    },
    onStepChanged:function (event, currentIndex, prevIndex){
      lockScreen(0);
      if(currentIndex < prevIndex){
          if (prevIndex == 5){
              if(saltar){
                  steps.steps("previous");
              }
          }
          else if (prevIndex == 4){
              if(saltar){
                  steps.steps("previous");
              }
          }
          else if (prevIndex == 3){
              if(saltar){
                saltar = false;
                steps.steps("previous");
              }
          }
          return true; 
      }
      if (currentIndex == 2){
          if(saltar){
              steps.steps("next");
          }
      }
      else if (currentIndex == 3){
          if(saltar){
              steps.steps("next");
          }
      }
      else if (currentIndex == 4){
          if(saltar){
              steps.steps("next");
          }
      }
      return true; 
    }, 
    onFinishing: function (event, currentIndex)
    {
      alert(1);
        // form.validate().settings.ignore = ":disabled";
        // return form.valid();
    },
    onFinished: function (event, currentIndex)
    {
      lockScreen(1);
      event.preventDefault();
      var url = Urls.entryform();
      var disform = $("form").find(':disabled').prop('disabled', false);
      var form_data = ($("form").serialize());
      disform.prop('disabled', true);

      $.ajax({
        type: "POST",
        url: url,
        data: form_data,
      })
      .done(function () {
      alert(2);

      })
      .fail(function () {
        console.log("Fail")
      })
      lockScreen(0);
    }
});

$(window).on('load', function (e) {
    // If para cargar un paso en especifico
  {% if set_step_tag %}
    window.onbeforeunload = function(){};
    {% if set_step_tag != "step_1" %}
      set_state = true;
      var step_wizard = parseInt("{{ set_step_tag }}".split("_")[1]) - 1; // Se resta 1 para igualar a los indices del plugin
      var step_tag_function = "init_{{ set_step_tag }}";

      form.steps("setStep", step_wizard);

      window[step_tag_function]({{edit}} == 1);
    {% endif %}
  {% else %}
    set_state = false;

    // Si se abre un nuevo caso es necesario ejecutar el metodo del paso 1
    init_step_1({{edit}} == 1);
  {% endif %}
});

$(document).on('click', '.showSummaryBtn', function(e){
  var entryform_id = $('#entryform_id').val();
  var url = Urls.entryform_id(entryform_id);
  $.ajax({
    type: "GET",
    url: url,
  })
  .done(function (data) {
    fillSummary(data);
    $("#show_summary").modal("show");
  })
  .fail(function () {
    console.log("Fail")
  });
});

$(document).on('click', '.newAnalysisBtn', function(e){
    $("#new_analysis").modal("show");
});

$(document).on('click', '.newAnalysisBtn5', function(e){
    $("#new_analysis5").modal("show");
});

function fillSummary(data){
  var selectClient = '<select class="select2 form-control selectOpt" id="client" name="client" {% if not edit %}disabled{% endif %} >';
  $.each(data.customers_list, function(j, o){
      selectClient += '<option value="'+o.id+'">'+o.name+'</option>';
  });
  selectClient +='</select>';

  var selectFix = '<select class="select2 form-control selectOpt" id="fixative" name="fixative" {% if not edit %}disabled{% endif %} >';
  $.each(data.fixtatives_list, function(j, o){
      selectFix += '<option value="'+o.id+'">'+o.name+'</option>';
  });
  selectFix +='</select>';

  var selectSpecie = '<select class="select2 form-control selectOpt" id="specie" name="specie" {% if not edit %}disabled{% endif %} >';
  $.each(data.species_list, function(j, o){
      selectSpecie += '<option value="'+o.id+'">'+o.name+'</option>';
  });
  selectSpecie +='</select>';

  var selectlarvalstage = '<select class="select2 form-control selectOpt" id="larvalstage" name="larvalstage" {% if not edit %}disabled{% endif %} >';
  $.each(data.larvalStages_list, function(j, o){
      selectlarvalstage += '<option value="'+o.id+'">'+o.name+'</option>';
  });
  selectlarvalstage +='</select>';

  var selectwatersource = '<select class="select2 form-control selectOpt" id="watersource" name="watersource" {% if not edit %}disabled{% endif %} >';
  $.each(data.waterSources_list, function(j, o){
      selectwatersource += '<option value="'+o.id+'">'+o.name+'</option>';
  });
  selectwatersource +='</select>';

  $('.NoCasoSummary').html(data.entryform.no_caso);
  $('.summaryClient').html('<label>Cliente:</label>' + selectClient);
  $('.summaryCompany').html('<label>Empresa:</label> <input class="form-control" value="'+ data.entryform.company+'" name="company" {% if not edit %}disabled{% endif %} />');
  $('.summaryCenter').html('<label>Centro:</label> <input class="form-control" value="'+ data.entryform.center+'" name="center" {% if not edit %}disabled{% endif %} />');
  $('.summaryResponsible').html('<label>Responsable:</label> <input class="form-control" value="'+ data.entryform.responsible+'" name="responsable" {% if not edit %}disabled{% endif %} />');
  $('.summaryReception').html('<label>Fecha recepción:</label> <div class="input-group date" id=""><input type="text" class="form-control" name="recive" value="'+ moment(data.entryform.created_at).format("DD/MM/YYYY HH:mm")+'" {% if not edit %}disabled{% endif %} /><div class="input-group-append"><span class="input-group-text"><span class="fa fa-calendar"></span></span></div></div> ' );
  $('.sumarrySampling').html('<label>Fecha muestreo:</label> <div class="input-group date" id=""><input type="text" class="form-control" name="muestreo" value="'+ moment(data.entryform.sampled_at).format("DD/MM/YYYY HH:mm")+'" {% if not edit %}disabled{% endif %} /><div class="input-group-append"><span class="input-group-text"><span class="fa fa-calendar"></span></span></div></div> ' );
  $('.summaryNoOrder').html('<label>No. orden:</label> <input class="form-control" value="'+ data.entryform.no_order+'" name="no_order" {% if not edit %}disabled{% endif %} />');
  $('.summaryNoRequest').html('<label>No. solicitud:</label> <input class="form-control" value="'+ data.entryform.no_request+'" name="no_solic" {% if not edit %}disabled{% endif %} />');
  $('.summaryFixative').html('<label>Fijador:</label>'+ selectFix);
  
  $('.summarySpecie').html('<label>Especie:</label>'+selectSpecie  );
  $('.summaryDevStatus').html('<label>Estado de desarrollo:</label>'+selectlarvalstage ); 
  $('.summaryWaterSource').html('<label>Fuente de agua:</label>'+selectwatersource);

  // var tpl_identification = '';
  var tpl_identification ='<div class="col-sm-12"> <hr><h6 class="form-section mt-2"> Identificación</h6></br> </div>';

  $.each(data.entryform.identifications, function(i, item){
    var optimum = ""
    if (!item.is_optimum){
      optimum = "selected"
    }
    var selectOptimum = '<select class="select2 form-control selectOpt" name="optimo" {% if not edit %}disabled{% endif %} ><option value="1">Si</option><option value="0" '+optimum+'>No</option></select>'
    
    var selectOrgans = '<select class="select2 form-control selectOrgs" name="organs" multiple {% if not edit %}disabled{% endif %} >';
    $.each(data.organs, function(j, o){
      if(item.organs_set.findIndex(x => x.id === o.id) != -1){
        selectOrgans += '<option value="'+o.id+'" selected>'+o.name+'</option>';
      }
      else
        selectOrgans += '<option value="'+o.id+'">'+o.name+'</option>';
    });
    selectOrgans +='</select>';
    
    tpl_identification += '<div class="col-md-4"><form id="identification-'+item.id+'" action="#" method="POST">';
    tpl_identification += '<div class="alert alert-light"><div class="row">';
    tpl_identification += '<div class="form-group col-md-6"><label>Estanque/Jaula:</label> <input class="form-control" value="'+ item.cage+'"  name="jaula" {% if not edit %}disabled{% endif %} /></div>';
    tpl_identification += '<div class="form-group col-md-6"><label>Grupo:</label> <input class="form-control" value="'+ item.group+'"  name="grupo" {% if not edit %}disabled{% endif %} /></div>';
    tpl_identification += '<div class="form-group col-md-6"><label>Peces:</label> <input class="form-control" value="'+ item.no_fish+'" disabled {% if not edit %}disabled{% endif %} /></div>';
    tpl_identification += '<div class="form-group col-md-6"><label>Contenedores:</label> <input class="form-control" type="number" value="'+ item.no_container+'"  name="contenedores" {% if not edit %}disabled{% endif %} /></div>';
    tpl_identification += '<div class="form-group col-md-6"><label>Peso:</label> <input class="form-control" type="number" value="'+ item.weight+'"  name="peso" {% if not edit %}disabled{% endif %} /></div>';
    tpl_identification += '<div class="form-group col-md-6"><label>Óptimo?:</label>'+ selectOptimum+'</div>';
    tpl_identification += '<div class="form-group col-md-6"><label>Comentarios Extras:</label> <textarea class="form-control" rows="2" name="extras" {% if not edit %}disabled{% endif %} >'+ item.extra_features_detail+' </textarea></div>';
    tpl_identification += '<div class="form-group col-md-6"><label>Observaciones:</label> <textarea class="form-control" rows="2" name="observation" {% if not edit %}disabled{% endif %} >'+ item.observation+' </textarea></div>';
    tpl_identification += '<div class="form-group col-md-10"><label>Órganos:</label>'+selectOrgans+'</div>';
    {% if edit %}
      tpl_identification += '<div style="padding-top:25px;"><a href="javascript:void(0);" onclick="submitIdentification('+item.id+')" class="btn btn-primary"> <i class="fa fa-save"></i> </a></div>'
    {% endif %}
    tpl_identification += '</div></div>';
    tpl_identification += '</form></div>';
  });

  // tpl_identification += '</div>';
  $('.summaryIdentification').html(tpl_identification);

  var tpl_exams = '<div class="col-sm-12"><h6 class="form-section mt-2"> Servicios</h6></br>';
  $.each(data.entryform.analyses, function(i, item){
    tpl_exams += '<div class="alert alert-light"><b>'+ item.exam__name +'</b> <b class="pull-right">'
    if(item.patologo__first_name != null)
      tpl_exams += item.patologo__first_name+' ';
    if(item.patologo__last_name != null)
      tpl_exams += item.patologo__last_name;
    tpl_exams += '</b> <br>'+ moment(item.created_at).format("DD/MM/YYYY HH:mm") +'</div>';
  });

  tpl_exams += '</div>';
  $('.summaryExams').html(tpl_exams);

  var tpl_samples = '<div class="col-sm-12"><h6 class="form-section mt-2"> Muestras</h6></br><table class="table table-bordered table-xs">';
  tpl_samples += '<thead><tr><th width="8% !important;">Muestra</th><th>Identificación</th><th>Análisis</th><th>Órganos</th></tr></thead><tbody>';
  var patologos = {};
  $.each(data.patologos, function(i, v){
    patologos[v.id]=v.first_name+' '+v.last_name;
  })
  
  $.each(data.samples, function(i, item){
    var len = 1;
    var tpl_exams = ""
    $.each(item.sample_exams_set, function(j, v){
      len+=1;
      tpl_exams += '<tr><td>'+v.exam_name+'</td>';
      tpl_exams += '<td>'+ Object.keys(v.organ_id).map(function(k){return v.organ_id[k].name}).join(", ") +'</td></tr>';
    });
    tpl_samples += '<tr>';
    tpl_samples += '<td rowspan="'+len+'">'+ item.index +'</td>';
    tpl_samples += '<td rowspan="'+len+'">'+ item.identification.cage +'-'+item.identification.group+'</td>';
    tpl_samples += '</tr>';
    tpl_samples += tpl_exams;
    
  });

  tpl_samples += '</tbody></table></div>';
  $('.summarySamples').html(tpl_samples);

  $('#client').val(data.entryform.customer.id);
  $('#fixative').val(data.entryform.fixative.id);
  $('#specie').val(data.entryform.specie.id);
  $('#watersource').val(data.entryform.watersource.id);
  $('#larvalstage').val(data.entryform.larvalstage.id);

  $('.selectOpt').select2({'width':'100%'});
  $('.selectOrgs').select2({'width':'100%'});
  
  $('.date').datetimepicker({
      locale: 'es',
      keepOpen: false,
      format:'DD/MM/YYYY HH:mm'
    });

  // $('#datetime_sampled_at').datetimepicker({
  //     locale: 'es',
  //     keepOpen: false,
  //     format:'DD/MM/YYYY HH:mm'
  //   });
}

function submitIdentification(id){
  var data = $('#identification-'+id).serialize();
  $.ajax({
    type: "POST",
    url: '/identification/'+id,
    data: data,
    async: false,
  })
  .done(function (data) {
    response = data;
  })
  .fail(function (data) {
    console.log("Fail");
  })

}

function submitGeneralData(id){
  var data = $('#generalData').serialize();
  $.ajax({
    type: "POST",
    url: '/generalData/'+id,
    data: data,
    async: false,
  })
  .done(function (data) {
    $('#show_summary').modal('hide');
  })
  .fail(function (data) {
    console.log("Fail");
  })

}
</script> {% endblock scripts %}
